Repository FederatedAI/FATE, pull requests merged in 2019-04, with the labels that each got.

#72 1. Cleanup api for standalone mode.
  arch/api/standalone/eggroll.py
Labels: arch, code review

#75 Feature 0.2 serving
  arch/api/cluster/eggroll.py
  arch/conf/server_conf.json
  arch/fate-serving/serving/src/main/java/com/webank/ai/fate/serving/ServingServer.java
  arch/fate-serving/serving/src/main/resources/serving-server.properties
  arch/task_manager/JobManage.py
  arch/task_manager/apps/data_access.py
  arch/task_manager/apps/mlmodel.py
  arch/task_manager/apps/server_status.py
  arch/task_manager/apps/workflow.py
  arch/task_manager/job_manager.py
  arch/task_manager/service.sh
  arch/task_manager/settings.py
  arch/task_manager/task_manager_server.py
  arch/task_manager/utils/job_utils.py
  cluster-deploy/example-dir-tree/fate-serving/conf/serving-server.properties
  cluster-deploy/example-dir-tree/fate-serving/service.sh
Labels: arch, code review

#74 Feature 0.2 arch
  arch/api/cluster/eggroll.py
  cluster-deploy/example-dir-tree/services.sh
Labels: arch, code review

#76 fix hetero-lr run cluster shell.
  examples/hetero_logistic_regression/run_logistic_regression.sh
  examples/hetero_logistic_regression/run_logistic_regression_cluster.sh
Labels: bug

#80 Feature 0.2 fix secureboost bugs
  examples/hetero_secureboosting_tree/conf/load_file.json
  federatedml/toy_example/secure_add_guest.py
  federatedml/toy_example/secure_add_host.py
  federatedml/tree/hetero_decision_tree_guest.py
  federatedml/util/data_io.py
Labels: bug

#86 fix bugs of status tracer
  workflow/status_tracer_decorator.py
Labels: bug

#95 Feature 0.2 arch
  arch/api/cluster/eggroll.py
  arch/api/eggroll.py
  arch/api/standalone/eggroll.py
  arch/api/utils/iter_utils.py
  arch/core/src/main/java/com/webank/ai/fate/core/api/grpc/server/GrpcServerWrapper.java
  arch/core/src/main/java/com/webank/ai/fate/core/utils/ErrorUtils.java
  arch/core/src/main/java/com/webank/ai/fate/core/utils/RuntimeUtils.java
  arch/driver/federation/src/main/java/com/webank/ai/fate/driver/federation/transfer/api/grpc/client/ProxyClient.java
  arch/eggroll/roll/src/main/java/com/webank/ai/fate/eggroll/roll/service/async/storage/IterateProcessor.java
  arch/eggroll/roll/src/main/java/com/webank/ai/fate/eggroll/roll/service/model/OperandBroker.java
  arch/eggroll/roll/src/test/java/com/webank/ai/fate/eggroll/roll/api/grpc/client/TestRollKvServiceClient.java
  arch/eggroll/storage-service/pom.xml
  arch/eggroll/storage-service/src/main/java/com/webank/ai/fate/eggroll/storage/service/manager/LMDBStoreManager.java
  arch/eggroll/storage-service/src/main/java/com/webank/ai/fate/eggroll/storage/service/model/LMDBStore.java
  arch/eggroll/storage-service/src/main/java/com/webank/ai/fate/eggroll/storage/service/server/LMDBServicer.java
  arch/pom.xml
Labels: arch, code review

#94 accurate average gradient and loss
  federatedml/optim/gradient/logistic_gradient.py
Labels: bug

#102 feature-0.2-arch to develop
  arch/core/src/main/java/com/webank/ai/fate/core/factory/GrpcChannelFactory.java
  arch/driver/federation/src/main/java/com/webank/ai/fate/driver/federation/transfer/communication/action/SendConsumeAction.java
  arch/eggroll/roll/src/main/java/com/webank/ai/fate/eggroll/roll/service/async/storage/IterateProcessor.java
  arch/networking/proxy/src/main/java/com/webank/ai/fate/networking/proxy/factory/GrpcStubFactory.java
Labels: arch, code review

#104 Develop
  cluster-deploy/doc/Federal Learning V0.2 Deployment Guide.md
  cluster-deploy/scripts/auto-deploy.sh
  cluster-deploy/scripts/auto-packaging.sh
  cluster-deploy/scripts/configurations.sh
  cluster-deploy/scripts/fate-base/conf/my.cnf
  cluster-deploy/scripts/fate-base/env.sh
  cluster-deploy/scripts/fate-base/install_java.sh
  cluster-deploy/scripts/fate-base/install_mysql.sh
  cluster-deploy/scripts/fate-base/install_py3.sh
  cluster-deploy/scripts/fate-base/pip-dependencies/requirements.txt
  cluster-deploy/scripts/modify_json.py
Labels: deployment

#105 Develop
  cluster-deploy/README.md
  cluster-deploy/doc/Federal Learning V0.2 Deployment Guide.md
Labels: deployment

#118 update intersect and hetero-lr configure
  examples/task_manager_examples/test_hetero_lr_workflow.json
  examples/task_manager_examples/test_intersect_workflow.json
Labels: configuration
