Repository FederatedAI/FATE, pull requests merged in 2020-12, with the labels that each got.

#2377 fix doc
  python/federatedml/model_selection/data_split/README.rst
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#2367 remove quick_run.py
  examples/dsl/v1/README.rst
  examples/dsl/v1/quick_run.py
  python/fate_arch/federation/transfer_variable/README.rst
Labels: examples

#2382 clarify error message
  python/federatedml/model_base.py
Labels: federatedml

#2344 Feature 1.6 intersect gm
  examples/dsl/v2/intersect/test_intersect_job_rsa_conf.json
  examples/pipeline/intersect/pipeline-intersect-rsa.py
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/secureprotol/hash/__init__.py
  python/federatedml/secureprotol/hash/hash_factory.py
  python/federatedml/statistic/intersect/intersect.py
  python/federatedml/statistic/intersect/intersect_guest.py
  python/federatedml/statistic/intersect/intersect_host.py
  python/federatedml/statistic/intersect/test/intersection_guest_test.py
  python/federatedml/util/consts.py
  python/requirements.txt
Labels: enhancement, federatedml

#2380 Feature 1.5.1 pipeline predict
  python/fate_client/pipeline/README.rst
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/utils/invoker/job_submitter.py
  python/fate_test/fate_test/_flow_client.py
  python/fate_test/fate_test/_parser.py
  python/fate_test/fate_test/scripts/testsuite_cli.py
Labels: enhancement, federatedml

#2392 update doc
  python/fate_flow/README.md
  python/fate_flow/README_zh.md
Labels: document

#2381 edit default parameters in homo-lr
  python/fate_client/pipeline/param/logistic_regression_param.py
  python/federatedml/param/logistic_regression_param.py
Labels: federatedml

#2398 Feature 1.5.1 fateflow model
  python/fate_client/flow_client/README.rst
  python/fate_client/flow_client/README_zh.rst
  python/fate_client/flow_client/flow_cli/commands/model.py
  python/fate_client/flow_client/flow_cli/utils/cli_args.py
  python/fate_client/flow_sdk/README.rst
  python/fate_client/flow_sdk/README_zh.rst
  python/fate_client/flow_sdk/client/api/model.py
  python/fate_flow/apps/model_app.py
  python/fate_flow/controller/job_controller.py
  python/fate_flow/db/db_models.py
  python/fate_flow/operation/job_tracker.py
  python/fate_flow/pipelined_model/deploy_model.py
  python/fate_flow/pipelined_model/publish_model.py
  python/fate_flow/scheduler/dag_scheduler.py
  python/fate_flow/scheduler/dsl_parser.py
  python/fate_flow/utils/job_utils.py
  python/fate_flow/utils/model_utils.py
  python/fate_flow/utils/schedule_utils.py
  python/federatedml/protobuf/generated/pipeline_pb2.py
  python/federatedml/protobuf/proto/pipeline.proto
Labels: FATE-FLow, enhancement

#2408 Feature 1.5.1 fateflow model
  python/fate_client/flow_client/flow_cli/commands/model.py
  python/fate_client/flow_client/flow_cli/utils/cli_args.py
  python/fate_flow/apps/model_app.py
  python/fate_flow/db/db_models.py
  python/fate_flow/pipelined_model/deploy_model.py
  python/fate_flow/utils/model_utils.py
Labels: FATE-FLow

#2410 Feature 1.5.0 migrate fix
  python/fate_flow/pipelined_model/migrate_model.py
Labels: FATE-FLow

#2413 Feature 1.5.1 fateflow model
  cluster-deploy/doc/fate_on_spark_deployment_guide.md
  cluster-deploy/doc/fate_on_spark_deployment_guide_zh.md
  python/fate_flow/apps/model_app.py
  python/fate_flow/pipelined_model/deploy_model.py
  python/fate_flow/pipelined_model/migrate_model.py
Labels: FATE-FLow

#2414 Feature 1.5.1 fateflow model
  python/fate_flow/apps/model_app.py
Labels: FATE-FLow

#2405 Reduce the Images Size
  .github/workflows/docker_push.yaml
  docker-build/build_cluster_docker.sh
  docker-build/docker/base/Dockerfile
  docker-build/docker/modules/python-nn/Dockerfile
  docker-build/docker/modules/python/Dockerfile
  python/requirements.txt
Labels: docker build

#2419 fix link in doc
  python/fate_client/pipeline/component/README.rst
  python/federatedml/README_zh.rst
Labels: document

#2430 edit union output for emtpy table
  python/federatedml/statistic/union/union.py
Labels: federatedml

#2427 Feature 1.5.1 psi&sbt fix
  python/federatedml/ensemble/boosting/boosting_core/predict_cache.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/evaluation/metrics/classification_metric.py
  python/federatedml/util/validation_strategy.py
  python/requirements.txt
Labels: bug, federatedml

#2431 Feature 1.5.1 fateflow model
  python/fate_arch/common/base_utils.py
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_flow/apps/model_app.py
  python/fate_flow/db/db_models.py
  python/fate_flow/operation/job_tracker.py
  python/fate_flow/pipelined_model/deploy_model.py
  python/fate_flow/scheduler/dag_scheduler.py
  python/fate_flow/scheduler/dsl_parser.py
  python/fate_flow/utils/model_utils.py
  python/fate_flow/utils/parameter_util.py
Labels: FATE-FLow

#2429 Feature 1.5.1 fate flow api
  conf/service_conf.yaml
  python/fate_arch/common/base_utils.py
  python/fate_flow/apps/job_app.py
  python/fate_flow/apps/tracking_app.py
  python/fate_flow/operation/job_saver.py
  python/fate_flow/operation/task_executor.py
  python/fate_flow/scheduler/dag_scheduler.py
  python/fate_flow/scheduler/task_scheduler.py
  python/fate_flow/scheduling_apps/party_app.py
  python/fate_flow/utils/authentication_utils.py
Labels: FATE-FLow, bug
