Repository FederatedAI/FATE, pull requests merged in 2020-02, with the labels that each got.

#952 adjust reduce
  arch/api/table/eggroll/table_impl.py
  arch/api/table/pyspark/table_impl.py
Labels: arch

#951 add mapPartitions2
  arch/api/table/eggroll/table_impl.py
  arch/api/table/pyspark/table_impl.py
  arch/api/table/table.py
Labels: arch

#966 Feature 1.3 fate flow
  arch/api/session.py
  arch/api/utils/core.py
  arch/conf/server_conf.json
  fate_flow/apps/job_app.py
  fate_flow/apps/machine_learning_model_app.py
  fate_flow/apps/pipeline_app.py
  fate_flow/apps/schedule_app.py
  fate_flow/apps/table_app.py
  fate_flow/apps/tracking_app.py
  fate_flow/driver/dsl_parser.py
  fate_flow/driver/job_controller.py
  fate_flow/driver/job_detector.py
  fate_flow/driver/task_executor.py
  fate_flow/driver/task_scheduler.py
  fate_flow/entity/constant_config.py
  fate_flow/fate_flow_client.py
  fate_flow/fate_flow_server.py
  fate_flow/manager/data_manager.py
  fate_flow/manager/pipeline_manager.py
  fate_flow/manager/queue_manager.py
  fate_flow/manager/tracking.py
  fate_flow/service.sh
  fate_flow/settings.py
  fate_flow/utils/api_utils.py
  fate_flow/utils/job_utils.py
  fate_flow/utils/node_check_utils.py
  fate_flow/utils/session_utils.py
  fate_flow/utils/setting_utils.py
Labels: bug, enhancement

#968 add federated gmf model and modify the codes blamed in Issue(add fede…
  examples/data/citeulike_a_eval.csv
  examples/data/citeulike_a_guest.csv
  examples/data/citeulike_a_host.csv
  examples/federatedrec-examples/hetero_gmf/README.md
  examples/federatedrec-examples/hetero_gmf/hetero_gmf_testsuite.json
  examples/federatedrec-examples/hetero_gmf/test_gmf_predict.json
  examples/federatedrec-examples/hetero_gmf/test_hetero_gmf.json
  examples/federatedrec-examples/hetero_gmf/test_hetero_gmf_train.dsl
  examples/federatedrec-examples/hetero_gmf/test_hetero_gmf_train_then_predict.dsl
  examples/federatedrec-examples/hetero_gmf/test_hetero_gmf_train_then_predict.json
  examples/federatedrec-examples/hetero_gmf/upload_data_guest.json
  examples/federatedrec-examples/hetero_gmf/upload_data_host.json
  federatedml/conf/default_runtime_conf/general_mf_param.json
  federatedml/conf/setting_conf/HeteroGMF.json
  federatedml/protobuf/generated/gmf_model_meta_pb2.py
  federatedml/protobuf/generated/gmf_model_param_pb2.py
  federatedml/protobuf/proto/gmf-model-meta.proto
  federatedml/protobuf/proto/gmf-model-param.proto
  federatedml/transfer_variable/definition/transfer_conf.json
  federatedrec/__init__.py
  federatedrec/general_mf/README.md
  federatedrec/general_mf/__init__.py
  federatedrec/general_mf/hetero_gmf/__init__.py
  federatedrec/general_mf/hetero_gmf/backend.py
  federatedrec/general_mf/hetero_gmf/gmf_data_convertor.py
  federatedrec/general_mf/hetero_gmf/hetero_gmf_arbiter.py
  federatedrec/general_mf/hetero_gmf/hetero_gmf_base.py
  federatedrec/general_mf/hetero_gmf/hetero_gmf_client.py
  federatedrec/images/FedGMF.png
  federatedrec/optim/sync/__init__.py
  federatedrec/optim/sync/user_num_transfer_sync.py
  federatedrec/param/general_mf_param.py
  federatedrec/transfer_variable/definition/hetero_gmf.json
  federatedrec/transfer_variable/transfer_class/hetero_gmf_transfer_variable.py
  federatedrec/utils.py
Labels: enhancement

#990 Add abnormal detection in sparse gradient of linear model, Fix 32M problem in quantile binning
  federatedml/feature/binning/quantile_binning.py
  federatedml/feature/binning/quantile_summaries.py
  federatedml/feature/one_hot_encoder.py
  federatedml/linear_model/logistic_regression/base_logistic_regression.py
  federatedml/optim/gradient/hetero_linear_model_gradient.py
  federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  federatedml/param/encrypt_param.py
  federatedml/param/onehot_encoder_param.py
  federatedml/util/fate_operator.py
Labels: federatedml

#971 Feature 1.2.1 deploy
  cluster-deploy/scripts/default_configurations.sh
  cluster-deploy/scripts/deploy/eggroll/egg/deploy.sh
  cluster-deploy/scripts/deploy_cluster_allinone.sh
  cluster-deploy/scripts/deploy_cluster_multinode.sh
  fate_flow/manager/queue_manager.py
  fate_flow/service.sh
  federatedml/secureprotol/README.md
Labels: bug

#1005 lowdown split size to 15M
  arch/api/utils/splitable.py
Labels: arch, bug

#1010 fix bugs of secureboost 32m by adjust feature histogram format of host
  federatedml/tree/feature_histogram.py
  federatedml/tree/hetero_decision_tree_guest.py
  federatedml/tree/hetero_decision_tree_host.py
  federatedml/tree/splitter.py
  federatedml/tree/test/feature_histogram_test.py
  federatedml/util/consts.py
Labels: bug, enhancement, federatedml

#996 modify gmf documents and codes
  federatedml/conf/default_runtime_conf/general_mf_param.json
  federatedrec/general_mf/README.md
  federatedrec/images/FedGMF_desc.png
  federatedrec/images/GMF_loss.png
  federatedrec/images/GMF_pairwise_loss.png
  federatedrec/param/general_mf_param.py
  federatedrec/transfer_variable/definition/hetero_gmf.json
  federatedrec/transfer_variable/transfer_class/hetero_gmf_transfer_variable.py
Labels: configuration, document, federatedrec

#1007 Feature 1.3 hetero SVD
  examples/data/citeulike_svd_guest_1000.csv
  examples/data/citeulike_svd_host_1000.csv
  examples/federatedrec-examples/hetero_svd/README.md
  examples/federatedrec-examples/hetero_svd/hetero_svd_testsuite.json
  examples/federatedrec-examples/hetero_svd/test_hetero_svd_train_job_conf.json
  examples/federatedrec-examples/hetero_svd/test_hetero_svd_train_job_dsl.json
  examples/federatedrec-examples/hetero_svd/upload_data_guest.json
  examples/federatedrec-examples/hetero_svd/upload_data_host.json
  federatedml/conf/default_runtime_conf/svd_param.json
  federatedml/conf/setting_conf/HeteroSVD.json
  federatedml/protobuf/generated/svd_model_meta_pb2.py
  federatedml/protobuf/generated/svd_model_param_pb2.py
  federatedml/protobuf/proto/svd-model-meta.proto
  federatedml/protobuf/proto/svd-model-param.proto
  federatedml/transfer_variable/definition/transfer_conf.json
  federatedrec/README.md
  federatedrec/optim/sync/average_rate_transfer_sync.py
  federatedrec/optim/sync/user_ids_transfer_sync.py
  federatedrec/param/svd_param.py
  federatedrec/svd/README.md
  federatedrec/svd/__init__.py
  federatedrec/svd/hetero_svd/__init__.py
  federatedrec/svd/hetero_svd/backend.py
  federatedrec/svd/hetero_svd/hetero_svd_arbiter.py
  federatedrec/svd/hetero_svd/hetero_svd_base.py
  federatedrec/svd/hetero_svd/hetero_svd_client.py
  federatedrec/svd/images/fig1.png
  federatedrec/svd/images/fig10.png
  federatedrec/svd/images/fig11.png
  federatedrec/svd/images/fig12.png
  federatedrec/svd/images/fig13.png
  federatedrec/svd/images/fig2.png
  federatedrec/svd/images/fig3.png
  federatedrec/svd/images/fig4.png
  federatedrec/svd/images/fig5.png
  federatedrec/svd/images/fig6.png
  federatedrec/svd/images/fig7.png
  federatedrec/svd/images/fig8.png
  federatedrec/svd/images/fig9.png
  federatedrec/transfer_variable/definition/hetero_svd.json
  federatedrec/transfer_variable/transfer_class/hetero_svd_transfer_variable.py
Labels: enhancement, federatedrec

#1022 Develop 1.3 Fix-errors
  federatedml/feature/one_hot_encoder.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_arbiter.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  federatedml/util/component_properties.py
Labels: federatedml

#1030 changed typo
  examples/federatedrec-examples/homo_fm/README.md
Labels: document, federatedrec

#1035 Develop 1.3 lin r sparse
  examples/federatedml-1.x-examples/hetero_linear_regression/hetero_linr_testsuite.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_train_sparse_job_conf.json
Labels: document, federatedml

#1034 modify run_test by using coverage to run and exit state
  federatedml/test/run_test.sh
Labels: enhancement

#1036 Add LinR sparse example and modify federatedml' run_test script
  examples/federatedml-1.x-examples/hetero_linear_regression/hetero_linr_testsuite.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_train_sparse_job_conf.json
  federatedml/test/run_test.sh
Labels: enhancement, federatedml

#1042 update deploy scripts
  cluster-deploy/scripts/deploy/federatedml/deploy.sh
  standalone-deploy/build_standalone_docker.sh
Labels: deployment
