Repository FederatedAI/FATE, pull requests merged in 2020-04, with the labels that each got.

#1139 Fix self nonserializable
  federatedml/linear_model/poisson_regression/base_poisson_regression.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
Labels: bug, federatedml

#1141 Add partyid in feature selection proto
  federatedml/feature/hetero_feature_selection/base_feature_selection.py
  federatedml/param/feature_binning_param.py
  federatedml/protobuf/generated/feature_selection_param_pb2.py
  federatedml/protobuf/proto/feature-selection-param.proto
Labels: federatedml

#1143 update stepwise examples
  examples/federatedml-1.x-examples/hetero_stepwise/README.md
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_linr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_lr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_lr_dsl.json
Labels: document, federatedml

#1144 fix single model output
  federatedml/local_baseline/local_baseline.py
Labels: bug, federatedml

#1145 edit examples
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_linr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_lr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_poisson_conf.json
Labels: document, federatedml

#1146 rm evaluation components in cv jobs
  examples/federatedml-1.x-examples/hetero_feature_binning/hetero_binning_testsuite.json
  examples/federatedml-1.x-examples/hetero_feature_binning/test_hetero_binning_big_bin_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/hetero_lr_testsuite.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_job_dsl.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_train_job_dsl.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_lr_with_feature_engineering_dsl.json
  examples/federatedml-1.x-examples/homo_logistic_regression/homo_lr_testsuite.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_evaluate_job_dsl.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_job_dsl.json
  federatedml/feature/binning/optimal_binning/optimal_binning.py
  federatedml/model_selection/k_fold.py
  federatedml/model_selection/start_cross_validation.py
Labels: federatedml

#1147 Fix dsl
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_multi_host_train_job_dsl.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_train_job_dsl.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_train_job_dsl.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_dsl.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_homo_job_dsl.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_job_dsl.json
Labels: document, federatedml

#1160 fix bug
  arch/api/impl/based_2x/federation.py
Labels: bug

#1170 fix nn examples
  examples/federatedml-1.x-examples/homo_nn/pytorch_homo_dnn_multi_label.json
  examples/federatedml-1.x-examples/homo_nn/pytorch_homo_dnn_multi_layer.json
  examples/federatedml-1.x-examples/homo_nn/test_homo_dnn_multi_label.json
  examples/federatedml-1.x-examples/homo_nn/test_homo_dnn_multi_layer.json
  federatedml/nn/backend/pytorch/nn_model.py
Labels: bug

#1165 Feature 1.4 optimal binning fix
  federatedml/feature/binning/optimal_binning/bucket_info.py
  federatedml/feature/binning/optimal_binning/heap.py
  federatedml/feature/binning/optimal_binning/optimal_binning.py
  federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  federatedml/linear_model/linear_model_base.py
  federatedml/linear_model/logistic_regression/base_logistic_regression.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_arbiter.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  federatedml/param/feature_binning_param.py
  federatedml/param/logistic_regression_param.py
  federatedml/protobuf/proto/lr-model-param.proto
Labels: federatedml

#1180 fix bugs when no feature in host's side but guest have features and t…
  federatedml/tree/hetero_decision_tree_guest.py
Labels: bug

#1148 Develop 1.4 examples
  examples/federatedml-1.x-examples/hetero_linear_regression/hetero_linr_testsuite.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_multi_host_cv_job_dsl.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_multi_host_train_job_dsl.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_train_job_conf.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/hetero_poisson_testsuite.json
  examples/federatedml-1.x-examples/hetero_stepwise/hetero_stepwise_testsuite.json
  examples/federatedml-1.x-examples/local_baseline/README.md
  examples/federatedml-1.x-examples/local_baseline/local_baseline_testsuite.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_job_conf.json
  federatedml/local_baseline/local_baseline.py
Labels: document

#1182 Feature 1.4 add examples
  examples/federatedml-1.x-examples/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_iv_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_linear_regression/hetero_linr_testsuite.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_conf.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/hetero_lr_testsuite.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_early_stop_train_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_none_penalty_train_job_conf.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/hetero_poisson_testsuite.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/homo_lr_testsuite.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_eval_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_eval_job_dsl.json
  federatedml/linear_model/base_linear_model_arbiter.py
  federatedml/linear_model/linear_model_base.py
  federatedml/linear_model/linear_regression/base_linear_regression.py
  federatedml/linear_model/poisson_regression/base_poisson_regression.py
  federatedml/local_baseline/local_baseline.py
  federatedml/optim/gradient/hetero_linr_gradient_and_loss.py
  federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  federatedml/optim/gradient/hetero_poisson_gradient_and_loss.py
  federatedml/param/linear_regression_param.py
  federatedml/param/logistic_regression_param.py
  federatedml/param/poisson_regression_param.py
  federatedml/protobuf/generated/__init__.py
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/protobuf/generated/data_io_meta_pb2.py
  federatedml/protobuf/generated/data_io_param_pb2.py
  federatedml/protobuf/generated/feature_binning_meta_pb2.py
  federatedml/protobuf/generated/feature_binning_param_pb2.py
  federatedml/protobuf/generated/feature_scale_meta_pb2.py
  federatedml/protobuf/generated/feature_scale_param_pb2.py
  federatedml/protobuf/generated/feature_selection_meta_pb2.py
  federatedml/protobuf/generated/feature_selection_param_pb2.py
  federatedml/protobuf/generated/fm_model_meta_pb2.py
  federatedml/protobuf/generated/fm_model_param_pb2.py
  federatedml/protobuf/generated/hetero_nn_model_meta_pb2.py
  federatedml/protobuf/generated/hetero_nn_model_param_pb2.py
  federatedml/protobuf/generated/linr_model_meta_pb2.py
  federatedml/protobuf/generated/linr_model_param_pb2.py
  federatedml/protobuf/generated/lr_model_meta_pb2.py
  federatedml/protobuf/generated/lr_model_param_pb2.py
  federatedml/protobuf/generated/nn_model_meta_pb2.py
  federatedml/protobuf/generated/nn_model_param_pb2.py
  federatedml/protobuf/generated/one_vs_rest_param_pb2.py
  federatedml/protobuf/generated/onehot_meta_pb2.py
  federatedml/protobuf/generated/onehot_param_pb2.py
  federatedml/protobuf/generated/pearson_model_param_pb2.py
  federatedml/protobuf/generated/pipeline_pb2.py
  federatedml/protobuf/generated/poisson_model_meta_pb2.py
  federatedml/protobuf/generated/poisson_model_param_pb2.py
  federatedml/protobuf/generated/svd_model_meta_pb2.py
  federatedml/protobuf/generated/svd_model_param_pb2.py
  federatedml/protobuf/proto/linr-model-param.proto
  federatedml/protobuf/proto/poisson-model-param.proto
Labels: federatedml

#1185 fix issue #1184
  arch/api/utils/splitable.py
Labels: arch

#1166 add best_iteration support
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_conf.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_conf.json
  federatedml/param/linear_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: document, enhancement

#1186 Feature 1.4 homo sbt fix
  federatedml/tree/homo/homo_decision_tree_client.py
  federatedml/tree/homo/homo_secureboosting_aggregator.py
  federatedml/tree/homo/homo_secureboosting_arbiter.py
  federatedml/tree/homo/homo_secureboosting_client.py
  federatedml/util/validation_strategy.py
Labels: bug, federatedml

#1187 fix bug when host has no data to split but guest still has in trainni…
  federatedml/tree/hetero/hetero_decision_tree_guest.py
Labels: bug

#1173 Develop 1.4 intersection example
  arch/transfer_variables/auth_conf/federatedml/intersection_func.json
  examples/federatedml-1.x-examples/intersect/README.md
  examples/federatedml-1.x-examples/intersect/test_intersect_job_dsl.json
  examples/federatedml-1.x-examples/intersect/test_intersect_without_dataio_job_conf.json
  examples/federatedml-1.x-examples/intersect/test_intersect_without_dataio_job_dsl.json
  federatedml/evaluation/evaluation.py
  federatedml/feature/feature_scale/base_scale.py
  federatedml/feature/feature_scale/min_max_scale.py
  federatedml/feature/feature_scale/standard_scale.py
  federatedml/feature/feature_scale/test/min_max_scale_test.py
  federatedml/feature/feature_scale/test/standard_scale_test.py
  federatedml/param/intersect_param.py
  federatedml/param/scale_param.py
  federatedml/statistic/intersect/intersect_model.py
  federatedml/transfer_variable/transfer_class/intersection_func_transfer_variable.py
  federatedml/util/consts.py
Labels: enhancement

#1188 adjust early stop of hetero_nn
  examples/federatedml-1.x-examples/hetero_nn/test_hetero_nn_keras_with_early_stop.json
  federatedml/nn/hetero_nn/backend/hetero_nn_model.py
  federatedml/nn/hetero_nn/hetero_nn_base.py
  federatedml/nn/hetero_nn/hetero_nn_guest.py
  federatedml/protobuf/generated/hetero_nn_model_param_pb2.py
  federatedml/protobuf/proto/hetero-nn-model-param.proto
Labels: enhancement, federatedml

#1181 Feature 1.4 metric
  federatedml/evaluation/evaluation.py
  federatedml/param/boosting_tree_param.py
  federatedml/param/evaluation_param.py
  federatedml/param/scale_param.py
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
  federatedml/tree/tree_core/boosting_tree.py
  federatedml/util/consts.py
  federatedml/util/validation_strategy.py
Labels: federatedml

#1193 delete useless log
  federatedml/feature/feature_selection/iv_value_select_filter.py
Labels: federatedml

#1196 add homo checking
  federatedml/tree/homo/homo_secureboosting_client.py
  federatedml/util/validation_strategy.py
Labels: bug, federatedml

#1199 fix issue #1198
  arch/api/federation.py
  federatedml/statistic/correlation/hetero_pearson.py
  federatedml/transfer_variable/base_transfer_variable.py
Labels: bug

#1202 fix-protobuf, eval-check
  federatedml/evaluation/evaluation.py
  federatedml/model_selection/k_fold.py
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/protobuf/proto/boosting-tree-model-param.proto
  federatedml/tree/hetero/hetero_decision_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
Labels: bug

#1203 fix hetero_nn loss
  federatedml/param/hetero_nn_param.py
Labels: bug

#1204 edit validate example
  examples/federatedml-1.x-examples/hetero_linear_regression/hetero_linr_testsuite.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/hetero_poisson_testsuite.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_dsl.json
  federatedml/param/linear_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: document

#1212 add local baseline test
  federatedml/local_baseline/test/local_baseline_test.py
Labels: federatedml

#1208 Feature 1.4 stepwise test
  federatedml/model_selection/stepwise/test/stepwise_test.py
  federatedml/param/linear_regression_param.py
  federatedml/param/logistic_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: document, enhancement, federatedml

#1207 update intersection
  arch/transfer_variables/auth_conf/federatedml/intersection_func.json
  federatedml/param/intersect_param.py
  federatedml/statistic/intersect/intersect_model.py
  federatedml/transfer_variable/transfer_class/intersection_func_transfer_variable.py
  federatedml/util/consts.py
Labels: configuration

#1197 fix issue #1169
  arch/api/table/pyspark/table_impl.py
Labels: bug

#1210 Feature 1.4 add test for nn
  federatedml/nn/hetero_nn/test/__init__.py
  federatedml/nn/hetero_nn/test/paillier_tensor_test.py
  federatedml/nn/hetero_nn/test/random_number_generator_test.py
Labels: federatedml

#1195 Add email address in contributing
  CONTRIBUTING.md
Labels: federatedml

#1213 add test for pearson
  federatedml/statistic/test/hetero_pearson_test.py
Labels: federatedml

#1216 fix torch backend
  federatedml/nn/backend/pytorch/__init__.py
  federatedml/nn/backend/pytorch/nn_model.py
Labels: bug

#1218 add intersection test
  examples/federatedml-1.x-examples/intersect/test_intersect_without_dataio_job_conf.json
  federatedml/statistic/intersect/test/intersection_guest_test.py
  federatedml/statistic/intersect/test/intersection_host_test.py
Labels: configuration

#1219 fix bug
  federatedml/statistic/test/hetero_pearson_test.py
Labels: bug

#1221 fix run test error
  federatedml/secureprotol/test/encrypt_mode_test.py
  federatedml/test/run_test.sh
Labels: federatedml

#1223 Feature 1.4.0 fate flow
  fate.env
  fate_flow/apps/data_access_app.py
  fate_flow/driver/job_controller.py
  fate_flow/entity/runtime_config.py
  fate_flow/examples/test_hetero_lr_job_conf.json
  fate_flow/examples/test_predict_conf.json
  fate_flow/fate_flow_server.py
  fate_flow/manager/pipeline_manager.py
  fate_flow/manager/tracking_manager.py
  fate_flow/settings.py
Labels: FATE-FLow, bug

#1200 fix Issue 1198
  arch/api/federation.py
  federatedml/statistic/correlation/hetero_pearson.py
  federatedml/transfer_variable/base_transfer_variable.py
Labels: bug

#1224 fix model_base
  federatedml/feature/binning/optimal_binning/optimal_binning.py
  federatedml/feature/binning/quantile_binning.py
  federatedml/feature/hetero_feature_binning/base_feature_binning.py
Labels: federatedml

#1234 add logs
  federatedml/util/io_check.py
Labels: federatedml

#1231 Fix get metric
  examples/federatedml-1.x-examples/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_with_early_stopping_conf.json
  federatedml/evaluation/evaluation.py
  federatedml/param/boosting_tree_param.py
Labels: examples

#1238 add pytorch documents for 1.4 version
  examples/federatedml-1.x-examples/README.md
  examples/federatedml-1.x-examples/homo_nn/README.md
  examples/federatedml-experiment/homo_nn_arbiter_submit/test_homo_dnn_multi_label.json
  examples/federatedml-experiment/homo_nn_arbiter_submit/test_homo_nn_train_then_predict.json
  examples/federatedml-experiment/homo_nn_arbiter_submit/testsuite.json
  federatedml/nn/homo_nn/README.md
Labels: document

#1241 Feature 1.4 fix nn readme
  .gitmodules
  examples/federatedml-1.x-examples/hetero_nn/README.md
  federatedml/nn/hetero_nn/README.md
  federatedml/nn/hetero_nn/hetero_nn_guest.py
  federatedml/param/hetero_nn_param.py
Labels: federatedml

#1230 Feature 1.4 add document
  examples/federatedml-1.x-examples/hetero_linear_regression/README.md
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/README.md
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_dsl.json
  federatedml/linear_model/linear_regression/README.md
  federatedml/linear_model/poisson_regression/README.md
  federatedml/param/linear_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: document

#1243 resize stepwise example data
  examples/data/README.md
  examples/data/breast_step_a.csv
  examples/data/breast_step_b.csv
  examples/data/motor_mini_step_a.csv
  examples/data/motor_mini_step_b.csv
  examples/federatedml-1.x-examples/hetero_stepwise/README.md
  examples/federatedml-1.x-examples/hetero_stepwise/hetero_stepwise_testsuite.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_linr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_lr_conf.json
  examples/federatedml-1.x-examples/hetero_stepwise/test_hetero_stepwise_poisson_conf.json
Labels: document

#1249 Feature 1.4 check none federation
  arch/api/impl/based_1x/federation_cluster.py
  arch/api/impl/based_1x/federation_standalone.py
  arch/api/impl/based_2x/federation.py
  arch/api/session.py
  federatedml/nn/homo_nn/enter_point.py
Labels: arch

#1248 Fix stepwise feature party id info on Board
  federatedml/model_selection/stepwise/hetero_stepwise.py
  federatedml/model_selection/stepwise/test/stepwise_test.py
Labels: bug, federatedml

#1251 Feature 1.4 add document
  federatedml/local_baseline/README.md
  federatedml/param/linear_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: document

#1254 modify the partitions in data upload configurations from 10 to 48
  examples/federatedml-1.x-examples/README.md
  examples/federatedml-1.x-examples/hetero_feature_selection/upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_feature_selection/upload_data_host.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_upload_data_host.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_data_host.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_vehicle_guest.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_vehicle_host.json
  examples/federatedml-1.x-examples/hetero_nn/hetero_nn_testsuite.json
  examples/federatedml-1.x-examples/hetero_pearson/testsuite.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_upload_data_host.json
  examples/federatedml-1.x-examples/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/federatedml-1.x-examples/homo_logistic_regression/upload_data_guest.json
  examples/federatedml-1.x-examples/homo_logistic_regression/upload_data_host.json
  examples/federatedml-1.x-examples/homo_logistic_regression/upload_data_test.json
  examples/federatedml-1.x-examples/homo_nn/pytorch_testsuite.json
  examples/federatedml-1.x-examples/homo_nn/test_500m_modelsize.json
  examples/federatedml-1.x-examples/homo_nn/testsuite.json
  examples/federatedml-1.x-examples/homo_secureboost/homo_secureboost_testsuite.json
  examples/federatedml-1.x-examples/intersect/intersect_testsuite.json
  examples/federatedml-1.x-examples/multi_model_pipeline/multi_pipline_testsuite.json
  examples/federatedml-1.x-examples/union/union_testsuite.json
  examples/federatedml-1.x-examples/upload_data.json
  examples/federatedml-1.x-examples/upload_data_host.json
  examples/federatedrec-examples/hetero_fm/hetero_fm_testsuite.json
  examples/federatedrec-examples/hetero_fm/upload_data_guest.json
  examples/federatedrec-examples/hetero_fm/upload_data_host.json
  examples/federatedrec-examples/hetero_gmf/hetero_gmf_testsuite.json
  examples/federatedrec-examples/hetero_gmf/upload_data_guest.json
  examples/federatedrec-examples/hetero_gmf/upload_data_host.json
  examples/federatedrec-examples/hetero_gmf/upload_eval_guest.json
  examples/federatedrec-examples/hetero_mf/hetero_mf_testsuite.json
  examples/federatedrec-examples/hetero_mf/upload_data_guest.json
  examples/federatedrec-examples/hetero_mf/upload_data_host.json
  examples/federatedrec-examples/hetero_svd/hetero_svd_testsuite.json
  examples/federatedrec-examples/hetero_svd/upload_data_guest.json
  examples/federatedrec-examples/hetero_svd/upload_data_host.json
  examples/federatedrec-examples/hetero_svdpp/hetero_svdpp_testsuite.json
  examples/federatedrec-examples/hetero_svdpp/upload_data_guest.json
  examples/federatedrec-examples/hetero_svdpp/upload_data_host.json
  examples/federatedrec-examples/homo_fm/homo_fm_testsuite.json
  examples/federatedrec-examples/homo_fm/upload_data_guest.json
  examples/federatedrec-examples/homo_fm/upload_data_host.json
  examples/min_test_task/config/upload.json
  examples/running_tools/upload_data.json
  examples/test/demo/temp_testsuite.json
  examples/toy_example/toy_example_conf.json
Labels: examples

#1257 add binning
  federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  federatedml/feature/hetero_feature_binning/hetero_binning_host.py
Labels: federatedml

#1255 update readme
  examples/federatedml-1.x-examples/hetero_secureboost/README.md
  federatedml/tree/README.md
Labels: document

#1258 Feature 1.4 add document
  examples/federatedml-1.x-examples/hetero_linear_regression/README.md
  examples/federatedml-1.x-examples/hetero_poisson_regression/README.md
  examples/federatedml-1.x-examples/hetero_stepwise/README.md
Labels: document

#1260 Develop 1.4
  arch/api/utils/file_utils.py
  arch/conf/base_service_conf.yaml
  examples/federatedml-1.x-examples/hetero_linear_regression/README.md
  examples/federatedml-1.x-examples/hetero_poisson_regression/README.md
  examples/federatedml-1.x-examples/hetero_stepwise/README.md
  fate_flow/examples/upload_guest.json
  fate_flow/examples/upload_host.json
  fate_flow/manager/queue_manager.py
  fate_flow/service.sh
  fate_flow/settings.py
  fate_flow/utils/job_utils.py
Labels: arch, document

#1263 fix test partitions
  federatedml/feature/binning/test/base_binning_test.py
  federatedml/feature/binning/test/bucket_binning_test.py
  federatedml/feature/binning/test/quantile_binning_test.py
  federatedml/feature/test/quantile_test.py
  federatedml/optim/gradient/test/hetero_lr_gradient_test.py
Labels: bug

#1264 Feature 1.4 fix use default partition bugs
  federatedml/feature/test/sampler_test.py
  federatedml/loss/test/cross_entropy_test.py
  federatedml/loss/test/regression_loss_test.py
  federatedml/tree/test/feature_histogram_test.py
  federatedml/util/test/classify_label_checker_test.py
  federatedml/util/test/data_io_test.py
Labels: bug

#1265 Feature 1.4 remote exception handle
  arch/api/impl/based_2x/federation.py
Labels: arch

#1266 fix pearson test
  federatedml/statistic/test/hetero_pearson_test.py
Labels: test

#1268 Develop 1.4
  arch/api/impl/based_2x/federation.py
  arch/api/utils/conf_utils.py
  arch/conf/base_conf.yaml
  arch/conf/server_conf.json
  build.sh
  fate.env
  fate_flow/README.md
  fate_flow/apps/data_access_app.py
  fate_flow/apps/job_app.py
  fate_flow/fate_flow_server.py
  fate_flow/manager/queue_manager.py
  fate_flow/settings.py
  federatedml/feature/binning/test/base_binning_test.py
  federatedml/feature/binning/test/bucket_binning_test.py
  federatedml/feature/binning/test/quantile_binning_test.py
  federatedml/feature/feature_scale/test/min_max_scale_test.py
  federatedml/feature/test/quantile_test.py
  federatedml/feature/test/sampler_test.py
  federatedml/loss/test/cross_entropy_test.py
  federatedml/loss/test/regression_loss_test.py
  federatedml/optim/gradient/test/hetero_lr_gradient_test.py
  federatedml/statistic/intersect/rsa_cache/redis_adaptor.py
  federatedml/statistic/intersect/test/intersection_guest_test.py
  federatedml/statistic/intersect/test/intersection_host_test.py
  federatedml/statistic/test/hetero_pearson_test.py
  federatedml/tree/test/feature_histogram_test.py
  federatedml/util/test/classify_label_checker_test.py
  federatedml/util/test/data_io_test.py
  scripts/init_env.sh
  scripts/install_os_dependencies.sh
Labels: FATE-FLow, arch, federatedml

#1273 Feature 1.4 embed eggroll 1.14 standalone
  arch/api/__init__.py
  arch/api/impl/based_1x/build.py
  arch/api/impl/based_1x/federation_standalone.py
  arch/api/impl/based_1x/session.py
  arch/standalone/README.md
  arch/standalone/__init__.py
  arch/standalone/core.py
  arch/standalone/proto/__init__.py
  arch/standalone/proto/basic_meta_pb2.py
  arch/standalone/proto/proxy_pb2.py
  arch/standalone/proto/proxy_pb2_grpc.py
  arch/standalone/standalone/__init__.py
  arch/standalone/standalone/clustercomm.py
  arch/standalone/standalone/eggroll.py
  arch/standalone/utils/__init__.py
  arch/standalone/utils/cache_utils.py
  arch/standalone/utils/cloudpickle.py
  arch/standalone/utils/core.py
  arch/standalone/utils/file_utils.py
  arch/standalone/utils/log_utils.py
  fate_flow/utils/proto_compatibility.py
Labels: arch

#1274 fix run_test
  federatedml/model_selection/test/join_test.py
Labels: federatedml

#1275 Develop 1.4
  .env
  .gitmodules
  CONTRIBUTING.md
  README_zh.md
  RELEASE.md
  arch/api/__init__.py
  arch/api/impl/based_1x/build.py
  arch/api/impl/based_1x/federation_standalone.py
  arch/api/impl/based_1x/session.py
  arch/conf/base_conf.yaml
  arch/driver/federation/src/main/resources/log4j2.properties
  arch/standalone/README.md
  arch/standalone/__init__.py
  arch/standalone/core.py
  arch/standalone/proto/__init__.py
  arch/standalone/proto/basic_meta_pb2.py
  arch/standalone/proto/proxy_pb2.py
  arch/standalone/proto/proxy_pb2_grpc.py
  arch/standalone/standalone/__init__.py
  arch/standalone/standalone/clustercomm.py
  arch/standalone/standalone/eggroll.py
  arch/standalone/utils/__init__.py
  arch/standalone/utils/cache_utils.py
  arch/standalone/utils/cloudpickle.py
  arch/standalone/utils/core.py
  arch/standalone/utils/file_utils.py
  arch/standalone/utils/log_utils.py
  build.sh
  cluster-deploy/README.md
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-cluster_deployment_guide_install_zh.md
  cluster-deploy/scripts/deploy/eggroll/egg/deploy.sh
  cluster-deploy/scripts/deploy/fate_flow/deploy.sh
  cluster-deploy/scripts/deploy_cluster_multinode.sh
  examples/federatedml-1.x-examples/hetero_feature_selection/hetero_feature_selection_testsuite.json
  fate_flow/components/component_base.py
  fate_flow/components/model_operation_components.py
  fate_flow/db/db_models.py
  fate_flow/driver/task_executor.py
  fate_flow/entity/runtime_config.py
  fate_flow/fate_flow_server.py
  fate_flow/settings.py
  fate_flow/utils/proto_compatibility.py
  federatedml/feature/feature_selection/variance_coe_filter.py
  federatedml/model_selection/k_fold.py
  federatedml/model_selection/test/join_test.py
  federatedml/util/abnormal_detection.py
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: FATE-FLow, bug, document, federatedml

#1276 fix error
  federatedml/optim/gradient/homo_lr_gradient.py
Labels: federatedml

#1277 fix error
  federatedml/optim/gradient/homo_lr_gradient.py
Labels: federatedml

#1282 edit federatedrec
  federatedrec/general_mf/hetero_gmf/hetero_gmf_base.py
  federatedrec/general_mf/hetero_gmf/hetero_gmf_client.py
  federatedrec/matrix_factorization/hetero_matrixfactor/hetero_mf_base.py
  federatedrec/matrix_factorization/hetero_matrixfactor/hetero_mf_client.py
  federatedrec/optim/gradient/homo_fm_gradient.py
  federatedrec/svd/hetero_svd/hetero_svd_base.py
  federatedrec/svd/hetero_svd/hetero_svd_client.py
  federatedrec/svdpp/hetero_svdpp/hetero_svdpp_base.py
  federatedrec/svdpp/hetero_svdpp/hetero_svdpp_client.py
Labels: federatedml

#1281 Feature 1.4 rst docs
  README.md
  arch/api/base/table.py
  federatedml/README.rst
  federatedml/secureprotol/README.rst
  federatedrec/README.md
  federatedrec/factorization_machine/README.md
Labels: federatedml

#1284 change time-out setting for min-test
  examples/min_test_task/run_task.py
Labels: federatedml

#1286 Feature 1.4 fix init
  federatedml/local_baseline/test/__init__.py
  federatedml/model_selection/stepwise/__init__.py
  federatedml/model_selection/stepwise/test/__init__.py
  federatedml/param/linear_regression_param.py
  federatedml/param/logistic_regression_param.py
  federatedml/param/poisson_regression_param.py
Labels: federatedml

#1288 Feature 1.4 fix nn img
  federatedml/nn/hetero_nn/images/hetero_nn_backward_propagation.png
  federatedml/nn/hetero_nn/images/hetero_nn_forward_propagation.png
Labels: federatedml
