Repository FederatedAI/FATE, pull requests merged in 2020-06, with the labels that each got.

#1411 fix local baseline binary predict
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_homo_job_conf.json
  federatedml/local_baseline/local_baseline.py
Labels: bug, document, federatedml

#1415 Feature 1.4.1 evaluation update
  federatedml/evaluation/evaluation.py
  federatedml/evaluation/metric_interface.py
  federatedml/evaluation/metrics/classification_metric.py
Labels: bug, federatedml

#1422 fix bug
  arch/api/impl/based_2x/table.py
Labels: arch

#1434 Add union duplicate id support
  examples/federatedml-1.x-examples/union/README.md
  examples/federatedml-1.x-examples/union/test_union_basic_job_conf.json
  examples/federatedml-1.x-examples/union/test_union_dataio_job_dsl.json
  examples/federatedml-1.x-examples/union/test_union_job_conf.json
  examples/federatedml-1.x-examples/union/test_union_tag_value_job_conf.json
  examples/federatedml-1.x-examples/union/union_testsuite.json
  federatedml/param/union_param.py
  federatedml/statistic/union/README.rst
  federatedml/statistic/union/union.py
Labels: document, enhancement, federatedml

#1435 fix component output data no header
  fate_flow/driver/dag_scheduler.py
  fate_flow/manager/queue_manager.py
  fate_flow/manager/tracking_manager.py
  fate_flow/upgrade/1_4_0-1_4_1/upgrade.sql
Labels: FATE-FLow

#1441 Develop 1.4.1 scale precision
  federatedml/feature/feature_scale/min_max_scale.py
  federatedml/feature/feature_scale/standard_scale.py
Labels: bug

#1446 remove remote callback log
  arch/api/impl/based_2x/federation.py
Labels: arch

#1451 Develop 1.4.1 scale unittest
  federatedml/feature/feature_scale/test/min_max_scale_test.py
Labels: bug

#1443 update document of standalone-deployment
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/build_standalone_docker.sh
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#1454 Feature 1.4.1 edit travis version
  .travis.yml
  federatedml/test/run_test.sh
Labels: enhancement

#1456 Feature 1.4.1 update doc
  .gitmodules
  RELEASE.md
  federatedml/nn/hetero_nn/README.rst
Labels: document

#1426 enhance pearson
  examples/federatedml-1.x-examples/hetero_pearson/testsuite.json
  federatedml/param/pearson_param.py
  federatedml/secureprotol/spdz/spdz.py
  federatedml/secureprotol/spdz/tensor/fixedpoint_table.py
  federatedml/secureprotol/spdz/utils/random_utils.py
  federatedml/statistic/correlation/hetero_pearson.py
Labels: federatedml

#1471 fix depth bug in sbt, add header shuffle in sbt, missing fill in tag:…
  federatedml/feature/sparse_vector.py
  federatedml/statistic/data_overview.py
  federatedml/tree/hetero/hetero_decision_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_host.py
  federatedml/util/data_io.py
Labels: bug, federatedml

#1404 no deps task first
  examples/test/run_test.py
Labels: examples

#1475 fix node dispatch bug when leaf in max depth
  federatedml/tree/hetero/hetero_decision_tree_guest.py
Labels: bug

#1478 remove flow_test from codecov
  federatedml/test/run_test.sh
Labels: bug

#1480 Feature 1.4.2 sbt dataio enhance
  .gitmodules
  fate.env
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_host.py
Labels: federatedml

#1482 export model only if `need_run` is True
  federatedml/statistic/correlation/hetero_pearson.py
Labels: bug

#1521 a balance version of beaver triplets generator
  examples/federatedml-1.x-examples/hetero_pearson/test_util/README.md
  examples/federatedml-1.x-examples/hetero_pearson/test_util/make_fake_data_testsuite.py
  examples/federatedml-1.x-examples/hetero_pearson/test_util/test_dsl.json
  federatedml/secureprotol/spdz/beaver_triples/he.py
Labels: federatedml

#1523 Feature 1.4.2 fix iv bugs
  federatedml/feature/feature_selection/iv_top_k_filter.py
  federatedml/feature/feature_selection/iv_value_select_filter.py
Labels: bug, federatedml

#1527 update deploy scripts
  cluster-deploy/build.sh
  standalone-deploy/build_standalone_docker.sh
Labels: deploy

#1529 Feature 1.4.2 add flow api test
  federatedml/test/run_test.sh
Labels: enhancement
