Repository FederatedAI/FATE, pull requests merged in 2020-08, with the labels that each got.

#1643 Feature 1.5 ensemble and ftl
  arch/transfer_variables/auth_conf/federatedml/ftl_transfer_variable.json
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_comm_eff_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_dsl.json
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_encrypted_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_param.json
  federatedml/conf/default_runtime_conf/ftl_param.json
  federatedml/conf/setting_conf/FTL.json
  federatedml/ensemble/__init__.py
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_arbiter.py
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/splitter.py
  federatedml/ensemble/boosting/boosting_core/boosting.py
  federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/ensemble/boosting/homo/homo_secureboost_arbiter.py
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  federatedml/evaluation/evaluation.py
  federatedml/hetero_ftl/ftl_base.py
  federatedml/hetero_ftl/ftl_dataloder.py
  federatedml/hetero_ftl/ftl_guest.py
  federatedml/hetero_ftl/ftl_host.py
  federatedml/hetero_ftl/test/nn_initialize_code.py
  federatedml/hetero_ftl/test/test_batch_update_grads.py
  federatedml/hetero_ftl/test/test_paillier_tensor.py
  federatedml/hetero_ftl/test/tf-keras-playground.py
  federatedml/model_base.py
  federatedml/nn/backend/tf_keras/nn_model.py
  federatedml/nn/hetero_nn/backend/paillier_tensor.py
  federatedml/param/__init__.py
  federatedml/param/boosting_param.py
  federatedml/param/boosting_tree_param.py
  federatedml/param/ftl_param.py
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/protobuf/generated/ftl_model_meta_pb2.py
  federatedml/protobuf/generated/ftl_model_param_pb2.py
  federatedml/protobuf/proto/boosting-tree-model-meta.proto
  federatedml/protobuf/proto/boosting-tree-model-param.proto
  federatedml/protobuf/proto/ftl-model-meta.proto
  federatedml/protobuf/proto/ftl-model-param.proto
  federatedml/transfer_variable/transfer_class/ftl_transfer_variable_transfer_variable.py
  federatedml/transfer_variable/transfer_class/hetero_ftl_transfer_variable.py
  federatedml/util/validation_strategy.py
  pipeline/component/hetero_secureboost.py
  pipeline/component/homo_secureboost.py
Labels: bug, federatedml

#1645 Feature 1.5 data split fix
  federatedml/conf/default_runtime_conf/data_split_param.json
  federatedml/param/data_split_param.py
Labels: bug, federatedml

#1646 Feature 1.5 predict cache
  federatedml/model_base.py
  federatedml/util/data_io.py
Labels: enhancement, federatedml

#1648 fix schema none error
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
Labels: bug, federatedml

#1652 Feature 1.5 edit dsl and conf
  .gitmodules
  README.md
  examples/federatedml-1.x-examples/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_eval_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_job_dsl.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_manually_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_manually_left_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_multi_host_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_multi_iso_model_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_percentage_value_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_select_cols_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_select_cols_names_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_iv_topk_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_iv_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_feature_selection/upload_data_host.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_validate_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_validate_job_dsl.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_cv_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_evaluate_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_eval_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_job_conf.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_multi_host_job_conf.json
  examples/federatedml-1.x-examples/homo_onehot/train_job_conf.json
  examples/federatedml-1.x-examples/homo_onehot/train_job_dsl.json
  examples/federatedml-1.x-examples/quick_run.py
  fate_flow/utils/parameter_util.py
  federatedml/conf/default_runtime_conf/data_io_param.json
  federatedml/conf/default_runtime_conf/feature_binning_param.json
  federatedml/conf/default_runtime_conf/feature_selection_param.json
  federatedml/conf/default_runtime_conf/logistic_regression_param.json
  federatedml/conf/default_runtime_conf/onehot_encoder_with_alignment_param.json
  federatedml/conf/default_runtime_conf/scale_param.json
  federatedml/feature/feature_selection/filter_factory.py
  federatedml/param/statistics_param.py
  federatedml/statistic/data_statistics.py
  federatedml/util/component_properties.py
Labels: bug, enhancement, federatedml

#1650 Feature 1.5 header align fix
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  federatedml/model_selection/stepwise/hetero_stepwise.py
  federatedml/statistic/data_overview.py
  pipeline/demo/hetero_stepwise/pipeline-stepwise-lr.py
Labels: bug, federatedml

#1654 Add data_statics component
  examples/min_test_task/config/test_hetero_lr_train_job_conf.json
  examples/min_test_task/config/test_secureboost_train_binary_conf.json
  examples/scripts/min_test_config.json
  examples/scripts/upload_default_data.py
  pipeline/component/data_statistics.py
  pipeline/demo/data_statistics/__init__.py
  pipeline/demo/data_statistics/pipeline-data_statistics.py
Labels: federatedml

#1661 remove sensitive info of guest sending to host
  federatedml/tree/hetero/hetero_decision_tree_guest.py
Labels: bug, enhancement

#1663 Develop 1.4.3
  federatedml/tree/hetero/hetero_decision_tree_guest.py
Labels: bug, enhancement, federatedml

#1664 edit fate_version
  fate.env
Labels: document

#1667 update deploy document
  .travis.yml
  cluster-deploy/build.md
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: deployment

#1680 edit release note of fate-v1.4.3
  RELEASE.md
Labels: document

#1681 ensemble bug fix
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  federatedml/util/consts.py
Labels: bug, enhancement

#1682 Update FATE-v1.4.3
  .travis.yml
  RELEASE.md
  cluster-deploy/README.md
  cluster-deploy/README.rst
  cluster-deploy/build.md
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.rst
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.md
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.rst
  cluster-deploy/doc/Fate_step_by_step_install_zh.md
  cluster-deploy/doc/Fate_step_by_step_install_zh.rst
  docker-build/.env
  fate.env
  federatedml/tree/hetero/hetero_decision_tree_guest.py
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: bug

#1683 fix json non-serializable in local baseline summary
  federatedml/local_baseline/local_baseline.py
Labels: bug, federatedml

#1686 fix
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/protobuf/proto/boosting-tree-model-param.proto
Labels: federatedml

#1688 abnormal detect between str and int type input in onehot
  federatedml/feature/homo_onehot/homo_ohe_base.py
  federatedml/feature/one_hot_encoder.py
Labels: federatedml

#1655 Feature 1.5 data split empty table
  federatedml/model_selection/data_split/data_split.py
Labels: enhancement, federatedml

#1668 Feature 1.5 add doc
  examples/federatedml-1.x-examples/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_complete_secure_conf.json
  federatedml/conf/default_runtime_conf/boosting_tree_param.json
  federatedml/ensemble/README.md
  federatedml/ensemble/README.rst
  federatedml/ensemble/boosting/boosting_core/predict_cache.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/ensemble/images/__init__.py
  federatedml/ensemble/images/complete_secure.png
  federatedml/ensemble/images/federated_inference.png
  federatedml/ensemble/images/homo_fit.png
  federatedml/ensemble/images/homo_framework.png
  federatedml/ensemble/images/layered_procedure.png
  federatedml/ensemble/images/layered_tree.png
  federatedml/ensemble/images/mix_procedure.png
  federatedml/ensemble/images/mix_tree.png
  federatedml/ensemble/images/secure_agg.png
  federatedml/ensemble/images/secureboost.png
  federatedml/ensemble/images/split_finding.png
  federatedml/ensemble/images/tree_structure.png
  federatedml/feature/feature_selection/model_adaptor/tree_adapter.py
  federatedml/hetero_ftl/README.rst
  federatedml/hetero_ftl/images/architecture.png
  federatedml/hetero_ftl/images/samples.png
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/statistic/psi/README.rst
Labels: federatedml

#1689 fix label info
  federatedml/model_selection/data_split/data_split.py
Labels: bug, federatedml

#1691 remove raw intersection save_as
  federatedml/statistic/intersect/intersect.py
Labels: deployment

#1692 Bugfix 1.5.0 standalone pickle
  fate_arch/computing/spark/_table.py
  fate_arch/standalone/_standalone.py
Labels: bug

#1693 Feature 1.5 ftl init fix
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_comm_eff_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_encrypted_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_binary_multi_host_conf.json
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
Labels: federatedml

#1690 Feature 1.5 ensemble bug fix
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_layered_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_layered_multiclass_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_layered_regression_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_mix_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_mix_multi_host_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_mix_multiclass_conf.json
  examples/federatedml-1.x-examples/hetero_fast_secureboost/test_fast_sbt_mix_regression_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_testsuite.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_comm_eff_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_conf.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_encrypted_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_early_stop_binary_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_binary_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_binary_with_missing_value_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_multi_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_regression_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_regression_multi_host_conf.json
  examples/federatedml-1.x-examples/hetero_secureboost/test_secureboost_train_with_early_stopping_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_binary_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_binary_multi_host_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_binary_with_missing_value_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_multi_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_regression_conf.json
  federatedml/conf/default_runtime_conf/hetero_sbt_param.json
  federatedml/conf/default_runtime_conf/homo_sbt_param.json
  federatedml/conf/setting_conf/HeteroFastSecureBoost.json
  federatedml/conf/setting_conf/HeteroSecureBoost.json
  federatedml/conf/setting_conf/HomoSecureboost.json
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  federatedml/ensemble/boosting/boosting_core/predict_cache.py
  federatedml/statistic/feature_statistic/feature_statistic.py
Labels: federatedml

#1696 update ftl predict
  examples/federatedml-1.x-examples/hetero_ftl/hetero_ftl_testsuite.json
  examples/federatedml-1.x-examples/hetero_ftl/test_ftl_predict.json
Labels: bug, federatedml

#1698 Feature 1.5 examples fix
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_lr_with_feature_engineering_job_conf.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_job_conf.json
  fate_flow/scheduler/dsl_parser.py
  federatedml/feature/sampler.py
Labels: bug, examples, federatedml

#1701 Feature 1.5 examples fix
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_lr_with_feature_engineering_job_conf.json
  fate_flow/scheduler/dsl_parser.py
  fate_flow/utils/dsl_exception.py
  federatedml/feature/binning/optimal_binning/optimal_binning.py
  federatedml/feature/hetero_feature_binning/base_feature_binning.py
  federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  federatedml/feature/homo_onehot/homo_ohe_base.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  federatedml/protobuf/generated/feature_binning_param_pb2.py
  federatedml/protobuf/proto/feature-binning-param.proto
  federatedml/transfer_variable/auth_conf/homo_one_hot_transfer_variable.json
  federatedml/transfer_variable/transfer_class/homo_onehot_transfer_variable.py
Labels: federatedml

#1641 fix quick_run.py
  examples/federatedml-1.x-examples/quick_run.py
Labels: federatedml

#1704 edit dsl parser to support parse input of reader
  fate_flow/scheduler/dsl_parser.py
  fate_flow/utils/parameter_util.py
Labels: FATE-FLow, bug, federatedml

#1712 fix bug
  federatedml/nn/homo_nn/enter_point.py
  federatedml/nn/homo_nn/nn_model.py
Labels: bug, federatedml

#1711 fix special KeyError case in in federation
  fate_arch/federation/transfer_variable/_transfer_variable.py
  fate_arch/session/_parties.py
Labels: arch, bug

#1709 Feature 1.5 tranvar and path fix
  federatedml/hetero_ftl/ftl_base.py
  federatedml/hetero_ftl/ftl_host.py
  federatedml/protobuf/generated/boosting_tree_model_meta_pb2.py
  federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  federatedml/transfer_variable/transfer_class/ftl_transfer_variable_transfer_variable.py
Labels: federatedml

#1708 implement fate testsuite
  examples/testsuite/.gitignore
  examples/testsuite/DEV_README.rst
  examples/testsuite/README.rst
  examples/testsuite/fate_testsuite/__init__.py
  examples/testsuite/fate_testsuite/_ascii.py
  examples/testsuite/fate_testsuite/_client.py
  examples/testsuite/fate_testsuite/_config.py
  examples/testsuite/fate_testsuite/_flow_client.py
  examples/testsuite/fate_testsuite/_io.py
  examples/testsuite/fate_testsuite/_parser.py
  examples/testsuite/fate_testsuite/cli.py
  examples/testsuite/pyproject.toml
Labels: examples, test

#1717 board display adaption
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
Labels: bug

#1716 fix lr config
  examples/federatedml-1.x-examples/data_split/test_hetero_data_split_job_conf.json
  examples/federatedml-1.x-examples/data_split/test_hetero_data_split_job_dsl.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_ovr_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_sparse_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_one_vs_rest_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_data_guest.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_data_host.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_vehicle_guest.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/upload_vehicle_host.json
  fate_flow/utils/parameter_util.py
  federatedml/param/dataio_param.py
  pipeline/backend/config.py
  pipeline/demo/hetero_pearson/_common_component.py
  pipeline/demo/hetero_pearson/pipeline-hetero-pearson-sole.py
  pipeline/demo/hetero_pearson/pipeline-hetero-pearson.py
  pipeline/demo/homo_feature_selection/pipeline-homo-feature-selection.py
  pipeline/demo/homo_lr/pipeline-homo-lr.py
  pipeline/utils/logger.py
  pipeline/utils/tools.py
Labels: federatedml

#1718 Feature 1.5.0 system engineering pipeline adjust
  federatedml/linear_model/logistic_regression/base_logistic_regression.py
Labels: federatedml

#1719 Feature 1.5 ftl
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_dsl.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_binary_multi_host_conf.json
  examples/federatedml-1.x-examples/psi/psi_testsuite.json
  federatedml/conf/setting_conf/FTL.json
  federatedml/transfer_learning/__init__.py
  federatedml/transfer_learning/hetero_ftl/README.rst
  federatedml/transfer_learning/hetero_ftl/__init__.py
  federatedml/transfer_learning/hetero_ftl/ftl_base.py
  federatedml/transfer_learning/hetero_ftl/ftl_dataloder.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/ftl_host.py
  federatedml/transfer_learning/hetero_ftl/images/architecture.png
  federatedml/transfer_learning/hetero_ftl/images/samples.png
  federatedml/transfer_learning/hetero_ftl/test/__init__.py
  federatedml/transfer_learning/hetero_ftl/test/nn_initialize_code.py
  federatedml/transfer_learning/hetero_ftl/test/test_batch_update_grads.py
  federatedml/transfer_learning/hetero_ftl/test/test_paillier_tensor.py
  federatedml/transfer_learning/hetero_ftl/test/tf-keras-playground.py
Labels: federatedml

#1720 Feature 1.5.0 system engineering pipeline adjust
  federatedml/model_selection/stepwise/hetero_stepwise.py
  federatedml/util/data_io.py
  pipeline/backend/config.py
  pipeline/component/hetero_nn.py
  pipeline/demo/upload/__init__.py
  pipeline/demo/upload/pipeline-upload.py
  pipeline/logs/__init__.py
Labels: bug, federatedml

#1721 Feature 1.5 summary fix
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  federatedml/evaluation/evaluation.py
  federatedml/statistic/psi/psi.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/ftl_host.py
Labels: federatedml

#1722 Feature 1.5.0 system engineering pipeline adjust
  federatedml/README.rst
  federatedml/linear_model/linear_regression/base_linear_regression.py
  federatedml/linear_model/poisson_regression/base_poisson_regression.py
  pipeline/demo/hetero_nn/pipeline-hetero-nn-train-binary.py
  pipeline/demo/hetero_nn/pipeline-hetero-nn-train-multi.py
  pipeline/demo/run_pipeline_demo.py
Labels: federatedml

#1724 Feature 1.5.0 system engineering pipeline adjust
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_train_job_conf.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_train_job_dsl.json
  federatedml/local_baseline/local_baseline.py
  pipeline/demo/intersect/pipeline-intersection-with-dataio.py
Labels: document, federatedml

#1723 fix homo predict
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
Labels: federatedml

#1725 Feature 1.5.0 system engineering pipeline adjust
  examples/federatedml-1.x-examples/homo_onehot/train_job_conf.json
  federatedml/README.rst
  federatedml/feature/README.rst
  federatedml/feature/one_hot_encoder.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_base.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  federatedml/optim/optimizer.py
  federatedml/optim/test/optimizer_test.py
  federatedml/param/logistic_regression_param.py
  federatedml/param/onehot_encoder_with_alignment_param.py
  pipeline/demo/homo_lr/pipeline-homo-lr-fedprox.py
Labels: federatedml

#1727 Feature 1.5.0 system engineering
  fate_client/pipeline/demo/data_statistics/pipeline-data_statistics.py
  fate_client/pipeline/demo/hetero_fast_sbt/pipeline-hetero-sbt-layered.py
  fate_client/pipeline/demo/hetero_fast_sbt/pipeline-hetero-sbt-mix.py
  fate_client/pipeline/demo/hetero_feature_binning/pipeline-hetero-binning-optimal.py
  fate_client/pipeline/demo/hetero_feature_binning/pipeline-hetero-binning-quantile.py
  fate_client/pipeline/demo/hetero_feature_selection/pipeline-hetero-feature-selection.py
  fate_client/pipeline/demo/hetero_ftl/pipeline-hetero-ftl-demo.py
  fate_client/pipeline/demo/hetero_lr/pipeline-lr-cv.py
  fate_client/pipeline/demo/hetero_lr/pipeline-lr-multi-host.py
  fate_client/pipeline/demo/hetero_lr/pipeline-lr-ovr.py
  fate_client/pipeline/demo/hetero_lr/pipeline-lr-validate.py
  fate_client/pipeline/demo/hetero_nn/pipeline-hetero-nn-demo.py
  fate_client/pipeline/demo/hetero_sbt/pipeline-hetero-sbt.py
  fate_client/pipeline/demo/homo_feature_selection/pipeline-homo-feature-selection.py
  fate_client/pipeline/demo/homo_lr/pipeline-homo-lr-cv.py
  fate_client/pipeline/demo/homo_lr/pipeline-homo-lr.py
  fate_client/pipeline/demo/homo_nn/pipeline-homo-nn.py
  fate_client/pipeline/demo/homo_sbt/pipeline-homo-sbt.py
  fate_client/pipeline/demo/intersect/pipeline-intersection-with-dataio.py
  fate_client/pipeline/demo/psi/pipeline-psi.py
Labels: document, federatedml

#1728 fix fedprox
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_job_fedprox_conf.json
  federatedml/optim/optimizer.py
Labels: federatedml

#1729 Feature 1.5 remove debug code
  federatedml/ensemble/README.rst
  federatedml/statistic/psi/README.rst
  federatedml/transfer_learning/hetero_ftl/ftl_base.py
Labels: federatedml

#1731 es name fix
  federatedml/ensemble/boosting/boosting_core/boosting.py
  federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
Labels: federatedml

#1732 psi dataset fix
  examples/federatedml-1.x-examples/psi/psi_cpn_conf.json
  examples/federatedml-1.x-examples/psi/psi_testsuite.json
Labels: federatedml

#1735 remove redundant
  federatedml/ensemble/boosting/boosting_core/boosting.py
Labels: federatedml

#1736 Feature 1.5 fix binning
  examples/federatedml-1.x-examples/hetero_logistic_regression/hetero_lr_testsuite.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_spark_backend_job_conf.json
  federatedml/README.rst
  federatedml/feature/binning/base_binning.py
  federatedml/feature/hetero_feature_binning/hetero_binning_host.py
Labels: federatedml

#1737 fix ftl
  fate_client/pipeline/component/hetero_ftl.py
  fate_client/pipeline/demo/hetero_ftl/pipeline-hetero-ftl-demo.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/ftl_host.py
Labels: federatedml

#1738 Feature 1.5.0 system engineering
  fate_arch/computing/eggroll/_csession.py
  fate_arch/computing/standalone/_csession.py
  fate_arch/computing/standalone/_table.py
  fate_arch/standalone/_standalone.py
  fate_arch/storage/_session.py
  fate_arch/storage/standalone/_session.py
  fate_arch/storage/standalone/_table.py
  fate_client/pipeline/demo/hetero_linr/pipeline-hetero-linr-cv.py
  fate_client/pipeline/demo/hetero_linr/pipeline-hetero-linr-multi-host-cv.py
  fate_client/pipeline/demo/hetero_linr/pipeline-hetero-linr-multi-host.py
  fate_client/pipeline/demo/hetero_poisson/pipeline-hetero-poisson-cv.py
  fate_client/pipeline/demo/hetero_poisson/pipeline-hetero-poisson-sparse.py
  fate_client/pipeline/demo/hetero_poisson/pipeline-hetero-poisson-validate.py
  fate_client/pipeline/demo/hetero_poisson/pipeline-hetero-poisson.py
  fate_client/pipeline/demo/hetero_stepwise/pipeline-stepwise-linr.py
  fate_client/pipeline/demo/hetero_stepwise/pipeline-stepwise-lr.py
  fate_client/pipeline/demo/hetero_stepwise/pipeline-stepwise-poisson.py
  fate_client/pipeline/demo/local_baseline/pipeline-local-baseline-homo.py
  fate_client/pipeline/demo/run_pipeline_demo.py
  fate_client/pipeline/demo/upload/pipeline-upload.py
  fate_client/pipeline/utils/invoker/job_submitter.py
  fate_client/pipeline/utils/logger.py
  fate_flow/components/reader.py
Labels: federatedml

#1741 fix toctree
  federatedml/README.rst
  federatedml/README_zh.rst
Labels: document

#1745 fix param
  federatedml/param/__init__.py
Labels: bug

#1744 Feature 1.4.5 fate flow
  examples/min_test_task/README.rst
  examples/min_test_task/run_task.py
  fate_flow/apps/table_app.py
  fate_flow/apps/tracking_app.py
Labels: federatedml

#1742 update federatedml doc
  federatedml/README.rst
  federatedml/README_zh.rst
Labels: document

#1749 fix pipeline split zero error
  federatedml/model_selection/data_split/README.rst
  federatedml/model_selection/data_split/data_split.py
  federatedml/model_selection/data_split/hetero_data_split.py
  federatedml/model_selection/data_split/homo_data_split.py
Labels: bug, federatedml

#1746 fix header align schema
  federatedml/statistic/data_overview.py
Labels: bug, federatedml

#1757 fix check label bug
  federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
Labels: bug

#1758 Feature 1.5 param fix
  federatedml/ensemble/boosting/homo/homo_secureboost_arbiter.py
  federatedml/transfer_learning/hetero_ftl/ftl_base.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/ftl_host.py
  federatedml/transfer_variable/auth_conf/ftl_transfer_variable.json
  federatedml/transfer_variable/transfer_class/ftl_transfer_variable.py
Labels: federatedml

#1761 use is table
  federatedml/model_base.py
  federatedml/util/component_properties.py
  federatedml/util/io_check.py
  federatedml/util/schema_check.py
Labels: federatedml

#1762 fix summary and selection config
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_eval_selection_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_multi_iso_model_conf.json
  federatedml/linear_model/base_linear_model_arbiter.py
  federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  federatedml/model_selection/indices.py
  federatedml/model_selection/k_fold.py
  federatedml/one_vs_rest/one_vs_rest.py
Labels: federatedml

#1771 Feature 1.5 logger path
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_arbiter.py
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/criterion.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/decision_tree.py
  federatedml/ensemble/boosting/boosting_core/boosting.py
  federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  federatedml/ensemble/boosting/boosting_core/homo_boosting_aggregator.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_plan.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/ensemble/boosting/homo/homo_secureboost_arbiter.py
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  federatedml/ensemble/boosting/homo/homo_secureboosting_aggregator.py
  federatedml/evaluation/evaluation.py
  federatedml/evaluation/metric_interface.py
  federatedml/statistic/feature_statistic/feature_statistic.py
  federatedml/statistic/intersect/rsa_cache/db_models.py
  federatedml/statistic/intersect/rsa_cache/redis_adaptor.py
  federatedml/statistic/psi/psi.py
  federatedml/transfer_learning/hetero_ftl/ftl_base.py
  federatedml/transfer_learning/hetero_ftl/ftl_dataloder.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/ftl_host.py
  federatedml/util/homo_label_encoder.py
  federatedml/util/validation_strategy.py
Labels: federatedml

#1773 Feature 1.5 psi fix
  federatedml/model_base.py
  federatedml/statistic/psi/psi.py
  federatedml/util/abnormal_detection.py
Labels: federatedml

#1775 Feature 1.5 objective default
  federatedml/param/boosting_param.py
Labels: federatedml

#1778 Feature 1.5 overlap check
  federatedml/transfer_learning/hetero_ftl/ftl_base.py
Labels: federatedml

#1780 Feature 1.5 fix session import
  federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_histogram.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/splitter.py
  federatedml/evaluation/test/test_psi_score.py
  federatedml/feature/binning/test/base_binning_test.py
  federatedml/feature/binning/test/bucket_binning_test.py
  federatedml/feature/binning/test/quantile_binning_test.py
  federatedml/feature/binning/test/test_quantile_binning_module/hetero_feature_binning_test.py
  federatedml/feature/binning/test/test_quantile_binning_module/homo_feature_binning_test.py
  federatedml/feature/feature_scale/test/min_max_scale_test.py
  federatedml/feature/feature_scale/test/standard_scale_test.py
  federatedml/feature/feature_selection/test/manually_filter_test.py
  federatedml/feature/feature_selection/test/outlier_filter_test.py
  federatedml/feature/feature_selection/test/percentage_value_filter_test.py
  federatedml/feature/feature_selection/test/unique_value_filter_test.py
  federatedml/feature/feature_selection/test/variance_coe_filter_test.py
  federatedml/feature/sampler.py
  federatedml/feature/test/imputer_test.py
  federatedml/feature/test/ohe_alignment_test.py
  federatedml/feature/test/one_hot_test.py
  federatedml/feature/test/quantile_test.py
  federatedml/feature/test/sampler_test.py
  federatedml/feature/test/test_new_binning/hetero_feature_binning_host_test.py
  federatedml/feature/test/test_new_feature_selection/hetero_feature_selection_guest_test.py
  federatedml/feature/test/test_new_feature_selection/hetero_feature_selection_host_test.py
  federatedml/framework/homo/test/blocks/test_utils.py
  federatedml/framework/test/homo/homo_test_sync_base.py
  federatedml/local_baseline/test/local_baseline_test.py
  federatedml/loss/test/cross_entropy_test.py
  federatedml/loss/test/regression_loss_test.py
  federatedml/model_selection/data_split/test/data_split_test.py
  federatedml/model_selection/stepwise/test/stepwise_test.py
  federatedml/model_selection/test/KFold_test.py
  federatedml/model_selection/test/mini_batch_test.py
  federatedml/secureprotol/test/encrypt_mode_test.py
  federatedml/statistic/intersect/intersect_guest.py
  federatedml/statistic/intersect/intersect_host.py
  federatedml/statistic/intersect/intersect_model.py
  federatedml/statistic/intersect/repeat_id_process.py
  federatedml/statistic/intersect/rsa_cache/cache_utils.py
  federatedml/statistic/intersect/test/intersection_guest_test.py
  federatedml/statistic/intersect/test/intersection_host_test.py
  federatedml/statistic/test/hetero_pearson_test.py
  federatedml/statistic/test/statics_test.py
  federatedml/statistic/test/statistic_cpn_test.py
  federatedml/toy_example/secure_add_guest.py
  federatedml/toy_example/secure_add_host.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  federatedml/transfer_learning/hetero_ftl/test/test_batch_update_grads.py
  federatedml/util/rsa.py
  federatedml/util/test/classify_label_checker_test.py
  federatedml/util/test/data_io_test.py
Labels: federatedml

#1783 remove session.table typing
  federatedml/statistic/intersect/intersect_host.py
  federatedml/statistic/intersect/intersect_model.py
  federatedml/statistic/intersect/repeat_id_process.py
Labels: bug, federatedml

#1782 typo fix
  federatedml/evaluation/metric_interface.py
Labels: federatedml

#1781 fix read from config
  examples/pipeline/data_split/pipeline-hetero-data-split-multi-model.py
  examples/pipeline/data_split/pipeline-hetero-data-split.py
Labels: document

#1784 Feature 1.5 psi fix
  examples/federatedml-1.x-examples/psi/psi_cpn_conf.json
  federatedml/param/dataio_param.py
Labels: federatedml

#1785 Feature 1.5.0 system engineering
  fate_arch/computing/spark/_table.py
  fate_arch/standalone/_standalone.py
Labels: arch, bug
