Repository FederatedAI/FATE, pull requests merged in 2020-07, with the labels that each got.

#1532 add work mode explanation
  examples/scripts/README.rst
Labels: federatedml

#1539 edit release note of fate-1.4.2
  .travis.yml
  RELEASE.md
Labels: document

#1534 update deploy scripts
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: deploy

#1536 fix keras bug in homo nn backend
  federatedml/nn/backend/tf_keras/nn_model.py
Labels: bug

#1547 change --add_sbt parameters
  examples/min_test_task/run_task.py
Labels: federatedml

#1553 update deploy document
  cluster-deploy/build.md
Labels: document

#1554 replace toc with list for secure protol
  federatedml/README.rst
Labels: document

#1495 Feature 1.4.2 mnist example
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/README.md
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/build_conf.py
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/download_data.py
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/mnist_conf_temperate.json
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/mnist_dsl.json
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/upload_test.json
  examples/federatedml-1.x-examples/homo_nn/mnist_demo/upload_train.json
Labels: document, examples

#1562 Update README.rst
  examples/federatedml-1.x-examples/README.rst
Labels: document

#1567 Feature 1.5 predict util
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  federatedml/local_baseline/local_baseline.py
  federatedml/model_base.py
  federatedml/param/local_baseline_param.py
  federatedml/protobuf/generated/lr_model_meta_pb2.py
  federatedml/protobuf/proto/lr-model-meta.proto
Labels: enhancement, federatedml

#1569 Feature 1.5 data split
  arch/transfer_variables/auth_conf/federatedml/data_split_transfer_variable.json
  examples/federatedml-1.x-examples/data_split/README.md
  examples/federatedml-1.x-examples/data_split/data_split_testsuite.json
  examples/federatedml-1.x-examples/data_split/test_hetero_data_split_job_conf.json
  examples/federatedml-1.x-examples/data_split/test_hetero_data_split_job_dsl.json
  examples/federatedml-1.x-examples/data_split/test_homo_data_split_job_conf.json
  examples/federatedml-1.x-examples/data_split/test_homo_data_split_job_dsl.json
  federatedml/conf/default_runtime_conf/data_split_param.json
  federatedml/conf/setting_conf/HeteroDataSplit.json
  federatedml/conf/setting_conf/HomoDataSplit.json
  federatedml/model_selection/data_split/README.rst
  federatedml/model_selection/data_split/data_split.py
  federatedml/model_selection/data_split/hetero_data_split.py
  federatedml/model_selection/data_split/homo_data_split.py
  federatedml/model_selection/data_split/test/__init__.py
  federatedml/model_selection/data_split/test/data_split_test.py
  federatedml/param/base_param.py
  federatedml/param/data_split_param.py
  federatedml/transfer_variable/transfer_class/data_split_transfer_variable.py
Labels: enhancement, federatedml

#1565 Feature 1.5 summary
  federatedml/linear_model/base_linear_model_arbiter.py
  federatedml/linear_model/linear_model_base.py
  federatedml/linear_model/linear_regression/base_linear_regression.py
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  federatedml/local_baseline/local_baseline.py
  federatedml/model_base.py
  federatedml/nn/homo_nn/enter_point.py
  federatedml/statistic/correlation/hetero_pearson.py
Labels: enhancement, federatedml

#1577 Feature 1.5 predict util
  federatedml/model_base.py
Labels: document

#1578 add schema check to dataio
  federatedml/feature/hetero_feature_binning/base_feature_binning.py
  federatedml/feature/hetero_feature_selection/base_feature_selection.py
  federatedml/feature/sampler.py
  federatedml/feature/scale.py
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  federatedml/model_base.py
  federatedml/statistic/data_overview.py
  federatedml/util/abnormal_detection.py
  federatedml/util/data_io.py
  federatedml/util/schema_check.py
Labels: enhancement, federatedml

#1618 use generate anonymous
  federatedml/model_selection/stepwise/hetero_stepwise.py
Labels: enhancement, federatedml

#1626 update import
  federatedml/model_base.py
Labels: federatedml

#1630 Feature 1.5 example eval
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_validate_job_dsl.json
  examples/federatedml-1.x-examples/hetero_nn/test_hetero_nn_dsl.json
  examples/federatedml-1.x-examples/hetero_nn/test_hetero_nn_dsl_with_early_stop.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_validate_job_dsl.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_evaluate_job_dsl.json
  examples/federatedml-1.x-examples/homo_logistic_regression/test_homolr_train_eval_job_dsl.json
  examples/federatedml-1.x-examples/homo_nn/test_homo_nn_train_then_predict.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_cross_validation_dsl.json
  examples/federatedml-1.x-examples/homo_secureboost/test_secureboost_train_dsl.json
  examples/test/demo/predict_conf.json
  examples/test/demo/train_job_conf.json
Labels: federatedml

#1633 Edit model-base and some config
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_lr_with_feature_engineering_job_conf.json
  federatedml/feature/binning/bin_result.py
  federatedml/feature/hetero_feature_binning/base_feature_binning.py
  federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  federatedml/model_base.py
  federatedml/param/feature_binning_param.py
  federatedml/statistic/union/union.py
  federatedml/util/component_properties.py
Labels: federatedml

#1635 Feature 1.5 summary dataio sample heteronn
  federatedml/feature/sampler.py
  federatedml/nn/hetero_nn/hetero_nn_base.py
  federatedml/nn/hetero_nn/hetero_nn_guest.py
  federatedml/nn/hetero_nn/hetero_nn_host.py
  federatedml/util/data_io.py
Labels: federatedml

#1640 convert field with type np.ndarray to float
  federatedml/model_base.py
Labels: bug

#1642 Feature 1.5 header alignment homo nn
  federatedml/nn/homo_nn/enter_point.py
Labels: federatedml

#1639 Feature 1.5 data split default param
  federatedml/conf/default_runtime_conf/data_split_param.json
  federatedml/param/data_split_param.py
Labels: enhancement, federatedml
