Repository FederatedAI/FATE, pull requests merged in 2020-03, with the labels that each got.

#1045 change the evaluation data in testsuite of gmf
  examples/federatedrec-examples/hetero_gmf/hetero_gmf_testsuite.json
Labels: bug

#1044 Update session_api
  doc/api/session_api.md
Labels: arch

#1033 Update PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: bug

#1048 Develop 1.3 sparse poisson
  examples/federatedml-1.x-examples/hetero_linear_regression/README.md
  examples/federatedml-1.x-examples/hetero_linear_regression/test_hetero_linr_train_sparse_job_conf.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/README.md
  examples/federatedml-1.x-examples/hetero_poisson_regression/hetero_poisson_testsuite.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/test_hetero_poisson_train_sparse_job_conf.json
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
Labels: bug, document, federatedml

#1049 Develop 1.3 fedrec fix
  examples/federatedrec-examples/hetero_gmf/hetero_gmf_testsuite.json
Labels: bug

#1052 Fix GLM loss callback
  federatedml/model_selection/k_fold.py
Labels: federatedml

#1051 add stratified-sample param check and using examples
  examples/federatedml-1.x-examples/multi_model_pipeline/test_multi_pipeline_conf.json
  federatedml/param/sample_param.py
Labels: enhancement, federatedml

#1054 Add Chinese version doc for fate_flow README and federatedml README
  fate_flow/README_zh.md
  federatedml/README_zh.md
Labels: FATE-FLow, federatedml

#1059 Build docker images for FATE 1.3
  docker-build/.env
  docker-build/README.md
  docker-build/README_zh.md
  docker-build/build_cluster_docker.sh
  docker-build/docker/modules/egg/Dockerfile
  docker-build/docker/modules/python/Dockerfile
Labels: deployment

#1062 fix loss callback
  federatedml/nn/homo_nn/enter_point.py
Labels: bug, federatedml

#1068 update travis and readme
  .travis.yml
  README.md
  federatedml/ftl/test/eggroll_encryption_runtime_test.py
Labels: enhancement

#1072 upgrade bleach version
  requirements.txt
Labels: enhancement

#1074 update release doc of fate-1.3
  RELEASE.md
Labels: document

#1076 change readme's ci badge from develop to master
  README.md
Labels: document

#1087 Feature 1.4 moving transfer definition
  arch/api/transfer/__init__.py
  arch/transfer_variables/__init__.py
  arch/transfer_variables/auth_conf/federatedml/aggregator_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/cross_validation_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/dh_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/has_converged_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/hetero_decision_tree_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_dnnlr_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_feature_binning_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_feature_selection_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_ftl_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_lin_r_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_lr_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_nn_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_poisson_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/hetero_secure_boosting_tree_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/homo_lr_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/homo_nn_arbiter_submit_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/homo_nn_default_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/homo_nn_guest_server_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/homo_transfer_base.json
  arch/transfer_variables/auth_conf/federatedml/homo_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/legacy_aggregator_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/loss_scatter_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/loss_scatter_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/model_broadcaster_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/model_scatter_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/one_vs_rest_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/paillier_cipher_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/random_padding_cipher_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/raw_intersect_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/repeated_id_intersect_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/rsa_intersect_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/sample_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/secret_share_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/secure_add_example_transfer_variable.json
  arch/transfer_variables/auth_conf/federatedml/secure_aggregator_trans_var.json
  arch/transfer_variables/auth_conf/federatedml/uuid_trans_var.json
  arch/transfer_variables/auth_conf/federatedrec/hetero_fm.json
  arch/transfer_variables/auth_conf/federatedrec/hetero_gmf.json
  arch/transfer_variables/auth_conf/federatedrec/hetero_mf.json
  arch/transfer_variables/auth_conf/federatedrec/hetero_svd.json
  arch/transfer_variables/auth_conf/federatedrec/hetero_svdpp.json
  arch/transfer_variables/auth_conf/federatedrec/homo_fm.json
  arch/transfer_variables/transfer_variable.template
  arch/transfer_variables/transfer_variable_generate.py
  arch/transfer_variables/transfer_variables_to_json_generate.py
  federatedml/transfer_variable/transfer_variable_generate.py
  federatedrec/factorization_machine/homo_factorization_machine/homo_fm_arbiter.py
  federatedrec/transfer_variable/definition/transfer_conf.json
  federatedrec/transfer_variable/transfer_class/hetero_fm_transfer_variable.py
  federatedrec/transfer_variable/transfer_class/hetero_gmf_transfer_variable.py
  federatedrec/transfer_variable/transfer_class/hetero_mf_transfer_variable.py
  federatedrec/transfer_variable/transfer_class/hetero_svd_transfer_variable.py
  federatedrec/transfer_variable/transfer_class/hetero_svdpp_transfer_variable.py
  federatedrec/transfer_variable/transfer_class/homo_fm_transfer_variable.py
Labels: arch

#1093 Add homo split point
  federatedml/feature/binning/test/__init__.py
  federatedml/feature/binning/test/base_binning_test.py
  federatedml/feature/binning/test/bucket_binning_test.py
  federatedml/feature/binning/test/quantile_binning_test.py
  federatedml/feature/binning/test/quantile_summaries_test.py
  federatedml/feature/binning/test/test_quantile_binning_module/__init__.py
  federatedml/feature/binning/test/test_quantile_binning_module/hetero_feature_binning_test.py
  federatedml/feature/binning/test/test_quantile_binning_module/homo_feature_binning_test.py
  federatedml/feature/binning/test/test_quantile_binning_module/kill.sh
  federatedml/feature/binning/test/test_quantile_binning_module/start_test.sh
  federatedml/feature/homo_feature_binning/__init__.py
  federatedml/feature/homo_feature_binning/homo_split_points.py
  federatedml/feature/test/quantile_binning_test.py
  federatedml/transfer_variable/definition/homo_feature_binning.json
  federatedml/transfer_variable/transfer_class/homo_feature_binning_transfer_variable.py
Labels: federatedml

#1107 add early stop in hetero nn
  examples/federatedml-1.x-examples/hetero_nn/README.md
  examples/federatedml-1.x-examples/hetero_nn/hetero_nn_testsuite.json
  examples/federatedml-1.x-examples/hetero_nn/test_hetero_nn_dsl_with_early_stop.json
  examples/federatedml-1.x-examples/hetero_nn/test_hetero_nn_keras_with_early_stop.json
  federatedml/nn/hetero_nn/hetero_nn_base.py
  federatedml/nn/hetero_nn/hetero_nn_guest.py
  federatedml/nn/hetero_nn/hetero_nn_host.py
  federatedml/param/hetero_nn_param.py
Labels: federatedml

#1114 fix base_binning_test error
  federatedml/feature/binning/test/base_binning_test.py
Labels: federatedml

#1117 fix readme of gmf model
  federatedrec/general_mf/README.md
Labels: document

#1116 Fix Union Module
  federatedml/statistic/union/union.py
Labels: bug, enhancement, federatedml

#1123 Feature 1.4 optimal binning
  examples/federatedml-1.x-examples/hetero_feature_binning/hetero_binning_testsuite.json
  examples/federatedml-1.x-examples/hetero_feature_binning/test_optimal_binning_gini_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_binning/test_optimal_binning_iv_job_conf.json
  federatedml/feature/binning/base_binning.py
  federatedml/feature/binning/bin_result.py
  federatedml/feature/binning/bucket_binning.py
  federatedml/feature/binning/optimal_binning/__init__.py
  federatedml/feature/binning/optimal_binning/bucket_info.py
  federatedml/feature/binning/optimal_binning/heap.py
  federatedml/feature/binning/optimal_binning/optimal_binning.py
  federatedml/feature/binning/quantile_binning.py
  federatedml/feature/binning/test/test_optimal_binning/__init__.py
  federatedml/feature/binning/test/test_optimal_binning/hetero_optimal_feature_binning_test.py
  federatedml/feature/binning/test/test_optimal_binning/kill.sh
  federatedml/feature/binning/test/test_optimal_binning/start_test.sh
  federatedml/feature/hetero_feature_binning/base_feature_binning.py
  federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  federatedml/param/feature_binning_param.py
  federatedml/protobuf/generated/feature_binning_param_pb2.py
  federatedml/protobuf/proto/feature-binning-param.proto
  federatedml/transfer_variable/definition/hetero_feature_binning_transfer_variable.json
  federatedml/transfer_variable/transfer_class/hetero_feature_binning_transfer_variable.py
  federatedml/util/consts.py
Labels: federatedml

#1136 Feature 1.x stepwise
  federatedml/model_selection/stepwise/README.md
  federatedml/model_selection/stepwise/hetero_stepwise.py
  federatedml/model_selection/stepwise/start_stepwise.py
  federatedml/model_selection/stepwise/step.py
  federatedml/util/component_properties.py
Labels: bug, federatedml

#1128 Develop 1.4 union
  federatedml/statistic/union/union.py
Labels: enhancement, federatedml

#1119 fix local baseline model output
  federatedml/local_baseline/local_baseline.py
Labels: enhancement, federatedml

#1118 Linear Model Early Stop for v1.4
  federatedml/linear_model/base_linear_model_arbiter.py
  federatedml/linear_model/linear_model_base.py
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
Labels: bug, enhancement, federatedml
