Repository FederatedAI/FATE, pull requests merged in 2020-10, with the labels that each got.

#2025 add pipeline job name
  examples/benchmark_quality/hetero_linear_regression/hetero_linr_sklearn_benchmark.json
  examples/benchmark_quality/hetero_linear_regression/linr_config.yaml
  examples/dsl/v2/column_expand/README.md
  examples/dsl/v2/data_split/README.md
  examples/dsl/v2/hetero_linear_regression/README.md
  examples/dsl/v2/hetero_poisson_regression/README.md
  examples/dsl/v2/hetero_stepwise/README.md
  examples/dsl/v2/local_baseline/README.md
  examples/dsl/v2/upload/README.md
  examples/pipeline/column_expand/README.md
  examples/pipeline/data_split/README.md
  examples/pipeline/hetero_linear_regression/README.md
  examples/pipeline/hetero_poisson/README.md
  examples/pipeline/hetero_stepwise/README.md
  examples/pipeline/local_baseline/README.md
  examples/pipeline/union/README.md
  examples/pipeline/upload/README.md
  python/fate_test/fate_test/cli.py
Labels: enhancement

#2039 Feature 1.5 pipeline examples
  examples/benchmark_quality/hetero_linear_regression/fate-linr.py
  examples/benchmark_quality/hetero_linear_regression/hetero_linr_benchmark.json
  examples/benchmark_quality/hetero_linear_regression/linr_config.yaml
  examples/benchmark_quality/hetero_linear_regression/local-linr.py
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_manually_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_manually_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_pearson_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_pearson_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_sample_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_sample_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_union_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_union_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_verify_job_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/test_hetero_lr_train_verify_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_manually_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_manually_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_pearson_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_union_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_union_job_dsl.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_verify_job_dsl.json
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/component/README.rst
  python/fate_test/README.rst
  python/fate_test/fate_test/cli.py
  python/fate_test/fate_test/utils.py
Labels: document, enhancement, federatedml

#2044 edit dsl_parser not check predict parameter redundant of dsl v1
  python/fate_flow/scheduler/dsl_parser.py
  python/fate_flow/utils/parameter_util.py
Labels: FATE-FLow

#2045 Feature 1.4.6 scorecard
  examples/federatedml-1.x-examples/scorecard/README.md
  examples/federatedml-1.x-examples/scorecard/scorecard_testsuite.json
  examples/federatedml-1.x-examples/scorecard/test_scorecard_job_conf.json
  examples/federatedml-1.x-examples/scorecard/test_scorecard_job_dsl.json
  federatedml/README.rst
  federatedml/README_zh.rst
  federatedml/conf/default_runtime_conf/scorecard_param.json
  federatedml/conf/setting_conf/Scorecard.json
  federatedml/feature/README.rst
  federatedml/param/scorecard_param.py
  federatedml/statistic/correlation/README.rst
  federatedml/statistic/scorecard/README.rst
  federatedml/statistic/scorecard/__init__.py
  federatedml/statistic/scorecard/score_transformer.py
  federatedml/util/consts.py
Labels: document, enhancement, federatedml

#2057 Feature 1.4.6 scorecard
  federatedml/param/scorecard_param.py
  federatedml/statistic/scorecard/score_transformer.py
Labels: federatedml

#1989 update standalone deploy for version 1.5
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/build_standalone_docker.sh
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
  standalone-deploy/docker/docker-compose-build.yml
  standalone-deploy/docker/fateboard/Dockerfile
  standalone-deploy/docker/fateboard/docker-entrypoint.sh
  standalone-deploy/docker/python/Dockerfile
  standalone-deploy/docker/python/docker-entrypoint.sh
Labels: deploy

#2073 Feature 1.5 pipeline examples
  examples/dsl/v2/intersect/intersect_testsuite.json
  examples/dsl/v2/intersect/test_intersect_job_dsl.json
  examples/dsl/v2/intersect/test_intersect_job_raw_conf.json
  examples/dsl/v2/intersect/test_intersect_job_raw_multi_host_conf.json
  examples/dsl/v2/intersect/test_intersect_job_rsa_conf.json
  examples/dsl/v2/intersect/test_intersect_job_rsa_multi_host_conf.json
  examples/experiment_template/dsl/v2/hetero_lr/hetero_lr_testsuite.json
  examples/experiment_template/dsl/v2/hetero_secureboost/hetero_sbt_testsuite.json
Labels: examples

#2079 edit benchmark
  examples/benchmark_quality/hetero_lr/hetero_lr_sklearn_benchmark.json
  examples/benchmark_quality/hetero_lr/pipeline-lr-binary.py
  examples/benchmark_quality/hetero_lr/pipeline-lr-multi.py
  examples/benchmark_quality/hetero_lr/sklearn-lr-binary.py
  examples/benchmark_quality/hetero_lr/sklearn-lr-multi.py
  examples/benchmark_quality/homo_lr/homo_lr_sklearn_benchmark.json
  examples/benchmark_quality/homo_lr/pipeline-lr-binary.py
  examples/benchmark_quality/homo_lr/sklearn-lr-binary.py
Labels: examples

#2083 add configurable param factor base
  examples/federatedml-1.x-examples/scorecard/test_scorecard_job_conf.json
  federatedml/param/scorecard_param.py
  federatedml/statistic/scorecard/README.rst
  federatedml/statistic/scorecard/score_transformer.py
Labels: enhancement, federatedml

#2084 add data statistic readme
  examples/dsl/v2/hetero_feature_binning/README.md
  examples/dsl/v2/hetero_feature_binning/hetero_feature_binning_testsuite.json
  examples/dsl/v2/hetero_feature_selection/README.md
  examples/dsl/v2/hetero_logistic_regression/README.md
  python/federatedml/statistic/README.rst
Labels: federatedml

#2080 edit doc
  doc/dsl_conf_v2_setting_guide.rst
  doc/job_config_guide_zh.md
  doc/job_config_guide_zh.rst
  doc/upload_data_guide.rst
  doc/upload_data_guide_zh.rst
  examples/README.rst
  examples/README_zh.rst
  examples/dsl/v2/hetero_nn/README.md
  examples/dsl/v2/intersect/README.md
  examples/dsl/v2/upload/upload_conf.json
  examples/dsl/v2/upload/upload_tag_conf.json
  examples/pipeline/README.rst
  examples/pipeline/hetero_nn/README.md
  examples/pipeline/intersect/README.md
Labels: document

#2090 pipeline and dsl README
  examples/dsl/v2/hetero_logistic_regression/README.md
  examples/dsl/v2/homo_logistic_regression/README.md
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-conf.json
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-dsl.json
  examples/dsl/v2/homo_logistic_regression/homo_logistic_regression_testsuite.json
  examples/dsl/v2/homo_onehot/README.md
  examples/pipeline/hetero_feature_binning/README.md
  examples/pipeline/hetero_feature_selection/README.md
  examples/pipeline/hetero_logistic_regression/README.md
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/pipeline/homo_logistic_regression/README.md
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-train.py
  examples/pipeline/homo_onehot/README.md
  examples/pipeline/homo_onehot/generated_conf_and_dsl/homo_onehot_test_conf.json
  examples/pipeline/homo_onehot/generated_conf_and_dsl/homo_onehot_test_dsl.json
  examples/pipeline/homo_onehot/generated_conf_and_dsl/homo_onehot_testsuite.json
  examples/pipeline/homo_onehot/replaced_code/pipeline-homo-onehot-test.py
Labels: examples

#2096 update standalone deploy document
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#2095 edit doc
  examples/README.rst
  examples/README_zh.rst
  examples/dsl/v2/multi_model_pipeline/README.md
  examples/pipeline/multi_model/README.md
  python/fate_client/pipeline/README.rst
  python/fate_test/README.rst
Labels: document

#2097 Feature 1.5 doc update
  python/fate_client/pipeline/backend/config.py
Labels: bug

#2105 Feature 1.5 kmeans add doc
  examples/dsl/v1/hetero_kmeans/README .rst
  examples/dsl/v1/hetero_kmeans/hetero_kmeans_testsuite.json
  examples/dsl/v1/hetero_kmeans/test_hetero_kmeans_job_conf.json
  examples/dsl/v1/hetero_kmeans/test_hetero_kmeans_job_dsl.json
  examples/dsl/v1/hetero_kmeans/test_hetero_kmeans_job_multi_host_conf.json
  examples/dsl/v1/hetero_kmeans/test_hetero_kmeans_validate_job_conf.json
  examples/dsl/v1/hetero_kmeans/test_hetero_kmeans_validate_job_dsl.json
  examples/dsl/v1/hetero_kmeans/test_kmeans_with_feature_engineering_dsl.json
  examples/dsl/v1/hetero_kmeans/test_kmeans_with_feature_engineering_job_conf.json
  examples/dsl/v1/hetero_kmeans/test_predict_conf.json
  examples/dsl/v2/hetero_kmeans/README.md
  python/federatedml/unsupervised_learning/image/heterokmeans.png
  python/federatedml/unsupervised_learning/kmeans/README.rst
Labels: examples, federatedml

#2094 Merge v1.4.5 to develop-1.4.6
  .gitmodules
  .travis.yml
  RELEASE.md
  arch/api/impl/based_2x/federation.py
  cluster-deploy/README.md
  cluster-deploy/README.rst
  cluster-deploy/build.sh
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.rst
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.md
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.rst
  cluster-deploy/doc/Fate_cluster_install_guide_ansible.md
  cluster-deploy/doc/Fate_guest_install_guide_ansible.md
  cluster-deploy/doc/Fate_step_by_step_install_zh.md
  cluster-deploy/doc/Fate_step_by_step_install_zh.rst
  fate.env
  fate_flow/db/db_models.py
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
  tools/debug/check_conf.sh
  tools/debug/check_env.sh
  tools/debug/check_iplist.sh
  tools/debug/cluster_env_check.sh
  tools/debug/env_check.py
  tools/debug/env_check.sh
  tools/debug/grep_logs.sh
  tools/debug/server_check.py
  tools/debug/server_check.sh
  tools/debug/test_env.py
  tools/debug/time_check.py
  tools/debug/脚本使用说明.md
Labels: federatedml

#2118 fix pipeline
  examples/benchmark_quality/hetero_lr/sklearn-lr-multi.py
  examples/pipeline/hetero_feature_binning/hetero_feature_binning_testsuite.json
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-asymmetric.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-bucket-binning.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-category-binning.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-large-bin.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-multi-host-optimal.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-multi-host-sparse-optimal.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-multi-host.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-optim-chi-square.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-optim-gini.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-optim-iv.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-optim-ks.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-quantile-binning.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-skip-statistic.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-sparse-bucket-binning.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-sparse-optimal-chi-square.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-sparse-optimal-gini.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-sparse-optimal-iv.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-sparse-optimal-ks.py
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-woe-binning.py
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
Labels: examples

#2134 edit doc
  examples/dsl/v1/secure_information_retrieval/README.md
  examples/pipeline/column_expand/pipeline-column-expand.py
  examples/pipeline/data_split/pipeline-hetero-data-split-multi-model.py
  examples/pipeline/data_split/pipeline-hetero-data-split.py
  examples/pipeline/data_split/pipeline-homo-data-split.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-cv.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-multi-host-cv.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-multi-host.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-sparse.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-validate.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-sparse.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-validate.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-linr.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-lr.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-poisson.py
  examples/pipeline/local_baseline/pipeline-local-baseline-homo.py
  examples/pipeline/local_baseline/pipeline-local-baseline.py
  examples/pipeline/union/pipeline-union-basic.py
  examples/pipeline/union/pipeline-union-dataio.py
  examples/pipeline/union/pipeline-union-tag-value.py
  examples/pipeline/union/pipeline-union.py
  python/federatedml/statistic/correlation/README.rst
Labels: document

#2157 edit dsl v2 predict conf & upgrade tensorflow version to 1.15.4
  examples/dsl/v2/column_expand/test_column_expand_predict_job_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_predict_conf.json
  examples/dsl/v2/hetero_ftl/test_ftl_predict.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_predict_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero-lr-normal-predict-conf.json
  examples/dsl/v2/hetero_pearson/README.md
  examples/dsl/v2/hetero_pearson/hetero_pearson_testsuite.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_dsl.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_predict_job_conf.json
  examples/dsl/v2/hetero_secureboost/test_predict_conf.json
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-conf.json
  examples/dsl/v2/homo_nn/test_homo_dnn_multi_layer_predict_conf.json
  examples/dsl/v2/homo_secureboost/test_predict_conf.json
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
  python/fate_test/pyproject.toml
  python/fate_test/setup.py
  python/pyproject.toml
  python/requirements.txt
  python/setup.py
Labels: enhancement, examples

#2160 Develop 1.5 preview
  README.md
  cluster-deploy/doc/fate_on_spark_deployment_guide.md
  cluster-deploy/doc/fate_on_spark_deployment_guide_zh.md
  cluster-deploy/doc/hadoop_spark_deployment_guide.md
  cluster-deploy/doc/hadoop_spark_deployment_guide_zh.md
  cluster-deploy/doc/rabbitmq_deployment_guide.md
  cluster-deploy/doc/rabbitmq_deployment_guide_zh.md
  cluster-deploy/images/fate_on_eggroll_architecture.png
  cluster-deploy/images/fate_on_spark_architecture.png
  examples/dsl/v2/column_expand/test_column_expand_predict_job_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_predict_conf.json
  examples/dsl/v2/hetero_ftl/test_ftl_predict.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_predict_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero-lr-normal-predict-conf.json
  examples/dsl/v2/hetero_pearson/README.md
  examples/dsl/v2/hetero_pearson/hetero_pearson_testsuite.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_dsl.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_predict_job_conf.json
  examples/dsl/v2/hetero_secureboost/test_predict_conf.json
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-conf.json
  examples/dsl/v2/homo_nn/test_homo_dnn_multi_layer_predict_conf.json
  examples/dsl/v2/homo_secureboost/test_predict_conf.json
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
  python/fate_test/pyproject.toml
  python/fate_test/setup.py
  python/pyproject.toml
  python/requirements.txt
  python/setup.py
Labels: FATE-FLow, arch, deployment, document, examples, federatedml

#2162 update doc
  cluster-deploy/doc/fate_on_spark_deployment_guide.md
Labels: document

#2161 Merge develop-1.5.0-preview's doc update into master
  README.md
  cluster-deploy/doc/fate_on_spark_deployment_guide.md
  cluster-deploy/doc/fate_on_spark_deployment_guide_zh.md
  cluster-deploy/doc/hadoop_spark_deployment_guide.md
  cluster-deploy/doc/hadoop_spark_deployment_guide_zh.md
  cluster-deploy/doc/rabbitmq_deployment_guide.md
  cluster-deploy/doc/rabbitmq_deployment_guide_zh.md
  cluster-deploy/images/fate_on_eggroll_architecture.png
  cluster-deploy/images/fate_on_spark_architecture.png
  examples/dsl/v2/column_expand/test_column_expand_predict_job_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_predict_conf.json
  examples/dsl/v2/hetero_ftl/test_ftl_predict.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_predict_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero-lr-normal-predict-conf.json
  examples/dsl/v2/hetero_pearson/README.md
  examples/dsl/v2/hetero_pearson/hetero_pearson_testsuite.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_default_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_host_only_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_mix_rand_dsl.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_conf.json
  examples/dsl/v2/hetero_pearson/test_hetero_pearson_sole_dsl.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_predict_job_conf.json
  examples/dsl/v2/hetero_secureboost/test_predict_conf.json
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-conf.json
  examples/dsl/v2/homo_nn/test_homo_dnn_multi_layer_predict_conf.json
  examples/dsl/v2/homo_secureboost/test_predict_conf.json
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
  python/fate_test/pyproject.toml
  python/fate_test/setup.py
  python/pyproject.toml
  python/requirements.txt
  python/setup.py
Labels: arch, deployment, document

#2166 update doc
  fate.env
Labels: document

#2171 update requirements
  python/requirements.txt
Labels: deploy, document

#2169 update standalone deploy document
  cluster-deploy/build.md
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: deploy, document

#2165 fix pipeline error
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-iv-top-k.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-manually-left.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-manually.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-multi-host.py
Labels: examples

#2175 Feature 1.5 kmeans fix bugs
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  python/federatedml/unsupervised_learning/kmeans/kmeans_model_base.py
Labels: federatedml

#2151 add scorecard module
  examples/dsl/v1/scorecard/README.md
  examples/dsl/v1/scorecard/scorecard_testsuite.json
  examples/dsl/v1/scorecard/test_scorecard_job_conf.json
  examples/dsl/v1/scorecard/test_scorecard_job_dsl.json
  examples/dsl/v2/scorecard/README.md
  examples/dsl/v2/scorecard/scorecard_testsuite.json
  examples/dsl/v2/scorecard/test_scorecard_job_conf.json
  examples/dsl/v2/scorecard/test_scorecard_job_dsl.json
  examples/pipeline/scorecard/README.md
  examples/pipeline/scorecard/pipeline-scorecard.py
  examples/pipeline/scorecard/scorecard_testsuite.json
  python/fate_client/pipeline/component/README.rst
  python/fate_client/pipeline/component/__init__.py
  python/fate_client/pipeline/component/scorecard.py
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/scorecard_param.py
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/conf/setting_conf/Scorecard.json
  python/federatedml/param/scorecard_param.py
  python/federatedml/statistic/scorecard/README.rst
  python/federatedml/statistic/scorecard/__init__.py
  python/federatedml/statistic/scorecard/score_transformer.py
  python/federatedml/util/consts.py
Labels: document, enhancement, examples, federatedml

#2195 doc edit
  doc/develop_guide.rst
  doc/develop_guide_zh.rst
  examples/README.rst
  examples/README_zh.rst
  examples/dsl/v2/README.rst
Labels: examples

#2208 Add pipeline quick mode & modify pipeline
  examples/pipeline/demo/pipeline-quick-demo.py
  python/fate_client/pipeline/backend/pipeline.py
Labels: examples, federatedml

#2211 add doc
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  python/federatedml/unsupervised_learning/kmeans/kmeans_model_base.py
Labels: federatedml

#2210 edit table aggregator
  python/federatedml/framework/hetero/procedure/table_aggregator.py
  python/federatedml/framework/hetero/procedure/table_random_padding_cipher.py
  python/federatedml/secureprotol/encrypt.py
Labels: federatedml

#2216 fix kmeans table_aggregator.py
  python/federatedml/framework/hetero/procedure/table_aggregator.py
  python/federatedml/framework/hetero/procedure/table_random_padding_cipher.py
  python/federatedml/secureprotol/encrypt.py
Labels: federatedml

#2220 add doc
  python/federatedml/evaluation/metrics/clustering_metric.py
Labels: federatedml

#2223 Feature 1.5 fix hetero nn pipeline error
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-multi.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-with-early-stop.py
  python/fate_client/pipeline/component/component_base.py
  python/fate_client/pipeline/component/hetero_nn.py
  python/fate_client/pipeline/component/nn/models/sequantial.py
Labels: bug

#2214 Feature 1.5 quick run doc
  examples/README.rst
  examples/pipeline/README.rst
  python/fate_client/pipeline/backend/config.py
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/utils/invoker/job_submitter.py
  python/fate_test/fate_test/scripts/testsuite_cli.py
Labels: federatedml

#2224 fix hetero_lr
  examples/pipeline/hetero_feature_binning/pipeline-hetero-binning-optim-iv.py
  examples/pipeline/hetero_sbt/pipeline-hetero-sbt-multi.py
  python/federatedml/linear_model/logistic_regression/base_logistic_regression.py
Labels: examples, federatedml

#2227 Feature 1.5 update doc 1028
  doc/dsl_conf_v2_setting_guide.rst
Labels: document

#2229 Feature 1.5 formal fix
  examples/dsl/v1/hetero_feature_binning/test_sparse_optimal_binning_chi_square_job_conf.json
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
Labels: federatedml

#2232 add k check
  python/federatedml/param/hetero_kmeans_param.py
Labels: federatedml

#2237 Featrue 1.5.0 deploy standalone
  cluster-deploy/build.md
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: deploy

#2238 edit log info
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
Labels: federatedml

#2243 Feature 1.5 formal fix
  examples/dsl/v2/hetero_feature_binning/hetero_binning_optim_iv_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/dsl/v2/hetero_feature_selection/pipeline-hetero-feature-selection-homo-sbt_conf.json
  examples/dsl/v2/hetero_feature_selection/pipeline-hetero-feature-selection-homo-sbt_dsl.json
  examples/pipeline/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-homo-sbt.py
  python/federatedml/feature/feature_selection/filter_factory.py
Labels: federatedml

#2253 fix hetero_nn benchmark, delete job_operation_test, add 200 intersect…
  examples/benchmark_quality/hetero_nn/hetero_nn_benchmark.json
  examples/benchmark_quality/hetero_nn/local-hetero_nn.py
  examples/pipeline/intersect/intersect_testsuite.json
  examples/pipeline/intersect/pipeline-intersect-with-union.py
  python/fate_flow/tests/api_tests/job_operation_test.py
Labels: FATE-FLow, examples
