Repository FederatedAI/FATE, pull requests merged in 2020-05, with the labels that each got.

#1292 Feature 1.4 edit config
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_ovr_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_cv_sparse_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_one_vs_rest_job_conf.json
  examples/federatedml-1.x-examples/hetero_logistic_regression/test_hetero_lr_ovr_sqn_job_conf.json
Labels: federatedml

#1295 Feature 1.4 edit unittest
  federatedml/feature/test/quantile_test.py
Labels: federatedml

#1301 add options for session init
  arch/api/impl/based_2x/build.py
  arch/api/impl/based_2x/session.py
  arch/api/impl/based_spark/based_2x/build.py
  arch/api/session.py
Labels: arch

#1306 Issue 1.4 obj remote clean temorary workaround
  arch/api/impl/based_2x/federation.py
Labels: arch

#1304 Bugfix 1.4 fix transfer variable
  federatedml/transfer_variable/base_transfer_variable.py
Labels: bug

#1314 Feature 1.4 add options to save as
  arch/api/base/table.py
  arch/api/impl/based_2x/table.py
  arch/api/impl/based_spark/based_2x/table.py
Labels: arch

#1308 Develop 1.4 rc0
  arch/api/impl/based_2x/federation.py
  federatedml/framework/homo/blocks/secure_mean_aggregator.py
  federatedml/framework/homo/blocks/secure_sum_aggregator.py
  federatedml/transfer_variable/base_transfer_variable.py
Labels: arch

#1318 never copy or deepcopy to create new variable instance
  federatedml/transfer_variable/base_transfer_variable.py
Labels: bug

#1320 reformat docs
  doc/develop_guide.rst
  doc/develop_guide_zh.md
  doc/develop_guide_zh.rst
  doc/dsl_conf_setting_guide.rst
  doc/dsl_conf_setting_guide_zh.md
  doc/dsl_conf_setting_guide_zh.rst
  doc/upload_data_guide.rst
  doc/upload_data_guide_zh.md
  doc/upload_data_guide_zh.rst
  federatedml/README.rst
  federatedml/README_zh.md
  federatedml/README_zh.rst
  federatedml/param/homo_nn_param.py
Labels: document

#1326 Feature 1.4 local baseline doc
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_homo_job_conf.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_job_conf.json
  examples/federatedml-1.x-examples/local_baseline/test_local_baseline_job_dsl.json
Labels: document

#1323 edit min test
  examples/min_test_task/config/test_hetero_lr_train_job_dsl.json
  examples/min_test_task/config/test_intersect_job_dsl.json
  examples/min_test_task/config/test_predict_conf.json
  examples/min_test_task/config/upload.json
  examples/min_test_task/run_task.py
Labels: federatedml

#1327 Feature 1.4 readthedocs theme
  conf.py
  doc/readthedoc/_static/theme_overrides.css
  doc/readthedoc/requirements.txt
  federatedml/conf/__init__.py
Labels: document

#1339 Update deploy & example doc
  cluster-deploy/README.md
  cluster-deploy/README.rst
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.md
  cluster-deploy/doc/Fate_step_by_step_install_zh.md
  cluster-deploy/images/arch.png
  cluster-deploy/images/arch_en.png
  cluster-deploy/images/arch_zh.png
  cluster-deploy/images/proxy_zh.png
  examples/federatedml-1.x-examples/multi_model_pipeline/multi_pipeline_testsuite.json
Labels: document

#1340 Feature 1.4 experiment test
  .gitmodules
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_conf.json
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_dsl.json
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_dsl_with_localbaseline.json
  examples/federatedml-1.x-examples/experiment/generate_mock_data.py
Labels: federatedml

#1341 Develop 1.4
  .gitmodules
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_conf.json
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_dsl.json
  examples/federatedml-1.x-examples/experiment/config/test_hetero_lr_train_job_dsl_with_localbaseline.json
  examples/federatedml-1.x-examples/experiment/generate_mock_data.py
Labels: enhancement, federatedml

#1342 update affine encryption's code to avoid dead loop in low probability
  .gitmodules
  federatedml/secureprotol/affine.py
  federatedml/secureprotol/iterative_affine.py
Labels: bug

#1349 add predict cached to hetero sbt
  arch/transfer_variables/auth_conf/federatedml/hetero_secure_boosting_tree_transfer_variable.json
  federatedml/transfer_variable/transfer_class/hetero_secure_boost_transfer_variable.py
  federatedml/tree/hetero/hetero_decision_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_host.py
  federatedml/tree/tree_core/predict_cache.py
Labels: enhancement, federatedml

#1346 Feature 1.4 add partition note
  examples/federatedml-1.x-examples/README.rst
  examples/federatedml-1.x-examples/experiment/generate_mock_data.py
  examples/federatedml-1.x-examples/experiment/run_task.py
Labels: federatedml

#1353 update travis & gitmodule
  .gitmodules
  .travis.yml
Labels: enhancement

#1343 remove duplicate requirements
  doc/readthedoc/requirements.txt
Labels: bug, document

#1362 Develop 1.4.1
  .env
  arch/transfer_variables/auth_conf/federatedml/hetero_secure_boosting_tree_transfer_variable.json
  federatedml/transfer_variable/transfer_class/hetero_secure_boost_transfer_variable.py
  federatedml/tree/hetero/hetero_decision_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_guest.py
  federatedml/tree/hetero/hetero_secureboosting_tree_host.py
  federatedml/tree/tree_core/predict_cache.py
Labels: federatedml

#1363 add rst docs for fate_flow
  fate_flow/README.rst
  fate_flow/README_zh.rst
  fate_flow/doc/fate_flow_cli.rst
  fate_flow/doc/fate_flow_rest_api.rst
  index.rst
Labels: document

#1365 Develop 1.4 edit doc
  examples/federatedml-1.x-examples/README.rst
Labels: examples

#1372 add auth check
  arch/api/impl/based_2x/federation.py
Labels: arch

#1369 Feature 1.4.0 deploy doc
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.md
Labels: document

#1382 Feature 1.4.1 dataio enhance
  federatedml/util/data_io.py
Labels: federatedml

#1386 update evaluation module
  federatedml/evaluation/README.md
  federatedml/evaluation/backup/evaluation.py
  federatedml/evaluation/evaluation.py
  federatedml/evaluation/metric_interface.py
  federatedml/evaluation/metrics/__init__.py
  federatedml/evaluation/metrics/classification_metric.py
  federatedml/evaluation/metrics/clustering_metric.py
  federatedml/evaluation/metrics/regression_metric.py
  federatedml/evaluation/test/evaluation.py
  federatedml/evaluation/test/make_psi_score.py
  federatedml/evaluation/test/metric_test.py
  federatedml/evaluation/test/test_f_score.py
  federatedml/evaluation/test/test_new_evaluation.py
  federatedml/evaluation/test/test_psi_score.py
  federatedml/param/evaluation_param.py
  federatedml/util/consts.py
Labels: federatedml

#1389 Feature 1.4.1 evaluation update
  federatedml/evaluation/README.rst
  federatedml/evaluation/backup/evaluation.py
  federatedml/evaluation/test/evaluation.py
  federatedml/model_selection/stepwise/hetero_stepwise.py
Labels: federatedml

#1397 Feature 1.4 union fix
  examples/federatedml-1.x-examples/union/test_union_job_conf.json
  examples/federatedml-1.x-examples/union/test_union_job_dsl.json
  federatedml/statistic/union/union.py
Labels: bug

#1383 Feature 1.4.1 statistic optimal
  examples/federatedml-1.x-examples/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_manually_left_job_conf.json
  examples/federatedml-1.x-examples/hetero_feature_selection/test_hetero_feature_selection_percentage_value_job_conf.json
  federatedml/feature/feature_selection/filter_factory.py
  federatedml/feature/feature_selection/manually_filter.py
  federatedml/feature/feature_selection/percentage_value_filter.py
  federatedml/feature/feature_selection/test/manually_filter_test.py
  federatedml/feature/feature_selection/test/outlier_filter_test.py
  federatedml/feature/feature_selection/test/percentage_value_filter_test.py
  federatedml/feature/feature_selection/test/variance_coe_filter_test.py
  federatedml/param/feature_selection_param.py
  federatedml/protobuf/generated/feature_selection_meta_pb2.py
  federatedml/protobuf/proto/feature-selection-meta.proto
  federatedml/statistic/statics.py
  federatedml/util/consts.py
Labels: federatedml
