Repository FederatedAI/FATE, pull requests merged in 2020-09, with the labels that each got.

#1787 Feature 1.5 pipeline second round
  fate_client/pipeline/backend/pipeline.py
  fate_client/pipeline/utils/invoker/job_submitter.py
Labels: bug, federatedml

#1789 pipeline demo fix
  examples/pipeline/hetero_fast_sbt/pipeline-hetero-sbt-layered.py
  examples/pipeline/hetero_fast_sbt/pipeline-hetero-sbt-mix.py
  examples/pipeline/hetero_ftl/pipeline-hetero-ftl.py
  examples/pipeline/homo_sbt/pipeline-homo-sbt.py
  fate_client/pipeline/param/boosting_param.py
Labels: federatedml, ftl

#1803 update standalone deploy document
  .travis.yml
  cluster-deploy/build.md
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#1659 shutdown log before kill pid
  arch/api/impl/based_2x/federation.py
Labels: bug

#1799 Feature 1.5.0 system engineering
  fate_arch/abc/_storage.py
  fate_arch/standalone/_standalone.py
  fate_arch/storage/_session.py
  fate_arch/storage/eggroll/_session.py
  fate_arch/storage/hdfs/_session.py
  fate_arch/storage/metastore/db_models.py
  fate_arch/storage/mysql/_session.py
  fate_arch/storage/standalone/_session.py
  fate_client/flow_sdk/utils.py
  fate_client/testsuite/_flow_client.py
  fate_client/testsuite/cli.py
  fate_flow/apps/data_access_app.py
  fate_flow/apps/model_app.py
  fate_flow/components/upload.py
  fate_flow/controller/job_controller.py
  fate_flow/db/db_models.py
  fate_flow/entity/types.py
  fate_flow/examples/test_hetero_lr_job_conf.json
  fate_flow/examples/test_hetero_lr_job_dsl.json
  fate_flow/examples/test_multi_pipeline_conf.json
  fate_flow/examples/test_multi_pipeline_dsl.json
  fate_flow/examples/upload_guest.json
  fate_flow/examples/upload_host.json
  fate_flow/operation/job_tracker.py
  fate_flow/pipelined_model/migrate_model.py
  fate_flow/scheduler/dag_scheduler.py
  fate_flow/scheduler/federated_scheduler.py
  fate_flow/scheduler/job_detector.py
  fate_flow/scheduler/task_scheduler.py
  fate_flow/settings.py
  fate_flow/utils/api_utils.py
  fate_flow/utils/job_utils.py
  fate_flow/utils/session_utils.py
Labels: bug

#1813 Feature 1.4.6 column expand
  examples/federatedml-1.x-examples/column_expand/column_expand_testsuite.json
  examples/federatedml-1.x-examples/column_expand/test_column_expand_job_conf.json
  examples/federatedml-1.x-examples/column_expand/test_column_expand_job_dsl.json
  examples/federatedml-1.x-examples/column_expand/test_predict_conf.json
  federatedml/conf/default_runtime_conf/column_expand_param.json
  federatedml/conf/setting_conf/ColumnExpand.json
  federatedml/param/column_expand_param.py
  federatedml/protobuf/generated/column_expand_meta_pb2.py
  federatedml/protobuf/generated/column_expand_param_pb2.py
  federatedml/protobuf/proto/column-expand-meta.proto
  federatedml/protobuf/proto/column-expand-param.proto
  federatedml/util/column_expand.py
  federatedml/util/consts.py
Labels: enhancement, federatedml

#1814 record new header
  federatedml/util/column_expand.py
Labels: enhancement, federatedml

#1815 Feature 1.4.6 column expand
  federatedml/util/column_expand.py
Labels: bug, federatedml

#1816 add repeated value check for schema
  federatedml/util/abnormal_detection.py
Labels: enhancement, federatedml

#1817 Feature 1.5 move anonymous dev
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/feature/binning/bin_inner_param.py
  federatedml/feature/feature_selection/iso_model_filter.py
  federatedml/feature/feature_selection/model_adapter/tree_adapter.py
  federatedml/model_selection/stepwise/hetero_stepwise.py
  federatedml/statistic/correlation/hetero_pearson.py
  federatedml/util/anonymous_generator.py
  federatedml/util/fate_operator.py
Labels: enhancement, federatedml

#1818 fix set check error
  federatedml/util/abnormal_detection.py
Labels: federatedml

#1819 Feature 1.4.6 column expand
  examples/federatedml-1.x-examples/column_expand/test_column_expand_job_dsl.json
  federatedml/protobuf/generated/column_expand_meta_pb2.py
  federatedml/protobuf/proto/column-expand-meta.proto
  federatedml/util/column_expand.py
Labels: bug, enhancement, federatedml

#1827 Move feature_statistic.py into statics.py
  federatedml/param/statistics_param.py
  federatedml/statistic/feature_statistic/__init__.py
  federatedml/statistic/feature_statistic/feature_statistic.py
  federatedml/statistic/statics.py
  federatedml/util/consts.py
Labels: federatedml

#1835 impl pearson model converter
  federatedml/protobuf/model_migrate/converter/pearson_model_converter.py
  federatedml/protobuf/model_migrate/converter_factory.py
Labels: federatedml

#1838 Fix homo_lr bug
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
Labels: federatedml

#1836 fix label align for homo nn
  federatedml/nn/backend/pytorch/nn_model.py
  federatedml/nn/backend/tf_keras/nn_model.py
  federatedml/nn/homo_nn/enter_point.py
  federatedml/protobuf/generated/nn_model_param_pb2.py
  federatedml/protobuf/proto/nn-model-param.proto
Labels: federatedml

#1833 use correct header after shuffle
  federatedml/statistic/data_overview.py
Labels: bug, federatedml

#1839 fix default conf showing in predict stage
  fate_flow/scheduler/dsl_parser.py
Labels: bug

#1840 Fix cv bug
  federatedml/model_selection/k_fold.py
Labels: federatedml

#1841 fix None error in legal schema check
  federatedml/util/abnormal_detection.py
Labels: bug, federatedml

#1844 move column expand to feature
  federatedml/conf/setting_conf/ColumnExpand.json
  federatedml/feature/column_expand.py
Labels: enhancement, federatedml

#1845 move column expand to feature
  federatedml/conf/setting_conf/ColumnExpand.json
  federatedml/feature/column_expand.py
Labels: enhancement, federatedml

#1850 Feature 1.5 pipeline sdk
  fate_client/pipeline/backend/config.py
  fate_client/pipeline/pipeline_cli.py
  fate_client/pipeline/utils/invoker/job_submitter.py
Labels: federatedml

#1855 rename mapPartitions2 to mapPartitions in pearson
  fate_arch/abc/_computing.py
  fate_arch/computing/eggroll/_table.py
  fate_arch/computing/spark/_table.py
  fate_arch/computing/standalone/_table.py
  fate_arch/standalone/_standalone.py
  federatedml/secureprotol/spdz/utils/random_utils.py
Labels: bug

#1858 delete all support in role
  fate_client/pipeline/component/component_base.py
Labels: enhancement

#1857 Feature 1.5 fix ftl
  federatedml/param/ftl_param.py
  federatedml/transfer_learning/hetero_ftl/ftl_guest.py
Labels: federatedml

#1856 allow label name in header
  federatedml/util/abnormal_detection.py
Labels: federatedml

#1860 Fix homo_lr arbiter weights bug
  federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_arbiter.py
Labels: federatedml

#1861 allow single column input
  federatedml/feature/column_expand.py
  federatedml/param/column_expand_param.py
Labels: federatedml

#1863 allow single column input
  federatedml/feature/column_expand.py
  federatedml/param/column_expand_param.py
Labels: federatedml

#1854 Feature 1.5 map partition2 modify
  federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_arbiter.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_histogram.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
Labels: federatedml

#1869 reorder data to upload in testsuite
  examples/federatedml-1.x-examples/column_expand/column_expand_testsuite.json
  examples/federatedml-1.x-examples/data_split/data_split_testsuite.json
  examples/federatedml-1.x-examples/hetero_poisson_regression/hetero_poisson_testsuite.json
  federatedml/feature/column_expand.py
Labels: enhancement, federatedml

#1868 Add kmeans
  examples/federatedml-1.x-examples/multi_model_pipeline/multi_pipeline_testsuite.json
  fate_client/pipeline/component/hetero_kmeans.py
  federatedml/conf/setting_conf/HeteroKmeans.json
  federatedml/framework/homo/procedure/table_aggregator.py
  federatedml/param/hetero_kmeans_param.py
  federatedml/protobuf/generated/hetero_kmeans_meta_pb2.py
  federatedml/protobuf/generated/hetero_kmeans_param_pb2.py
  federatedml/protobuf/proto/hetero-kmeans-meta.proto
  federatedml/protobuf/proto/hetero-kmeans-param.proto
  federatedml/secureprotol/encrypt.py
  federatedml/transfer_variable/auth_conf/hetero_kmeans_transfer_variable.json
  federatedml/transfer_variable/auth_conf/table_aggregator_trans_var.json
  federatedml/transfer_variable/transfer_class/hetero_kmeans_transfer_variable.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
  federatedml/unsupervise/kmeans/kmeans_model_base.py
  federatedml/util/component_properties.py
  federatedml/util/consts.py
Labels: federatedml

#1880 fix kmeans
  examples/federatedml-1.x-examples/kmeans/test_kmeans_with_feature_engineering_dsl.json
  federatedml/conf/setting_conf/Evaluation.json
  federatedml/evaluation/metric_interface.py
  federatedml/param/evaluation_param.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
Labels: federatedml

#1879 add doc
  examples/pipeline/column_expand/pipeline-column-expand.py
  fate_client/pipeline/param/column_expand_param.py
  federatedml/feature/README.rst
  federatedml/param/column_expand_param.py
Labels: document, federatedml

#1884 Fix cv bug
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_job_conf.json
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_job_dsl.json
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_job_multi_host_conf.json
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_validate_job_conf.json
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_validate_job_dsl.json
  examples/federatedml-1.x-examples/kmeans/test_kmeans_with_feature_engineering_job_conf.json
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
Labels: federatedml

#1891 remove default transfer variable
  federatedml/framework/homo/blocks/aggregator.py
  federatedml/framework/homo/blocks/diffie_hellman.py
  federatedml/framework/homo/blocks/has_converged.py
  federatedml/framework/homo/blocks/loss_scatter.py
  federatedml/framework/homo/blocks/model_broadcaster.py
  federatedml/framework/homo/blocks/model_scatter.py
  federatedml/framework/homo/blocks/paillier_cipher.py
  federatedml/framework/homo/blocks/random_padding_cipher.py
  federatedml/framework/homo/blocks/secure_aggregator.py
  federatedml/framework/homo/blocks/secure_mean_aggregator.py
  federatedml/framework/homo/blocks/secure_sum_aggregator.py
  federatedml/framework/homo/blocks/uuid_generator.py
  federatedml/framework/homo/procedure/aggregator.py
  federatedml/framework/homo/procedure/paillier_cipher.py
  federatedml/framework/homo/procedure/table_aggregator.py
Labels: bug

#1892 add conf & dsl getter
  fate_client/pipeline/backend/pipeline.py
Labels: enhancement, federatedml

#1889 remove inplace compute in align header
  federatedml/statistic/data_overview.py
Labels: federatedml

#1895 Feature 1.5 dsl parser 4 round
  fate_flow/scheduler/dsl_parser.py
  fate_flow/utils/dsl_exception.py
Labels: FATE-FLow, enhancement

#1897 fix error
  federatedml/feature/feature_selection/manually_filter.py
  federatedml/feature/hetero_feature_selection/base_feature_selection.py
  federatedml/statistic/statics.py
Labels: federatedml

#1898 fix bugs
  federatedml/evaluation/evaluation.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
  federatedml/unsupervise/kmeans/kmeans_model_base.py
Labels: federatedml

#1901 Feature 1.5 fix kmeans
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
Labels: federatedml

#1899 Feature 1.5 fix error round 3
  federatedml/param/statistics_param.py
Labels: federatedml

#1876 remove session use in local baseline
  federatedml/local_baseline/local_baseline.py
Labels: federatedml

#1903 Feature 1.5 ensemble rename&predict restore
  federatedml/ensemble/__init__.py
  federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_histogram.py
  federatedml/ensemble/boosting/boosting_core/boosting.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  federatedml/ensemble/boosting/homo/homo_secureboost_arbiter.py
  federatedml/ensemble/boosting/homo/homo_secureboost_client.py
Labels: federatedml

#1904 Feature 1.5 fix kmeans
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_validate_job_conf.json
  examples/federatedml-1.x-examples/kmeans/test_hetero_kmeans_validate_job_dsl.json
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
Labels: federatedml

#1909 Feature 1.5 fix error round 3
  examples/scripts/upload_default_data.py
  federatedml/framework/hetero/procedure/table_aggregator.py
  federatedml/optim/gradient/hetero_poisson_gradient_and_loss.py
  federatedml/statistic/statics.py
  federatedml/transfer_variable/auth_conf/table_aggregator_trans_var.json
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
  federatedml/unsupervise/kmeans/kmeans_model_base.py
Labels: federatedml

#1915 raise error at missing ip & port
  python/fate_client/pipeline/backend/config.py
Labels: enhancement, federatedml

#1919 Feature 1.5 pipeline examples
  CONTRIBUTING.md
  README.md
  README_zh.md
  doc/develop_guide_zh.rst
  examples/dsl/v1/README.rst
  examples/test/README.md
  examples/test/README_zh.md
  index.rst
  python/fate_flow/README.rst
  python/fate_flow/README_zh.rst
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/linear_model/linear_regression/README.rst
  python/federatedml/linear_model/poisson_regression/README.rst
  python/federatedml/local_baseline/README.rst
  python/federatedml/model_selection/data_split/README.rst
  python/federatedml/model_selection/stepwise/README.rst
  python/federatedml/nn/homo_nn/README.rst
  python/federatedml/statistic/correlation/README.rst
  python/federatedml/statistic/psi/README.rst
  python/federatedml/statistic/union/README.rst
  standalone-deploy/README.md
  standalone-deploy/README.rst
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#1922 fix bugs
  examples/dsl/v1/hetero-kmeans/hetero_kmeans_testsuite.json
  examples/dsl/v1/hetero-kmeans/test_hetero_kmeans_job_conf.json
  examples/dsl/v1/hetero-kmeans/test_hetero_kmeans_job_dsl.json
  examples/dsl/v1/hetero-kmeans/test_hetero_kmeans_job_multi_host_conf.json
  examples/dsl/v1/hetero-kmeans/test_hetero_kmeans_validate_job_conf.json
  examples/dsl/v1/hetero-kmeans/test_hetero_kmeans_validate_job_dsl.json
  examples/dsl/v1/hetero-kmeans/test_kmeans_with_feature_engineering_dsl.json
  examples/dsl/v1/hetero-kmeans/test_kmeans_with_feature_engineering_job_conf.json
  examples/dsl/v1/hetero-kmeans/test_predict_conf.json
  python/federatedml/param/hetero_kmeans_param.py
  python/federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  python/federatedml/unsupervise/kmeans/hetero_kmeans/hetero_kmeans_client.py
  python/federatedml/unsupervise/kmeans/kmeans_model_base.py
Labels: federatedml

#1923 add fate_test
  python/fate_client/testsuite/_client.py
  python/fate_client/testsuite/_config.py
  python/fate_client/testsuite/testsuite_config.yaml
  python/fate_test/README.rst
  python/fate_test/fate_test/__init__.py
  python/fate_test/fate_test/_ascii.py
  python/fate_test/fate_test/_client.py
  python/fate_test/fate_test/_config.py
  python/fate_test/fate_test/_flow_client.py
  python/fate_test/fate_test/_io.py
  python/fate_test/fate_test/_parser.py
  python/fate_test/fate_test/cli.py
  python/fate_test/fate_test/utils.py
  python/fate_test/pyproject.toml
Labels: test

#1924 fix dataio in memory table modify
  python/federatedml/util/data_io.py
Labels: federatedml

#1912 Feature 1.5 sir ot affine
  examples/dsl/v1/secure_information_retrieval/secure_information_retrieval_testsuite.json
  examples/dsl/v1/secure_information_retrieval/test_secure_information_retrieval_conf.json
  examples/dsl/v1/secure_information_retrieval/test_secure_information_retrieval_dsl.json
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/encrypt_param.py
  python/federatedml/conf/setting_conf/SecureInformationRetrieval.json
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/linear_model/poisson_regression/README.rst
  python/federatedml/model_selection/stepwise/README.rst
  python/federatedml/nn/homo_nn/README.rst
  python/federatedml/param/encrypt_param.py
  python/federatedml/param/sir_param.py
  python/federatedml/protobuf/generated/sir_meta_pb2.py
  python/federatedml/protobuf/generated/sir_param_pb2.py
  python/federatedml/protobuf/proto/sir-meta.proto
  python/federatedml/protobuf/proto/sir-param.proto
  python/federatedml/secure_information_retrieval/__init__.py
  python/federatedml/secure_information_retrieval/base_secure_information_retrieval.py
  python/federatedml/secure_information_retrieval/secure_information_retrieval_guest.py
  python/federatedml/secure_information_retrieval/secure_information_retrieval_host.py
  python/federatedml/secureprotol/encrypt.py
  python/federatedml/secureprotol/gmpy_math.py
  python/federatedml/secureprotol/iterative_affine.py
  python/federatedml/secureprotol/number_theory/__init__.py
  python/federatedml/secureprotol/number_theory/field/__init__.py
  python/federatedml/secureprotol/number_theory/field/base_galois_field.py
  python/federatedml/secureprotol/number_theory/field/integers_modulo_prime_field.py
  python/federatedml/secureprotol/number_theory/group/__init__.py
  python/federatedml/secureprotol/number_theory/group/base_group.py
  python/federatedml/secureprotol/number_theory/group/cyclc_group.py
  python/federatedml/secureprotol/number_theory/group/twisted_edwards_curve_group.py
  python/federatedml/secureprotol/oblivious_transfer/__init__.py
  python/federatedml/secureprotol/oblivious_transfer/base_oblivious_transfer.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/__init__.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/hauck_oblivious_transfer.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/hauck_oblivious_transfer_receiver.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/hauck_oblivious_transfer_sender.py
  python/federatedml/secureprotol/random_oracle/__init__.py
  python/federatedml/secureprotol/random_oracle/base_random_oracle.py
  python/federatedml/secureprotol/random_oracle/hash_function/__init__.py
  python/federatedml/secureprotol/random_oracle/hash_function/hash_function.py
  python/federatedml/secureprotol/random_oracle/hash_function/sha256.py
  python/federatedml/secureprotol/random_oracle/message_authentication_code/__init__.py
  python/federatedml/secureprotol/random_oracle/message_authentication_code/hash_mac.py
  python/federatedml/secureprotol/random_oracle/message_authentication_code/mac.py
  python/federatedml/secureprotol/random_oracle/message_authentication_code/sha256_mac.py
  python/federatedml/secureprotol/symmetric_encryption/__init__.py
  python/federatedml/secureprotol/symmetric_encryption/aes_encryption.py
  python/federatedml/secureprotol/symmetric_encryption/pohlig_hellman_encryption.py
  python/federatedml/secureprotol/symmetric_encryption/py_aes_core.py
  python/federatedml/secureprotol/symmetric_encryption/py_aes_encryption.py
  python/federatedml/secureprotol/symmetric_encryption/symmetric_encryption.py
  python/federatedml/secureprotol/symmetric_encryption/xor_encryption.py
  python/federatedml/secureprotol/test/iterative_affine_test.py
  python/federatedml/transfer_variable/auth_conf/oblivious_transfer.json
  python/federatedml/transfer_variable/auth_conf/secure_information_retrieval.json
  python/federatedml/transfer_variable/transfer_class/oblivious_transfer_transfer_variable.py
  python/federatedml/transfer_variable/transfer_class/secure_information_retrieval_transfer_variable.py
  python/federatedml/util/consts.py
  python/federatedml/util/conversion.py
Labels: enhancement, federatedml

#1929 Feature 1.5 fix error round 3
  examples/pipeline/hetero_logistic_regression/__init__.py
  examples/pipeline/hetero_logistic_regression/common_tools.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-cv.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-normal.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-one-vs-all.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-validate.py
  examples/pipeline/hetero_lr/common_tools.py
  examples/pipeline/hetero_lr/pipeline-lr-cv.py
  examples/pipeline/hetero_lr/pipeline-lr-multi-host.py
  examples/pipeline/hetero_lr/pipeline-lr-ovr.py
  examples/pipeline/hetero_lr/pipeline-lr-validate.py
  examples/pipeline/hetero_lr/pipeline-lr.py
  python/federatedml/feature/binning/quantile_summaries.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
Labels: federatedml

#1928 Feature 1.5 fast histogram
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_layered_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_layered_multiclass_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_layered_regression_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_mix_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_mix_multi_host_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_mix_multiclass_conf.json
  examples/dsl/v1/hetero_fast_secureboost/test_fast_sbt_mix_regression_conf.json
  examples/dsl/v1/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/dsl/v1/hetero_secureboost/test_predict_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_cross_validation_dsl.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_binary_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_binary_with_missing_value_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_complete_secure_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_dsl.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_multi_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_regression_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_regression_multi_host_conf.json
  examples/dsl/v1/hetero_secureboost/test_secureboost_train_with_early_stopping_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_layered_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_layered_multiclass_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_layered_regression_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_mix_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_mix_multi_host_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_mix_multiclass_conf.json
  examples/dsl/v2/hetero_fast_secureboost/test_fast_sbt_mix_regression_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_binary_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_binary_with_missing_value_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_complete_secure_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_multi_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_regression_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_regression_multi_host_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_train_with_early_stopping_conf.json
  examples/dsl/v2/homo_secureboost/homo_secureboost_testsuite.json.bak
  examples/dsl/v2/homo_secureboost/test_secureboost_cross_validation_binary_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_cross_validation_multi_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_cross_validation_regression_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_train_binary_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_train_binary_multi_host_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_train_multi_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_train_regression_conf.json
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/fast_feature_histogram.py
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/param/boosting_param.py
Labels: enhancement, federatedml

#1930 Contributor 1.5 sbt optim
  python/__init__.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/__init__.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/__init__.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/fast_feature_histogram.py
Labels: federatedml

#1932 Feature 1.5 fix error round 3
  examples/pipeline/hetero_logistic_regression/__init__.py
  examples/pipeline/hetero_logistic_regression/common_tools.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-cv.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-normal.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-one-vs-all.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-validate.py
  examples/pipeline/hetero_lr/common_tools.py
  examples/pipeline/hetero_lr/pipeline-lr-cv.py
  examples/pipeline/hetero_lr/pipeline-lr-multi-host.py
  examples/pipeline/hetero_lr/pipeline-lr-ovr.py
  examples/pipeline/hetero_lr/pipeline-lr-validate.py
  examples/pipeline/hetero_lr/pipeline-lr.py
  python/federatedml/feature/binning/quantile_summaries.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/statistic/statics.py
Labels: federatedml

#1936 Contributor 1.5 sbt optim
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/fast_feature_histogram.py
Labels: federatedml

#1954 reorder data order in testsuite
  examples/dsl/v1/secure_information_retrieval/secure_information_retrieval_testsuite.json
Labels: document

#1956 Feature 1.5 fix unittest error
  python/federatedml/feature/feature_scale/test/min_max_scale_test.py
  python/federatedml/feature/feature_scale/test/standard_scale_test.py
  python/federatedml/feature/test/imputer_test.py
  python/federatedml/feature/test/sampler_test.py
  python/federatedml/nn/hetero_nn/test/paillier_tensor_test.py
  python/federatedml/nn/hetero_nn/test/random_number_generator_test.py
  python/federatedml/statistic/intersect/test/intersection_guest_test.py
  python/federatedml/statistic/intersect/test/intersection_host_test.py
  python/federatedml/util/test/classify_label_checker_test.py
  python/federatedml/util/test/data_io_test.py
  python/federatedml/util/test/param_extract_test.py
Labels: federatedml

#1958 fix dead loop of iterative affine
  python/federatedml/secureprotol/iterative_affine.py
Labels: bug

#1963 Feature 1.5 fix error round 3
  examples/dsl/v2/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_cv_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_cv_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_early_stop_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_early_stop_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_feature_engineering_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_feature_engineering_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_multi_host_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_multi_host_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_normal_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_normal_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_one_vs_all_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_one_vs_all_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_cv_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_cv_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_sqn_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_cv_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_cv_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_sqn_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_validate_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_validate_dsl.json
  examples/pipeline/hetero_logistic_regression/common_tools.py
  examples/pipeline/hetero_logistic_regression/generated_testsuite.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-early-stop.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-ovr-cv.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-ovr-sqn.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sparse-cv.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sqn.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-cv.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-eval.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-multi-host.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-train-eval.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-train.py
  examples/scripts/upload_default_data.py
  python/federatedml/feature/binning/test/base_binning_test.py
  python/federatedml/feature/binning/test/bucket_binning_test.py
  python/federatedml/feature/binning/test/quantile_binning_test.py
  python/federatedml/feature/binning/test/quantile_summaries_test.py
  python/federatedml/feature/binning/test/test_optimal_binning/hetero_optimal_feature_binning_test.py
  python/federatedml/feature/binning/test/test_optimal_binning/start_test.sh
  python/federatedml/feature/feature_selection/test/manually_filter_test.py
  python/federatedml/feature/feature_selection/test/outlier_filter_test.py
  python/federatedml/feature/feature_selection/test/percentage_value_filter_test.py
  python/federatedml/feature/feature_selection/test/unique_value_filter_test.py
  python/federatedml/feature/feature_selection/test/variance_coe_filter_test.py
  python/federatedml/feature/test/quantile_test.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  python/federatedml/optim/gradient/test/gradient_method_test.py
  python/federatedml/optim/optimizer.py
  python/federatedml/optim/test/optimizer_test.py
  python/federatedml/statistic/data_statistics.py
  python/federatedml/statistic/statics.py
  python/federatedml/statistic/test/statics_test.py
  python/federatedml/statistic/test/statistic_cpn_test.py
Labels: federatedml

#1966 fix selection error
  python/federatedml/feature/feature_selection/filter_base.py
  python/federatedml/feature/feature_selection/iso_model_filter.py
Labels: federatedml

#1968 fix error
  examples/dsl/v2/homo_logistic_regression/homo_logistic_regression_testsuite.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_cv_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_cv_dsl.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_eval_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_eval_dsl.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_multi_host_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_multi_host_dsl.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_dsl.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_eval_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_eval_dsl.json
  python/federatedml/feature/test/ohe_alignment_test.py
  python/federatedml/statistic/test/hetero_pearson_test.py
Labels: federatedml

#1976 Add homo-onehot testsuite
  examples/dsl/v2/homo_onehot/__init__.py
  examples/dsl/v2/homo_onehot/homo_onehot_test_conf.json
  examples/dsl/v2/homo_onehot/homo_onehot_test_dsl.json
  examples/dsl/v2/homo_onehot/homo_onehot_testsuite.json
  examples/pipeline/homo_onehot/pipeline-homo-onehot-test.py
  python/fate_client/pipeline/component/homo_onehot.py
Labels: federatedml

#1975 fix bugs
  examples/dsl/v2/hetero_kmeans/test_hetero_kmeans_with_feature_engineering_conf.json
  examples/dsl/v2/hetero_kmeans/test_hetero_kmeans_with_feature_engineering_dsl.json
  python/federatedml/evaluation/metrics/clustering_metric.py
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_client.py
  python/federatedml/unsupervised_learning/kmeans/kmeans_model_base.py
Labels: federatedml

#1980 fix bugs
  python/federatedml/conf/setting_conf/HeteroKmeans.json
Labels: federatedml

#1981 Feature 1.5.0 fate flow schedule
  python/fate_flow/apps/job_app.py
  python/fate_flow/controller/job_controller.py
  python/fate_flow/controller/task_controller.py
  python/fate_flow/entity/types.py
  python/fate_flow/operation/job_queue.py
  python/fate_flow/operation/job_tracker.py
  python/fate_flow/operation/task_executor.py
  python/fate_flow/scheduler/dag_scheduler.py
  python/fate_flow/scheduler/federated_scheduler.py
  python/fate_flow/scheduling_apps/initiator_app.py
  python/fate_flow/settings.py
Labels: FATE-FLow

#1995 temp update for fast sbt
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
Labels: federatedml

#1994 Feature 1.5 fix error round 3
  examples/benchmark_quality/hetero_binning/__init__.py
  examples/benchmark_quality/hetero_lr/lr_config.yaml
  examples/benchmark_quality/hetero_lr/pipeline-lr-multi.py
  examples/benchmark_quality/hetero_lr/sklearn-lr-multi.py
  python/federatedml/feature/binning/optimal_binning/optimal_binning.py
  python/federatedml/feature/binning/quantile_binning.py
  python/federatedml/util/reduce_by_key.py
Labels: federatedml

#2000 fix ratio compute & order
  python/federatedml/model_selection/data_split/data_split.py
Labels: bug, federatedml

#2002 fix predict dsl
  examples/dsl/v2/column_expand/test_column_expand_predict_job_dsl.json
Labels: document

#2003 add onehot testsuite and hetero-lr test case
  examples/dsl/v1/homo_onehot/homo_onehot_testsuite.json
  examples/dsl/v2/hetero_logistic_regression/hetero-lr-normal-predict-conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero-lr-normal-predict-dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/dsl/v2/homo_onehot/homo_onehot_testsuite.json
Labels: federatedml

#1986 fix
  python/fate_flow/controller/task_controller.py
  python/fate_flow/operation/job_tracker.py
  python/fate_flow/operation/task_executor.py
  python/fate_flow/scheduling_apps/client/tracker_client.py
  python/federatedml/statistic/intersect/intersect.py
  python/federatedml/statistic/intersect/intersect_model.py
Labels: enhancement

#2020 Feature 1.5 kmeans fix bugs
  python/federatedml/evaluation/metrics/clustering_metric.py
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_arbiter.py
  python/federatedml/unsupervised_learning/kmeans/hetero_kmeans/hetero_kmeans_client.py
Labels: federatedml
