Repository FederatedAI/FATE, pull requests merged in 2021-07, with the labels that each got.

#2779 fix hash
  python/federatedml/secureprotol/hash/hash_factory.py
Labels: bug, federatedml

#2761 sir support non-ascii id
  python/federatedml/secure_information_retrieval/base_secure_information_retrieval.py
  python/federatedml/secure_information_retrieval/secure_information_retrieval_guest.py
Labels: enhancement, federatedml

#2851 fix one_vs_rest validate
  examples/pipeline/hetero_logistic_regression/common_tools.py
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-ovr-validate.py
  python/federatedml/one_vs_rest/one_vs_rest.py
Labels: bug

#2848 🐛 Fix torch import issue
  python/federatedml/secureprotol/encrypt.py
Labels: bug

#2867 add component param check in parser
  python/fate_flow/scheduler/dsl_parser.py
Labels: FATE-FLow, enhancement

#2868 🐛 enhance sample strategy
  python/fate_arch/computing/eggroll/_table.py
Labels: arch, enhancement

#2887 🐛 workround beautifultable bug
  python/fate_arch/common/profile.py
Labels: bug

#2897 fix dsl_parse deploy bug when multple input, but some is not deploy
  python/fate_flow/scheduler/dsl_parser.py
Labels: bug

#2901 fix loss func
  python/federatedml/loss/regression_loss.py
Labels: bug, federatedml

#2903 edit overflow error
  python/federatedml/linear_model/linear_model_weight.py
  python/federatedml/linear_model/linear_regression/base_linear_regression.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/poisson_regression/base_poisson_regression.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  python/federatedml/optim/optimizer.py
Labels: federatedml

#2914 Fix join order problem
  python/federatedml/framework/hetero/procedure/batch_generator.py
Labels: federatedml

#2905 fix overflow error
  python/federatedml/linear_model/linear_model_weight.py
  python/federatedml/linear_model/linear_regression/base_linear_regression.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/poisson_regression/base_poisson_regression.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  python/federatedml/optim/optimizer.py
Labels: federatedml

#2902 fix loss func
  python/federatedml/loss/regression_loss.py
Labels: bug, federatedml

#2919 edit intersect param
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
Labels: federatedml

#2922 Fix data statistic partial column in query quantile point
  examples/dsl/v2/data_statistics/data_statistics_all_columns_conf.json
  examples/dsl/v2/data_statistics/data_statistics_all_columns_dsl.json
  examples/dsl/v2/data_statistics/data_statistics_partial_column_conf.json
  examples/dsl/v2/data_statistics/data_statistics_partial_column_dsl.json
  examples/dsl/v2/data_statistics/data_statistics_partial_column_name_conf.json
  examples/dsl/v2/data_statistics/data_statistics_partial_column_name_dsl.json
  examples/dsl/v2/data_statistics/data_statistics_testsuite.json
  examples/pipeline/data_statistics/__init__.py
  examples/pipeline/data_statistics/data_statistics_pipeline_testsuite.json
  examples/pipeline/data_statistics/pipeline-data-statistics-all-columns.py
  examples/pipeline/data_statistics/pipeline-data-statistics-partial-column-name.py
  examples/pipeline/data_statistics/pipeline-data-statistics-partial-column.py
  python/federatedml/feature/binning/base_binning.py
Labels: federatedml

#2927 merge 1.5.2's parse' modify into 1.6.1
  python/fate_flow/scheduler/dsl_parser.py
Labels: bug

#2931 fix sir
  python/federatedml/secure_information_retrieval/base_secure_information_retrieval.py
  python/federatedml/secure_information_retrieval/secure_information_retrieval_guest.py
Labels: enhancement, federatedml
