Repository FederatedAI/FATE, pull requests merged in 2021-03, with the labels that each got.

#2624 edi intersect param
  python/federatedml/statistic/intersect/intersect.py
Labels: federatedml

#2626 Feature 1.6 param fix
  examples/dsl/v2/feature_scale/README.md
  examples/dsl/v2/feature_scale/__init__.py
  examples/dsl/v2/feature_scale/feature_scale_testsuite.json
  examples/dsl/v2/feature_scale/test_feature_scale_cap_conf.json
  examples/dsl/v2/feature_scale/test_feature_scale_cap_dsl.json
  examples/dsl/v2/feature_scale/test_feature_scale_normal_conf.json
  examples/dsl/v2/feature_scale/test_feature_scale_normal_dsl.json
  examples/pipeline/feature_scale/README.md
  examples/pipeline/feature_scale/__init__.py
  examples/pipeline/feature_scale/feature_scale_testsuite.json
  examples/pipeline/feature_scale/pipeline-feature-scale-cap.py
  examples/pipeline/feature_scale/pipeline-feature-scale-normal.py
  examples/pipeline/multi_model/README.md
  python/fate_client/pipeline/param/scale_param.py
  python/federatedml/param/scale_param.py
Labels: document, examples

#2631 fix dependencies
  python/fate_client/pyproject.toml
  python/fate_test/pyproject.toml
Labels: bug, deployment

#2633 Feature 1.6 tree fix
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/criterion.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/splitinfo_cipher_compressor.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/subsample.py
  python/federatedml/param/boosting_param.py
  python/federatedml/statistic/data_overview.py
Labels: bug, federatedml

#2635 Feature 1.6 fix lr binning
  python/federatedml/feature/binning/quantile_summaries.py
  python/federatedml/feature/binning/quantile_tool.py
  python/federatedml/feature/homo_feature_binning/homo_binning_base.py
  python/federatedml/feature/homo_feature_binning/recursive_query_binning.py
  python/federatedml/feature/homo_feature_binning/virtual_summary_binning.py
Labels: federatedml

#2630 edit doc
  doc/dsl_conf_v2_setting_guide.rst
Labels: document

#2628 Feature 1.6 pipeline summary fix
  python/federatedml/evaluation/evaluation.py
  python/federatedml/util/validation_strategy.py
Labels: federatedml

#2644 add checker for hetero_nn_param's drop_out_keep_rate
  python/federatedml/param/hetero_nn_param.py
Labels: federatedml

#2647 Feature 1.6 fix bin num
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
Labels: bug, federatedml

#2648 fix homo-binning
  examples/pipeline/homo_feature_binning/homo_feature_binning_pipeline_testsuite.json
  examples/pipeline/homo_feature_binning/pipeline-homo-recursive-binning-predict.py
  examples/pipeline/homo_feature_binning/pipeline-homo-virtual-summary-binning-predict.py
  python/federatedml/feature/homo_feature_binning/homo_binning_cpn.py
Labels: federatedml

#2649 Add homo-binning testsuite
  examples/dsl/v2/homo-feature-binning/homo_feature_binning_testsuite.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_conf.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_dsl.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_predict_conf.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_predict_dsl.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_select_cols_conf.json
  examples/dsl/v2/homo-feature-binning/homo_recursive_binning_select_cols_dsl.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_conf.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_dsl.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_predict_conf.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_predict_dsl.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_select_cols_conf.json
  examples/dsl/v2/homo-feature-binning/homo_virtual_summary_binning_select_cols_dsl.json
Labels: federatedml

#2653 Dev 1.6 scale bug
  python/federatedml/feature/scale.py
Labels: bug

#2654 fix homo-onehot
  examples/dsl/v1/homo_onehot/train_job_conf.json
Labels: examples

#2600 fix cli doc
  python/fate_client/flow_client/README.rst
  python/fate_client/flow_client/README_zh.rst
Labels: FATE-FLow

#2656 add intersect param
  examples/dsl/v2/intersect/test_intersect_job_rsa_conf.json
  examples/pipeline/intersect/pipeline-intersect-rsa.py
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/statistic/intersect/intersect.py
Labels: examples, federatedml

#2658 edit logger
  python/fate_client/pipeline/backend/__init__.py
  python/fate_client/pipeline/backend/config.py
  python/fate_client/pipeline/config.yaml
  python/fate_client/pipeline/utils/invoker/job_submitter.py
  python/fate_client/pipeline/utils/logger.py
Labels: enhancement

#2660 fix cli doc
  python/fate_client/flow_client/README.rst
  python/fate_client/flow_client/README_zh.rst
  python/fate_client/flow_client/flow_cli/commands/queue.py
Labels: FATE-FLow

#2661 fix cli doc
  python/fate_client/flow_client/README.rst
  python/fate_client/flow_client/README_zh.rst
Labels: FATE-FLow

#2662 fix homo-binning output data format
  python/federatedml/feature/homo_feature_binning/homo_binning_cpn.py
Labels: federatedml

#2664 🐛 Fix a bug
  examples/dsl/v2/homo_nn/mnist_demo/mnist_conf.json
Labels: bug

#2672 Feature 1.6 add dataio deprecated
  python/federatedml/util/data_io.py
Labels: federatedml

#2676 Feature 1.6 repeated id edit
  python/fate_client/pipeline/param/__init__.py
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/statistic/intersect/intersect_model.py
  python/federatedml/statistic/intersect/repeat_id_process.py
Labels: enhancement, federatedml

#2684 Feature 1.6 repeated id edit
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/statistic/intersect/intersect_model.py
  python/federatedml/statistic/intersect/repeat_id_process.py
Labels: federatedml

#2683 Feature 1.6 pipeline doc update
  examples/pipeline/README.rst
  examples/pipeline/demo/pipeline-quick-demo.py
  examples/pipeline/demo/pipeline-upload.py
  examples/pipeline/upload/pipeline-upload.py
  python/fate_client/README.rst
Labels: document

#2691 remove copy in merge
  python/federatedml/feature/binning/quantile_binning.py
Labels: federatedml

#2696 Feature 1.6 intersect split fix
  python/federatedml/statistic/intersect/intersect_guest.py
  python/federatedml/statistic/intersect/intersect_host.py
Labels: federatedml

#2695 Feature 1.6 doc edit
  python/fate_client/pipeline/component/README.rst
  python/fate_client/pipeline/param/__init__.py
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/param/__init__.py
  python/federatedml/util/README.rst
Labels: document

#2703 fix log
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
Labels: federatedml

#2700 edit doc
  python/fate_client/pipeline/component/README.rst
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/statistic/intersect/intersect_guest.py
  python/federatedml/statistic/intersect/intersect_host.py
  python/federatedml/util/sample_weight.py
Labels: document

#2709 edit examples
  examples/pipeline/sample_weight/sample_weight_testsuite.json
Labels: examples

#2711 edit unittest
  python/federatedml/util/test/sample_weight_test.py
Labels: federatedml

#2719 edit doc
  RELEASE.md
Labels: document

#2723 update document file of standalone deploy
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#2727 sample weight add transform
  examples/pipeline/sample_weight/pipeline-sample-weight-name.py
  python/federatedml/util/sample_weight.py
Labels: examples, federatedml

#2731 Develop 1.6
  examples/pipeline/hetero_pearson/_common_component.py
  examples/pipeline/hetero_sbt/pipeline-hetero-sbt-binary-with-predict.py
  examples/pipeline/homo_nn/_common_component.py
  examples/pipeline/sample_weight/pipeline-sample-weight-name.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  python/federatedml/nn/hetero_nn/README.rst
  python/federatedml/util/sample_weight.py
Labels: bug, document, enhancement
