Repository FederatedAI/FATE, pull requests merged in 2021-02, with the labels that each got.

#2522 Feature 1.6 sbt complete
  python/federatedml/cipher_compressor/__init__.py
  python/federatedml/cipher_compressor/compressor.py
  python/federatedml/conf/setting_conf/SBTFeatureTransformer.json
  python/federatedml/ensemble/__init__.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_arbiter.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/criterion.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/decision_tree.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_histogram.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_importance.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/splitinfo_cipher_compressor.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/subsample.py
  python/federatedml/ensemble/boosting/boosting_core/boosting.py
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/ensemble/boosting/homo/homo_secureboost_arbiter.py
  python/federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  python/federatedml/ensemble/test/feature_histogram_test.py
  python/federatedml/evaluation/evaluation.py
  python/federatedml/evaluation/metrics/classification_metric.py
  python/federatedml/feature/sbt_feature_transformer/sbt_feature_transformer.py
  python/federatedml/param/boosting_param.py
  python/federatedml/param/evaluation_param.py
  python/federatedml/param/sbt_feature_transformer_param.py
  python/federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  python/federatedml/protobuf/generated/sample_weight_meta_pb2.py
  python/federatedml/protobuf/generated/sample_weight_param_pb2.py
  python/federatedml/protobuf/proto/boosting-tree-model-param.proto
  python/federatedml/statistic/data_overview.py
  python/federatedml/transfer_variable/auth_conf/hetero_decision_tree_transfer_variable.json
  python/federatedml/transfer_variable/transfer_class/hetero_decision_tree_transfer_variable.py
  python/federatedml/util/consts.py
Labels: federatedml

#2525 fix arch use
  python/fate_client/pipeline/test/test_upload.py
  python/fate_test/fate_test/_flow_client.py
  python/federatedml/param/stepwise_param.py
Labels: examples

#2530 Feature 1.6 linr fix
  examples/dsl/v2/intersect/test_intersect_job_rsa_fraction_conf.json
  examples/dsl/v2/intersect/test_intersect_job_rsa_split_conf.json
  examples/dsl/v2/sample_weight/README.md
  examples/dsl/v2/sample_weight/sample_weight_multi_host_job_conf.json
  examples/dsl/v2/sample_weight/sample_weight_testsuite.json
  examples/pipeline/sample_weight/README.md
  examples/pipeline/sample_weight/pipeline-sample-weight-multi-host.py
  examples/pipeline/sample_weight/sample_weight_testsuite.json
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
Labels: examples, federatedml

#2532 Feature 1.6 linr fix
  python/federatedml/statistic/intersect/intersect.py
Labels: federatedml

#2527 Feature 1.5.1 deploy standalone
  standalone-deploy/README.md
  standalone-deploy/build_standalone_docker.sh
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
  standalone-deploy/docker/docker-compose-build.yml
  standalone-deploy/docker/fate/Dockerfile
  standalone-deploy/docker/fate/docker-entrypoint.sh
  standalone-deploy/docker/fateboard/docker-entrypoint.sh
  standalone-deploy/docker/python/Dockerfile
  standalone-deploy/docker/python/docker-entrypoint.sh
Labels: deployment

#2547 edit cv output
  examples/dsl/v2/hetero_linear_regression/README.md
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_cv_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/README.md
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_cv_conf.json
  python/fate_client/pipeline/param/cross_validation_param.py
  python/federatedml/model_selection/k_fold.py
  python/federatedml/param/cross_validation_param.py
Labels: enhancement, federatedml

#2548 fix standalone implements
  python/fate_arch/_standalone.py
  python/fate_arch/computing/standalone/_table.py
Labels: bug

#2551 Feature 1.6 cv pred output
  examples/pipeline/sample_weight/pipeline-sample-weight-balanced.py
  examples/pipeline/sample_weight/pipeline-sample-weight-feature-engineering.py
  examples/pipeline/sample_weight/pipeline-sample-weight-multi-host.py
  examples/pipeline/sample_weight/pipeline-sample-weight-name.py
Labels: examples

#2553 fix sample weight examples
  examples/pipeline/sample_weight/pipeline-sample-weight-feature-engineering.py
Labels: examples

#2556 fix sample weight param
  examples/dsl/v2/sample_weight/README.md
  examples/dsl/v2/sample_weight/sample_weight_class_dict_feature_engineering_job_conf.json
  examples/dsl/v2/sample_weight/sample_weight_class_dict_feature_engineering_job_dsl.json
  examples/dsl/v2/sample_weight/sample_weight_testsuite.json
  examples/pipeline/sample_weight/README.md
  examples/pipeline/sample_weight/pipeline-sample-weight-class-dict-feature-engineering.py
  examples/pipeline/sample_weight/sample_weight_testsuite.json
  python/fate_client/pipeline/param/sample_weight_param.py
  python/federatedml/param/sample_weight_param.py
  python/federatedml/secureprotol/hash/hash_factory.py
  python/requirements.txt
Labels: examples, federatedml

#2558 Feature 1.6 rm python zip
  examples/dsl/v2/hetero_feature_binning/hetero_binning_asymmetric_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_bucket_binning_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_category_binning_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_large_bin_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_multi_host_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_multi_host_optimal_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_multi_host_sparse_optimal_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_optim_chi_square_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_optim_gini_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_optim_iv_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_optim_ks_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_quantile_binning_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_quantile_binning_dsl.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_skip_statistic_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_sparse_bucket_binning_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_sparse_optimal_chi_square_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_sparse_optimal_gini_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_sparse_optimal_iv_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_sparse_optimal_ks_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_binning_woe_binning_conf.json
  examples/dsl/v2/hetero_feature_binning/hetero_feature_binning_testsuite.json
  examples/pipeline/hetero_feature_binning/hetero_feature_binning_pipeline_testsuite.json
  examples/pipeline/hetero_feature_selection/generated_testsuite.py
  examples/pipeline/homo_logistic_regression/homo_logistic_regression_pipeline_testsuite.json
  examples/pipeline/homo_logistic_regression/homo_logistic_regression_testsuite.json
Labels: federatedml

#2562 edit examples
  examples/dsl/v1/README.rst
  examples/dsl/v2/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/experiment_template/dsl/v1/hetero_lr/test_hetero_lr_train_job_conf.json
  examples/experiment_template/dsl/v1/hetero_lr/test_hetero_lr_train_pearson_job_conf.json
  examples/experiment_template/dsl/v1/hetero_lr/test_hetero_lr_train_sample_job_conf.json
  examples/experiment_template/dsl/v1/hetero_lr/test_hetero_lr_train_select_job_conf.json
  examples/experiment_template/dsl/v1/hetero_lr/test_hetero_lr_train_verify_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_sample_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_select_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_manually_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_union_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
Labels: examples

#2579 update log
  python/federatedml/statistic/data_overview.py
  python/federatedml/util/README.rst
  python/federatedml/util/sample_weight.py
Labels: document, federatedml

#2580 update doc
  python/fate_client/pipeline/param/scale_param.py
  python/federatedml/param/scale_param.py
Labels: document

#2581 Feature 1.6 fix cv with evaluation
  examples/README.rst
  examples/README_zh.rst
  examples/dsl/v2/multi_model_pipeline/test_multi_pipeline_dsl.json
  examples/pipeline/local_baseline/local_baseline_testsuite.json
  examples/pipeline/local_baseline/pipeline-local-baseline-sample-weight.py
Labels: bug, document

#2585 Add binning component in pipeline
  examples/dsl/v2/homo_feature_binning/homo_feature_binning_testsuite.json
  python/fate_client/pipeline/component/homo_feature_binning.py
Labels: federatedml

#2588 Add binning and selection
  python/fate_client/pipeline/param/logistic_regression_param.py
Labels: federatedml

#2591 linr & poisson support float point
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_job_conf.json
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr.py
  python/fate_client/pipeline/param/linear_regression_param.py
  python/fate_client/pipeline/param/logistic_regression_param.py
  python/fate_client/pipeline/param/poisson_regression_param.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_base.py
  python/federatedml/param/linear_regression_param.py
  python/federatedml/param/logistic_regression_param.py
  python/federatedml/param/poisson_regression_param.py
Labels: enhancement, examples, federatedml

#2592 fix dsl parser, change submit_conf's role to depend on module
  python/fate_flow/utils/parameter_util.py
Labels: FATE-FLow

#2593 fix select strategy of nn
  python/federatedml/nn/hetero_nn/strategy/selector.py
Labels: bug

#2597 update param
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/util/consts.py
Labels: bug, federatedml

#2567 repeated_id
  python/federatedml/statistic/intersect/intersect_model.py
  python/federatedml/statistic/intersect/repeat_id_process.py
Labels: enhancement

#2598 clean log
  python/federatedml/model_selection/k_fold.py
Labels: document

#2602 fix parameter util naming problem
  python/fate_flow/utils/parameter_util.py
Labels: bug

#2607 Feature 1.6 fix lr binning
  examples/benchmark_quality/hetero_lr/epsilon_5k_config.yaml
  examples/benchmark_quality/hetero_lr/hetero_lr_sklearn_benchmark.json
  examples/benchmark_quality/hetero_lr/pipeline-lr-binary.py
  examples/benchmark_quality/hetero_lr/pipeline-lr-multi.py
  examples/benchmark_quality/hetero_lr/sklearn-lr-binary.py
  examples/benchmark_quality/hetero_lr/sklearn-lr-multi.py
  examples/benchmark_quality/hetero_lr/vechile_pipeline_config.yaml
  examples/scripts/query_schema.py
  python/federatedml/feature/homo_feature_binning/recursive_query_binning.py
  python/federatedml/feature/homo_feature_binning/virtual_summary_binning.py
  python/federatedml/param/logistic_regression_param.py
Labels: examples, federatedml

#2608 rm useless log
  python/federatedml/feature/homo_feature_binning/homo_binning_base.py
Labels: federatedml

#2609 local baseline load model
  examples/dsl/v2/local_baseline/README.md
  examples/dsl/v2/local_baseline/local_baseline_testsuite.json
  examples/dsl/v2/local_baseline/test_local_baseline_homo_predict_job_conf.json
  examples/dsl/v2/local_baseline/test_local_baseline_homo_predict_job_dsl.json
  examples/dsl/v2/local_baseline/test_local_baseline_predict_job_conf.json
  examples/dsl/v2/local_baseline/test_local_baseline_predict_job_dsl.json
  examples/pipeline/local_baseline/pipeline-local-baseline-homo.py
  examples/pipeline/local_baseline/pipeline-local-baseline.py
  python/fate_test/fate_test/_config.py
  python/federatedml/local_baseline/local_baseline.py
  python/federatedml/model_selection/k_fold.py
  python/federatedml/model_selection/start_cross_validation.py
Labels: enhancement, federatedml

#2613 Feature 1.6 param fix
  examples/dsl/v1/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/dsl/v1/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/dsl/v2/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/dsl/v2/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/pipeline/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/pipeline/feldman_verifiable_sum/pipeline-feldman-verifiable-sum.py
  python/fate_client/pipeline/param/__init__.py
  python/federatedml/local_baseline/README.rst
  python/federatedml/param/__init__.py
Labels: document, examples, federatedml

#2614 edit param
  python/fate_client/pipeline/param/__init__.py
Labels: document

#2616 Feature 1.6 fix lr binning
  python/fate_client/pipeline/component/__init__.py
Labels: federatedml

#2617 Dev 1.6 repeated testsuit
  examples/data/breast_hetero_guest_repeated_id.csv
  examples/data/breast_hetero_guest_sample_id.csv
  examples/data/breast_hetero_host_sample_id.csv
  examples/dsl/v2/intersect/README.md
  examples/dsl/v2/intersect/intersect_testsuite.json
  examples/dsl/v2/intersect/test_intersect_job_repeated_id_conf.json
  examples/pipeline/intersect/README.md
  examples/pipeline/intersect/intersect_testsuite.json
  examples/pipeline/intersect/pipeline-intersect-repeated-id.py
  python/federatedml/statistic/intersect/intersect_model.py
Labels: enhancement
