Repository FederatedAI/FATE, pull requests merged in 2021-09, with the labels that each got.

#3048 fix ftl
  python/federatedml/transfer_learning/hetero_ftl/ftl_base.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_guest.py
Labels: federatedml

#3051 Feature 1.7 homo sbt alias
  python/federatedml/components/components.py
  python/federatedml/components/homo_secure_boost.py
Labels: federatedml

#3052 Feature 1.5.2 homo sbt aggreagator
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
Labels: federatedml

#3059 update aggregator
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
Labels: federatedml

#3067 Feature 1.6.1 dsl parser support single predict
  python/fate_flow/scheduler/dsl_parser.py
  python/fate_flow/utils/parameter_util.py
Labels: FATE-FLow

#3068 edit intersect param
  python/fate_client/pipeline/param/intersect_param.py
  python/fate_client/pipeline/param/sir_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/param/sir_param.py
Labels: federatedml

#3077 edit sir param
  python/federatedml/param/sir_param.py
Labels: federatedml, document

#3076 fix doc of release doc & hetero nn
  RELEASE.md
  python/federatedml/nn/hetero_nn/README.rst
Labels: document

#3080 Feature 1.7 add param check
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/ensemble/boosting/boosting_core/boosting.py
  python/federatedml/param/boosting_param.py
Labels: federatedml

#3081 fix toy example show log
  examples/toy_example/run_toy_example.py
Labels: bug

#3082 raise missing col name error
  python/federatedml/feature/feature_imputation.py
Labels: federatedml

#3084 edit param
  python/fate_client/pipeline/param/label_transform_param.py
  python/federatedml/param/base_param.py
  python/federatedml/param/intersect_param.py
  python/federatedml/param/label_transform_param.py
  python/federatedml/param/linear_regression_param.py
  python/federatedml/param/poisson_regression_param.py
  python/federatedml/param/sir_param.py
  python/federatedml/secure_information_retrieval/base_secure_information_retrieval.py
  python/federatedml/statistic/intersect/raw_intersect/raw_intersect_base.py
  python/federatedml/statistic/intersect/rsa_intersect/rsa_intersect_base.py
  python/federatedml/util/label_transform.py
Labels: federatedml

#3093 fix mysql storage table bug
  python/fate_arch/storage/mysql/_table.py
Labels: bug

#3094 update pipeline upload
  examples/pipeline/upload/README.md
  examples/pipeline/upload/pipeline-upload-extend-sid.py
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/utils/invoker/job_submitter.py
Labels: enhancement

#3046 edit doc
  examples/dsl/v2/intersect/intersect_testsuite.json
  python/federatedml/local_baseline/README.rst
  python/federatedml/secure_information_retrieval/README.rst
  python/federatedml/statistic/intersect/README.rst
Labels: document, examples

#3097 Feature 1.7 sbt warm start
  examples/dsl/v2/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_warm_start_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_warm_start_dsl.json
  examples/dsl/v2/homo_secureboost/homo_secureboost_testsuite.json
  examples/dsl/v2/homo_secureboost/test_secureboost_warm_start_conf.json
  examples/dsl/v2/homo_secureboost/test_secureboost_warm_start_dsl.json
  examples/pipeline/hetero_sbt/pipeline-hetero-sbt-warm-start.py
  examples/pipeline/homo_sbt/pipeline-homo-sbt-warm-start.py
  python/fate_client/pipeline/param/boosting_param.py
  python/fate_flow/components/checkpoint.py
  python/fate_flow/tests/model_tests/checkpoint_test.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/feature_importance.py
  python/federatedml/ensemble/boosting/boosting_core/boosting.py
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  python/federatedml/feature/sbt_feature_transformer/sbt_feature_transformer.py
  python/federatedml/optim/gradient/__init__.py
  python/federatedml/param/boosting_param.py
  python/federatedml/transfer_variable/transfer_class/homo_boosting_transfer_variable.py
Labels: federatedml

#3098 fateboard support
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
Labels: federatedml

#3099 fix feature imputation
  python/federatedml/feature/feature_imputation.py
  python/federatedml/feature/imputer.py
Labels: federatedml

#3104 update intersect
  python/federatedml/statistic/intersect_deprecated/__init__.py
  python/federatedml/statistic/intersect_deprecated/intersect.py
  python/federatedml/statistic/intersect_deprecated/intersect_guest.py
  python/federatedml/statistic/intersect_deprecated/intersect_host.py
  python/federatedml/statistic/intersect_deprecated/intersect_model.py
  python/federatedml/statistic/intersect_deprecated/repeat_id_process.py
  python/federatedml/statistic/intersect_deprecated/rsa_cache/__init__.py
  python/federatedml/statistic/intersect_deprecated/rsa_cache/cache_utils.py
  python/federatedml/statistic/intersect_deprecated/rsa_cache/db_models.py
  python/federatedml/statistic/intersect_deprecated/rsa_cache/redis_adaptor.py
  python/federatedml/statistic/intersect_deprecated/test/intersection_guest_test.py
  python/federatedml/statistic/intersect_deprecated/test/intersection_host_test.py
Labels: federatedml

#3107 fix hetero nn warm start round
  python/federatedml/nn/hetero_nn/hetero_nn_base.py
  python/federatedml/nn/hetero_nn/hetero_nn_guest.py
  python/federatedml/nn/hetero_nn/hetero_nn_host.py
Labels: federatedml

#3108 update pipeline
  python/fate_client/pipeline/utils/invoker/job_submitter.py
Labels: federatedml

#3109 raw intersect temp fix
  python/federatedml/statistic/intersect/raw_intersect/raw_intersect_base.py
Labels: federatedml

#3110 fix fate test
  python/fate_test/fate_test/_flow_client.py
Labels: enhancement

#3112 fix imputer
  python/federatedml/feature/imputer.py
Labels: bug, federatedml

#3114 temp fix deprecated param
  python/federatedml/param/intersect_param.py
  python/federatedml/param/linear_regression_param.py
  python/federatedml/param/poisson_regression_param.py
  python/federatedml/param/sir_param.py
Labels: federatedml

#2937 GLM add warm start
  examples/dsl/v2/hetero_linear_regression/README.md
  examples/dsl/v2/hetero_linear_regression/hetero_linr_testsuite.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_warm_start_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_warm_start_job_dsl.json
  examples/dsl/v2/hetero_poisson_regression/README.md
  examples/dsl/v2/hetero_poisson_regression/hetero_poisson_testsuite.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_warm_start_job_conf.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_warm_start_job_dsl.json
  examples/pipeline/hetero_linear_regression/README.md
  examples/pipeline/hetero_linear_regression/hetero_linr_testsuite.json
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-warm-start.py
  examples/pipeline/hetero_poisson/README.md
  examples/pipeline/hetero_poisson/hetero_poisson_testsuite.json
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-warm-start.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  python/federatedml/util/test/early_stop_test.py
Labels: enhancement, federatedml

#3121 Feature 1.7 warm start linr
  examples/dsl/v2/sample_weight/README.md
  examples/dsl/v2/sample_weight/sample_weight_name_job_conf.json
  examples/dsl/v2/sample_weight/sample_weight_name_job_dsl.json
  examples/dsl/v2/sample_weight/sample_weight_testsuite.json
  examples/pipeline/sample_weight/pipeline-sample-weight-name.py
Labels: examples

#3118 adapt submit interface as flow sdk change dsl_path to dsl_data and co…
  examples/toy_example/run_toy_example.py
Labels: bug

#3122 sshe_lr fix and add dsl cases
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_all_reveal_in_guest_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_all_reveal_in_guest_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_compute_loss_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_compute_loss_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_compute_loss_not_review_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_compute_loss_not_review_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_cv_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_cv_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_l1_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_l1_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_large_init_w_compute_loss_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_large_init_w_compute_loss_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_normal_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_normal_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_normal_not_fit_intercept_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_normal_not_fit_intercept_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_l1_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_l1_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_none_penalty_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_none_penalty_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_reveal_guest_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_ovr_reveal_guest_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_warm_start_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_warm_start_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_with_validate_conf.json
  examples/dsl/v2/hetero_sshe_lr/hetero_lr_with_validate_dsl.json
  examples/dsl/v2/hetero_sshe_lr/hetero_sshe_lr_testsuite.json
  examples/pipeline/hetero_sshe_lr/hetero_sshe_lr_pipeline_testsuite.json
  examples/scripts/generated_testsuite.py
  python/federatedml/linear_model/linear_model_base.py
  python/federatedml/linear_model/logistic_regression/hetero_sshe_logistic_regression/hetero_lr_base.py
  python/federatedml/param/hetero_sshe_lr_param.py
Labels: federatedml
