Repository FederatedAI/FATE, pull requests merged in 2021-01, with the labels that each got.

#2441 edit union to append dataset as suffix when keep_duplicate is true
  python/federatedml/statistic/union/union.py
Labels: federatedml

#2439 fix sdk
  python/fate_client/flow_sdk/client/api/data.py
  python/fate_client/flow_sdk/utils.py
Labels: FATE-FLow

#2446 fix doc
  python/federatedml/statistic/union/README.rst
Labels: document

#2450 fix fast sbt host id type
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_plan.py
Labels: bug

#2451 fix collect problem
  python/federatedml/feature/binning/quantile_binning.py
  python/federatedml/feature/binning/quantile_summaries.py
Labels: federatedml

#2459 toy example enhance: raise error when job_log command is failed
  examples/toy_example/run_toy_example.py
Labels: enhancement

#2461 Feature 1.5.1 fateflow model
  python/fate_flow/apps/model_app.py
  python/fate_flow/pipelined_model/deploy_model.py
  python/fate_flow/scheduler/dag_scheduler.py
  python/fate_flow/scheduler/dsl_parser.py
  python/fate_flow/utils/dsl_exception.py
  python/fate_flow/utils/model_utils.py
Labels: FATE-FLow

#2460 Feature 1.5.1 fate flow api
  python/fate_flow/apps/table_app.py
  python/fate_flow/controller/task_controller.py
  python/fate_flow/examples/test_hetero_lr_job_conf.json
  python/fate_flow/examples/test_hetero_lr_job_dsl.json
  python/fate_flow/scheduler/federated_scheduler.py
  python/fate_flow/scheduling_apps/party_app.py
  python/fate_flow/utils/authentication_utils.py
  python/fate_flow/utils/job_utils.py
Labels: FATE-FLow, bug

#2456 change default error
  python/federatedml/linear_model/linear_model_base.py
  python/federatedml/util/consts.py
Labels: federatedml

#2469 fix psi interval
  python/federatedml/evaluation/metrics/classification_metric.py
Labels: federatedml

#2472 fix binning
  python/federatedml/feature/binning/quantile_binning.py
Labels: federatedml

#2348 fix spdz docs
  python/federatedml/secureprotol/README.rst
Labels: document

#2476 fix param typo
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/param/boosting_param.py
Labels: federatedml

#2477 Feature 1.5.1 fate flow api
  conf/service_conf.yaml
  python/fate_arch/common/base_utils.py
  python/fate_client/flow_client/flow_cli/commands/job.py
  python/fate_client/flow_client/flow_cli/utils/cli_args.py
  python/fate_client/flow_sdk/client/api/job.py
  python/fate_flow/apps/model_app.py
  python/fate_test/flow_test/config/settings.json
  python/fate_test/flow_test/run_task.py
  python/fate_test/flow_test/template/test_predict_conf.json
  python/fate_test/flow_test/template/test_predict_dsl.json
  python/fate_test/flow_test/template/test_secureboost_train_binary_conf.json
  python/fate_test/flow_test/template/test_secureboost_train_dsl.json
Labels: FATE-FLow

#2479 Feature 1.5.1 data split fix
  examples/dsl/v2/data_split/data_split_testsuite.json
  examples/dsl/v2/data_split/test_homo_data_split_validate_job_conf.json
  examples/pipeline/data_split/data_split_testsuite.json
  examples/pipeline/data_split/pipeline-homo-data-split-validate.py
  python/federatedml/model_selection/data_split/data_split.py
  python/federatedml/optim/gradient/hetero_linr_gradient_and_loss.py
  python/federatedml/statistic/intersect/intersect_guest.py
  python/federatedml/statistic/union/union.py
Labels: bug, federatedml

#2480 update doc
  examples/dsl/v2/data_split/README.md
  examples/pipeline/data_split/README.md
Labels: document

#2363 Feature 1.6 cv output
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/cross_validation_param.py
  python/federatedml/model_selection/k_fold.py
  python/federatedml/model_selection/start_cross_validation.py
  python/federatedml/param/cross_validation_param.py
  python/federatedml/util/component_properties.py
  python/federatedml/util/consts.py
Labels: enhancement, federatedml

#2366 edit default param
  python/fate_client/pipeline/param/scale_param.py
  python/federatedml/param/scale_param.py
Labels: federatedml

#2483 rm some log
  python/federatedml/feature/binning/optimal_binning/optimal_binning.py
  python/federatedml/feature/homo_onehot/homo_ohe_base.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
  python/federatedml/optim/gradient/hetero_sqn_gradient.py
  python/federatedml/optim/optimizer.py
Labels: federatedml

#2482 clean log
  python/federatedml/linear_model/linear_regression/base_linear_regression.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_arbiter.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/logistic_regression/base_logistic_regression.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/poisson_regression/base_poisson_regression.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/model_base.py
  python/federatedml/model_selection/stepwise/hetero_stepwise.py
  python/federatedml/model_selection/stepwise/step.py
  python/federatedml/secure_information_retrieval/base_secure_information_retrieval.py
  python/federatedml/secure_information_retrieval/secure_information_retrieval_guest.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/hauck_oblivious_transfer_receiver.py
  python/federatedml/secureprotol/oblivious_transfer/hauck_oblivious_transfer/hauck_oblivious_transfer_sender.py
  python/federatedml/statistic/intersect/repeat_id_process.py
  python/federatedml/statistic/union/union.py
  python/federatedml/util/schema_check.py
Labels: federatedml

#2487 edit examples
  examples/dsl/v2/sample_weight/README.md
  examples/dsl/v2/sample_weight/sample_weight_feature_engineering_job_conf.json
  examples/dsl/v2/sample_weight/sample_weight_feature_engineering_job_dsl.json
  examples/dsl/v2/sample_weight/sample_weight_testsuite.json
  examples/pipeline/sample_weight/README.md
  examples/pipeline/sample_weight/pipeline-sample-weight-feature-engineering.py
  examples/pipeline/sample_weight/sample_weight_testsuite.json
Labels: examples, federatedml

#2488 Feature 1.5.1 contributor vss
  examples/dsl/v1/feldman_verifiable_sum/README.md
  examples/dsl/v1/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/dsl/v1/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/dsl/v1/feldman_verifiable_sum/test_feldman_verifiable_sum_dsl.json
  examples/dsl/v2/feldman_verifiable_sum/README.md
  examples/dsl/v2/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/dsl/v2/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/dsl/v2/feldman_verifiable_sum/test_feldman_verifiable_sum_dsl.json
  examples/pipeline/feldman_verifiable_sum/README.md
  examples/pipeline/feldman_verifiable_sum/feldman_verifiable_sum_testsuite.json
  examples/pipeline/feldman_verifiable_sum/pipeline-feldman-verifiable-sum.py
  python/fate_client/pipeline/component/README.rst
  python/fate_client/pipeline/component/__init__.py
  python/fate_client/pipeline/component/feldman_verifiable_sum.py
  python/fate_client/pipeline/param/__init__.py
  python/fate_client/pipeline/param/feldman_verifiable_sum_param.py
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/conf/setting_conf/FeldmanVerifiableSum.json
  python/federatedml/param/feldman_verifiable_sum_param.py
  python/federatedml/secureprotol/README.rst
  python/federatedml/secureprotol/secret_sharing/verifiable_secret_sharing/__init__.py
  python/federatedml/secureprotol/secret_sharing/verifiable_secret_sharing/feldman_verifiable_secret_sharing.py
  python/federatedml/statistic/feldman_verifiable_sum/README.rst
  python/federatedml/statistic/feldman_verifiable_sum/__init__.py
  python/federatedml/statistic/feldman_verifiable_sum/base_feldman_verifiable_sum.py
  python/federatedml/statistic/feldman_verifiable_sum/feldman_verifiable_sum_guest.py
  python/federatedml/statistic/feldman_verifiable_sum/feldman_verifiable_sum_host.py
  python/federatedml/statistic/feldman_verifiable_sum/images/__init__.py
  python/federatedml/statistic/feldman_verifiable_sum/images/feldman_verifiable_sum.png
  python/federatedml/statistic/feldman_verifiable_sum/images/share_sub-key.png
  python/federatedml/transfer_variable/auth_conf/feldman_verifiable_sum_transfer_variable.json
  python/federatedml/transfer_variable/transfer_class/feldman_verifiable_sum_transfer_variable.py
Labels: document, examples, federatedml

#2495 bugfix: spark implement of
  python/fate_arch/computing/spark/_table.py
Labels: bug

#2494 fix param typo/ modify predict check
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/param/boosting_param.py
Labels: federatedml

#2496 Feature 1.5.1 flow doc
  python/fate_client/flow_client/README.rst
  python/fate_client/flow_client/README_zh.rst
  python/fate_client/flow_sdk/README.rst
  python/fate_client/flow_sdk/README_zh.rst
  python/fate_flow/doc/Fate_Flow_CLI_v2_Guide.md
  python/fate_flow/doc/Fate_Flow_CLI_v2_Guide.rst
  python/fate_flow/doc/Fate_Flow_CLI_v2_Guide_zh.md
  python/fate_flow/doc/Fate_Flow_CLI_v2_Guide_zh.rst
  python/fate_flow/doc/Fate_Flow_Client_SDK_Guide.md
  python/fate_flow/doc/Fate_Flow_Client_SDK_Guide.rst
  python/fate_flow/doc/Fate_Flow_Client_SDK_Guide_zh.md
  python/fate_flow/doc/Fate_Flow_Client_SDK_Guide_zh.rst
  python/fate_flow/doc/fate_flow_http_api.rst
Labels: FATE-FLow, document

#2493 edit doc
  doc/dsl_conf_v2_setting_guide.rst
  examples/experiment_template/user_usage/dsl_v2_predict_tutorial.md
Labels: document

#2502 clean log
  python/federatedml/statistic/intersect_deprecated/intersect_guest.py
  python/federatedml/statistic/intersect_deprecated/repeat_id_process.py
Labels: federatedml

#2509 fix rsa unified
  python/federatedml/statistic/intersect/intersect.py
Labels: federatedml

#2510 Feature 1.6 data transform
  examples/dsl/v2/data_transform/README.md
  examples/dsl/v2/data_transform/data_transform_testsuite.json
  examples/dsl/v2/data_transform/test_data_transform_dense_conf.json
  examples/dsl/v2/data_transform/test_data_transform_dsl.json
  examples/dsl/v2/data_transform/test_data_transform_missing_fill_conf.json
  examples/dsl/v2/data_transform/test_data_transform_tag_value_conf.json
  examples/pipeline/data_transform/README.md
  examples/pipeline/data_transform/__init__.py
  examples/pipeline/data_transform/data_transform_testsuite.json
  examples/pipeline/data_transform/pipeline-data-transform-dense.py
  examples/pipeline/data_transform/pipeline-data-transform-missing-fill.py
  examples/pipeline/data_transform/pipeline-data-transform-tag-value.py
  python/fate_client/pipeline/component/__init__.py
  python/fate_client/pipeline/component/data_transform.py
  python/fate_client/pipeline/param/data_transform_param.py
  python/federatedml/conf/setting_conf/DataTransform.json
  python/federatedml/param/data_transform_param.py
  python/federatedml/protobuf/generated/data_transform_meta_pb2.py
  python/federatedml/protobuf/generated/data_transform_param_pb2.py
  python/federatedml/protobuf/proto/data-transform-meta.proto
  python/federatedml/protobuf/proto/data-transform-param.proto
  python/federatedml/util/data_transform.py
Labels: federatedml

#2508 edit fate-test
  python/fate_test/fate_test/_config.py
Labels: federatedml

#2492 Feature 1.6 glm
  examples/pipeline/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-pearson.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-vif.py
  examples/pipeline/hetero_logistic_regression/common_tools.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sparse-cv.py
  python/fate_client/pipeline/component/data_transform.py
  python/fate_client/pipeline/component/hetero_feature_binning.py
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/feature_binning_param.py
  python/fate_client/pipeline/param/feature_selection_param.py
  python/federatedml/conf/setting_conf/HeteroFeatureBinning.json
  python/federatedml/conf/setting_conf/HomoFeatureBinning.json
  python/federatedml/feature/binning/base_binning.py
  python/federatedml/feature/binning/bin_result.py
  python/federatedml/feature/binning/optimal_binning/optimal_binning.py
  python/federatedml/feature/binning/quantile_binning.py
  python/federatedml/feature/binning/quantile_summaries.py
  python/federatedml/feature/binning/quantile_tool.py
  python/federatedml/feature/binning/test/quantile_summaries_test.py
  python/federatedml/feature/feature_selection/correlation_filter.py
  python/federatedml/feature/feature_selection/filter_factory.py
  python/federatedml/feature/feature_selection/iso_model_filter.py
  python/federatedml/feature/feature_selection/model_adapter/adapter_factory.py
  python/federatedml/feature/feature_selection/model_adapter/pearson_adapter.py
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  python/federatedml/feature/hetero_feature_selection/base_feature_selection.py
  python/federatedml/feature/homo_feature_binning/homo_binning_base.py
  python/federatedml/feature/homo_feature_binning/homo_binning_cpn.py
  python/federatedml/feature/homo_feature_binning/recursive_query_binning.py
  python/federatedml/feature/homo_feature_binning/virtual_summary_binning.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_arbiter.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_base.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_linr_gradient_and_loss.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  python/federatedml/optim/gradient/hetero_poisson_gradient_and_loss.py
  python/federatedml/optim/gradient/hetero_sqn_gradient.py
  python/federatedml/optim/gradient/homo_lr_gradient.py
  python/federatedml/param/feature_binning_param.py
  python/federatedml/param/feature_selection_param.py
  python/federatedml/param/logistic_regression_param.py
  python/federatedml/transfer_variable/auth_conf/homo_binning_transfer_variable.json
  python/federatedml/transfer_variable/transfer_class/homo_binning_transfer_variable.py
  python/federatedml/util/consts.py
  python/requirements.txt
Labels: federatedml

#2514 fix repeated tag
  python/federatedml/statistic/feldman_verifiable_sum/feldman_verifiable_sum_host.py
Labels: bug, federatedml

#2447 Feature 1.6 benchmark catch
  python/fate_test/fate_test/scripts/benchmark_cli.py
Labels: bug

#2515 fix error
  examples/pipeline/multi_model/pipeline-multi-model.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_guest.py
  python/federatedml/linear_model/logistic_regression/homo_logsitic_regression/homo_lr_host.py
Labels: federatedml

#2516 update hetero nn
  examples/dsl/v2/hetero_nn/README.md
  examples/dsl/v2/hetero_nn/hetero_nn_testsuite.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_drop_out_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_floating_point_precision_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_selective_bp_conf.json
  examples/pipeline/hetero_nn/README.md
  examples/pipeline/hetero_nn/hetero_nn_testsuite.json
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-drop-out.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-floating_point_precision.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-selective-bp.py
  python/fate_client/pipeline/component/hetero_nn.py
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/hetero_nn_param.py
  python/federatedml/nn/backend/tf_keras/nn_model.py
  python/federatedml/nn/hetero_nn/backend/hetero_nn_model.py
  python/federatedml/nn/hetero_nn/backend/paillier_tensor.py
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/drop_out.py
  python/federatedml/nn/hetero_nn/hetero_nn_base.py
  python/federatedml/nn/hetero_nn/hetero_nn_guest.py
  python/federatedml/nn/hetero_nn/hetero_nn_host.py
  python/federatedml/nn/hetero_nn/model/hetero_nn_bottom_model.py
  python/federatedml/nn/hetero_nn/model/hetero_nn_top_model.py
  python/federatedml/nn/hetero_nn/model/interactive_layer.py
  python/federatedml/nn/hetero_nn/strategy/__init__.py
  python/federatedml/nn/hetero_nn/strategy/comparision.py
  python/federatedml/nn/hetero_nn/strategy/selector.py
  python/federatedml/nn/hetero_nn/util/fixpoint_solver.py
  python/federatedml/nn/hetero_nn/util/random_number_generator.py
  python/federatedml/param/hetero_nn_param.py
  python/federatedml/transfer_variable/auth_conf/hetero_nn_transfer_variable.json
  python/federatedml/transfer_variable/transfer_class/hetero_nn_transfer_variable.py
  python/federatedml/util/consts.py
Labels: federatedml
