Repository FederatedAI/FATE, pull requests merged in 2021-08, with the labels that each got.

#2920 edit intersect param
  python/fate_client/pipeline/param/intersect_param.py
  python/federatedml/param/intersect_param.py
Labels: federatedml

#2950 add support for inst id
  python/federatedml/ensemble/boosting/boosting_core/boosting.py
  python/federatedml/evaluation/evaluation.py
  python/federatedml/util/validation_strategy.py
Labels: enhancement, federatedml

#2956 edit param doc
  python/fate_client/pipeline/param/encrypt_param.py
  python/federatedml/param/encrypt_param.py
Labels: document

#2958 Feature 1.6.1 data split join
  python/federatedml/model_selection/data_split/data_split.py
Labels: enhancement, contributor, federatedml

#2757 Feature 1.7 sample weight model
  examples/pipeline/sample_weight/pipeline-sample-weight-balanced.py
  python/fate_client/pipeline/component/README.rst
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/protobuf/generated/sample_weight_model_meta_pb2.py
  python/federatedml/protobuf/generated/sample_weight_model_param_pb2.py
  python/federatedml/protobuf/proto/sample-weight-model-meta.proto
  python/federatedml/protobuf/proto/sample-weight-model-param.proto
  python/federatedml/util/README.rst
  python/federatedml/util/sample_weight.py
Labels: enhancement, federatedml, examples

#2971 Feature 1.7 pipeline config
  examples/pipeline/README.rst
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/pipeline_cli.py
  python/fate_client/pipeline/utils/invoker/job_submitter.py
Labels: enhancement

#2983 fix dsl_parser bug when not deploy some multiple output module like data-split
  python/fate_flow/scheduler/dsl_parser.py
Labels: bug

#2984 Feature 1.7 homo model convert sbt
  python/federatedml/nn/hetero_nn/backend/hetero_nn_model.py
  python/federatedml/nn/hetero_nn/hetero_nn_guest.py
  python/federatedml/nn/hetero_nn/hetero_nn_host.py
  python/federatedml/nn/hetero_nn/hetero_nn_model.py
  python/federatedml/protobuf/generated/boosting_tree_model_param_pb2.py
  python/federatedml/protobuf/homo_model_convert/homo_model_convert.py
  python/federatedml/protobuf/homo_model_convert/lightgbm/gbdt.py
  python/federatedml/protobuf/proto/boosting-tree-model-param.proto
Labels: federatedml

#2994 pipeline support cache
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/component/intersection.py
  python/fate_client/pipeline/interface/__init__.py
  python/fate_client/pipeline/interface/cache.py
  python/fate_client/pipeline/interface/output.py
Labels: enhancement, federatedml

#2996 Feature 1.7.0 data transform add instid
  README.md
  docker-build/docker/modules/fateboard/Dockerfile
  examples/dsl/v2/data_transform/data_transform_testsuite.json
  examples/dsl/v2/data_transform/test_data_transform_dense_match_id_conf.json
  examples/dsl/v2/data_transform/test_data_transform_match_id_dsl.json
  examples/dsl/v2/data_transform/test_data_transform_tag_value_match_id_conf.json
  examples/pipeline/data_transform/data_transform_testsuite.json
  examples/pipeline/data_transform/pipeline-data-transform-dense-match-id.py
  examples/pipeline/data_transform/pipeline-data-transform-tag-value-match-id.py
  python/fate_client/pipeline/param/data_transform_param.py
  python/federatedml/README.rst
  python/federatedml/param/data_transform_param.py
  python/federatedml/protobuf/generated/data_transform_meta_pb2.py
  python/federatedml/protobuf/proto/data-transform-meta.proto
  python/federatedml/util/data_transform.py
Labels: federatedml

#3021 remove debug log
  python/federatedml/cipher_compressor/packer.py
  python/federatedml/protobuf/homo_model_convert/homo_model_convert.py
Labels: federatedml

#3026 Feature 1.7 doc update
  examples/dsl/v2/feature_imputation/feature_imputation_column_method_job_conf.json
  python/federatedml/feature/feature_imputation.py
  python/federatedml/feature/imputer.py
  python/federatedml/protobuf/generated/feature_imputation_param_pb2.py
  python/federatedml/protobuf/proto/feature-imputation-param.proto
  python/federatedml/statistic/intersect/intersect_model.py
Labels: enhancement, federatedml, examples

#3027 Feature 1.7 hetero&homo sbt
  examples/dsl/v1/homo_secureboost/test_secureboost_cross_validation_dsl.json
  examples/dsl/v1/homo_secureboost/test_secureboost_train_dsl.json
  examples/dsl/v2/homo_secureboost/test_secureboost_cross_validation_dsl.json
  examples/dsl/v2/homo_secureboost/test_secureboost_train_dsl.json
  python/fate_client/pipeline/component/homo_secureboost.py
  python/fate_client/pipeline/param/boosting_param.py
  python/fate_client/pipeline/param/consts.py
  python/fate_client/pipeline/param/ftl_param.py
  python/federatedml/callbacks/validation_strategy.py
  python/federatedml/components/homo_secure_boost.py
  python/federatedml/ensemble/boosting/boosting_core/boosting.py
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
  python/federatedml/ensemble/boosting/homo/homo_secureboost_client.py
  python/federatedml/param/boosting_param.py
  python/federatedml/param/ftl_param.py
  python/federatedml/secureprotol/encrypt_mode.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_base.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_host.py
Labels: enhancement, federatedml

#3037 fix local baseline param
  python/fate_client/pipeline/param/local_baseline_param.py
  python/federatedml/param/local_baseline_param.py
Labels: federatedml

#3039 Feature 1.7 hetero&homo sbt
  python/federatedml/components/sbt_feature_transformer.py
  python/federatedml/ensemble/boosting/boosting_core/hetero_boosting.py
  python/federatedml/ensemble/boosting/boosting_core/homo_boosting.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_host.py
Labels: federatedml

#3044 fix ftl
  python/federatedml/transfer_learning/hetero_ftl/ftl_base.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_guest.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_host.py
Labels: federatedml
