Repository FederatedAI/FATE, pull requests merged in 2022-03, with the labels that each got.

#3752 fix bug: circular reference
  python/fate_arch/common/address.py
Labels: bug

#3753 Develop 1.7.2
  python/fate_arch/common/address.py
Labels: bug

#3755 Feature 1.5.3 lr
  examples/dsl/v1/hetero_logistic_regression/hetero_lr_testsuite.json
  examples/dsl/v1/hetero_logistic_regression/test_hetero_lr_ovr_sqn_job_conf.json
  examples/dsl/v1/hetero_logistic_regression/test_hetero_lr_sparse_sqn_train_job_conf.json
  examples/dsl/v1/hetero_logistic_regression/test_hetero_lr_sqn_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_sqn_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_sqn_dsl.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_dsl.json
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-ovr-sqn.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sparse-sqn.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sqn.py
  python/fate_client/pipeline/param/logistic_regression_param.py
  python/federatedml/framework/hetero/procedure/batch_generator.py
  python/federatedml/framework/hetero/sync/batch_info_sync.py
  python/federatedml/linear_model/linear_model_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/model_selection/mini_batch.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  python/federatedml/param/logistic_regression_param.py
  python/federatedml/secureprotol/encrypt_mode.py
  python/federatedml/transfer_variable/auth_conf/hetero_lr_transfer_variable.json
  python/federatedml/transfer_variable/transfer_class/hetero_lr_transfer_variable.py
Labels: federatedml

#3761 update examples, fix bug, #3691
  examples/benchmark_quality/hetero_lr/pipeline-lr-binary.py
  examples/benchmark_quality/hetero_lr/pipeline-lr-multi.py
  examples/dsl/v2/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_batch_random_strategy_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_batch_random_strategy_dsl.json
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-batch-random-strategy.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
Labels: bug, examples

#3760 update EINI content #3707
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
  python/federatedml/ensemble/secureboost/secureboost_util/boosting_tree_predict.py
Labels: enhancement, federatedml

#3762 update fate's version
  cluster-deploy/README.md
  cluster-deploy/doc/Fate-allinone_deployment_guide_install_zh.md
  cluster-deploy/doc/Fate-exchange_deployment_guide_zh.md
  cluster-deploy/doc/Fate_cluster_install_guide_ansible.md
  cluster-deploy/doc/Fate_guest_install_guide_ansible.md
  fate.env
  python/fate_flow/doc/swagger.yaml
  standalone-deploy/README.md
  standalone-deploy/doc/Fate-standalone_deployment_guide_zh.md
Labels: document

#3764 optimize int size in sbt predict transfer #3702
  python/federatedml/ensemble/secureboost/secureboost_util/boosting_tree_predict.py
Labels: enhancement, federatedml

#3767 Feature 1.8.0 binning optimize
  examples/pipeline/multi_model/multi_pipeline_testsuite.json
  examples/pipeline/multi_model/pipeline-hetero-multi-model.py
  examples/pipeline/multi_model/pipeline-homo-multi-model.py
  examples/pipeline/multi_model/pipeline-multi-model.py
  python/federatedml/feature/binning/quantile_binning.py
  python/federatedml/feature/binning/quantile_summaries.py
Labels: federatedml

#3770 Feature 1.8 sshe glm update
  examples/dsl/v2/hetero_sshe_linr/hetero_linr_conf.json
  examples/dsl/v2/hetero_sshe_linr/hetero_linr_sample_weight_conf.json
  examples/dsl/v2/hetero_sshe_linr/hetero_linr_validate_conf.json
  examples/pipeline/hetero_sshe_linr/pipeline-hetero-linr-sample-weight.py
  examples/pipeline/hetero_sshe_linr/pipeline-hetero-linr-validate.py
  examples/pipeline/hetero_sshe_linr/pipeline-hetero-linr.py
  python/fate_client/pipeline/component/data_statistics.py
  python/fate_client/pipeline/param/__init__.py
  python/fate_client/pipeline/param/hetero_sshe_linr_param.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_model.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_logistic_regression/hetero_lr_host.py
  python/federatedml/param/hetero_sshe_linr_param.py
  python/federatedml/protobuf/generated/poisson_model_meta_pb2.py
  python/federatedml/protobuf/proto/poisson-model-meta.proto
  python/federatedml/statistic/data_statistics.py
Labels: enhancement, federatedml

#3775 fix predict codes
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
  python/federatedml/ensemble/secureboost/secureboost_util/boosting_tree_predict.py
  python/federatedml/evaluation/evaluation.py
Labels: bug, federatedml

#3776 fix quantile summary using in homo binning
  python/federatedml/feature/binning/quantile_summaries.py
Labels: bug

#3777 Feature 1.8 sshe glm update
  examples/dsl/v2/hetero_sshe_linr/hetero_linr_validate_conf.json
Labels: examples

#3779 update feature importance sync
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
Labels: bug

#3784 data origin
  python/fate_arch/metastore/db_models.py
  python/fate_arch/storage/__init__.py
  python/fate_arch/storage/_session.py
  python/fate_arch/storage/_table.py
  python/fate_arch/storage/_types.py
Labels: enhancement, arch

#3785 fix lr param
  python/federatedml/param/logistic_regression_param.py
Labels: federatedml

#3788 1.8 update
  examples/dsl/v2/hetero_ftl/test_ftl_encrypted_conf.json
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
Labels: federatedml

#3790 update model name
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
Labels: bug

#3796 add npm when building fateboard
  build/package-build/build.sh
Labels: deploy

#3801 update release note and examples
  RELEASE.md
  examples/benchmark_quality/hetero_lr/epsilon_5k_config.yaml
  examples/benchmark_quality/hetero_lr/hetero_lr_sklearn_benchmark.json
  examples/benchmark_quality/hetero_lr/vechile_config.yaml
  examples/benchmark_quality/hetero_lr/vechile_pipeline_config.yaml
Labels: document, examples

#3800 Feature 1.8 sshe glm update
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_model.py
  python/federatedml/linear_model/logistic_regression/hetero_sshe_logistic_regression/hetero_lr_base.py
  python/federatedml/statistic/union/union.py
Labels: enhancement, federatedml

#3787 fix mkdocs (#3786)
  doc/mkdocs/requirements.txt
  python/federatedml/param/boosting_param.py
Labels: bug

#3808 add param check
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/param/boosting_param.py
Labels: bug

#3809 disable table can't to be used
  python/fate_arch/abc/_storage.py
  python/fate_arch/metastore/db_models.py
  python/fate_arch/session/_session.py
  python/fate_arch/storage/_table.py
  python/fate_client/flow_client/flow_cli/commands/table.py
Labels: enhancement

#3822 fixed spdz bugs. add qield align
  python/federatedml/secureprotol/spdz/communicator/federation.py
  python/federatedml/secureprotol/spdz/spdz.py
  python/federatedml/transfer_variable/transfer_class/secret_share_transfer_variable.py
Labels: bug, federatedml

#3827 Feature 1.8 Fix Hetero Feature Selection
  python/federatedml/feature/hetero_feature_selection/base_feature_selection.py
  python/federatedml/transfer_variable/transfer_class/hetero_feature_selection_transfer_variable.py
Labels: bug, enhancement, federatedml

#3830 clean code of using encrypted_mode_calculator
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_model.py
  python/federatedml/linear_model/coordinated_linear_model/linear_regression/base_linear_regression.py
  python/federatedml/linear_model/coordinated_linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/coordinated_linear_model/linear_regression/hetero_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/linear_model/coordinated_linear_model/poisson_regression/base_poisson_regression.py
  python/federatedml/linear_model/coordinated_linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/coordinated_linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_host.py
  python/federatedml/linear_model/linear_model_base.py
  python/federatedml/nn/hetero_nn/model/interactive_layer.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_poisson_gradient_and_loss.py
  python/federatedml/optim/gradient/hetero_sqn_gradient.py
  python/federatedml/secureprotol/paillier_tensor.py
  python/federatedml/transfer_learning/hetero_ftl/ftl_base.py
Labels: federatedml

#3819 update fate-test 1.8, fixed #3780, #3781, #3782
  examples/data/upload_config/__init__.py
  examples/data/upload_config/all_examples_data_testsuite.json
  examples/data/upload_config/min_test_data_testsuite.json
  python/fate_test/fate_test/_config.py
  python/fate_test/fate_test/_flow_client.py
  python/fate_test/fate_test/_parser.py
  python/fate_test/fate_test/fate_test_config.yaml
  python/fate_test/fate_test/scripts/cli.py
  python/fate_test/fate_test/scripts/data_cli.py
  python/fate_test/fate_test/scripts/op_test/__init__.py
  python/fate_test/fate_test/scripts/op_test/fate_he_performance_test.py
  python/fate_test/fate_test/scripts/op_test/performance_assess.py
  python/fate_test/fate_test/scripts/op_test/spdz_conf/__init__.py
  python/fate_test/fate_test/scripts/op_test/spdz_conf/job_conf.json
  python/fate_test/fate_test/scripts/op_test/spdz_conf/job_dsl.json
  python/fate_test/fate_test/scripts/op_test/spdz_test.py
  python/fate_test/fate_test/scripts/pipeline_conversion_cli.py
  python/fate_test/fate_test/scripts/secure_protocol_cli.py
  python/fate_test/fate_test/scripts/testsuite_cli.py
  python/fate_test/fate_test/utils.py
  python/federatedml/components/spdz_test_cpn.py
  python/federatedml/test/spdz_test/__init__.py
  python/federatedml/test/spdz_test/spdz_test.py
  python/federatedml/test/spdz_test/spdz_test_param.py
Labels: enhancement, test

#3831 Feature 1.8 remove sbt encrypt calculator
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/cipher_compressor/packer.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/g_h_optim.py
  python/federatedml/ensemble/boosting/hetero_boosting.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/secureboost_util/tree_model_io.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/param/boosting_param.py
  python/federatedml/secureprotol/encrypt.py
Labels: federatedml

#3821 Try to fix keras-based homoNN trainable variable
  python/federatedml/nn/backend/tf_keras/nn_model.py
Labels: bug

#3815 Fix #3814: fix some conf files in the examples of homo_nn
  examples/dsl/v2/homo_nn/keras_homo_dnn_multi_label.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_multi_label.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_multi_layer.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_single_layer.json
Labels: examples

#3835 Feature 1.8 fix fast sbt pipeline
  python/fate_client/pipeline/component/hetero_fast_secureboost.py
  python/federatedml/ensemble/boosting/hetero_boosting.py
Labels: bug, federatedml

#3838 edit examples & doc (#3766)
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/linear_regression.md
  examples/benchmark_quality/hetero_linear_regression/local-linr.py
  python/fate_client/pipeline/component/hetero_sshe_linr.py
Labels: document, examples

#3836 fix sparse quantile summary's query interface
  python/federatedml/feature/binning/quantile_summaries.py
Labels: bug

#3839 Feature 1.8 fix fast sbt pipeline
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
Labels: bug
