Repository FederatedAI/FATE, pull requests merged in 2022-07, with the labels that each got.

#3957 change the code implementation for alignment in homo_ohe_arbiter.py t…
  python/federatedml/feature/homo_onehot/homo_ohe_arbiter.py
Labels: PRs-welcome, UnderAssessment

#4085 add max_message_size conf in service conf (#3866)
  conf/service_conf.yaml
  python/fate_arch/federation/_federation.py
  python/fate_arch/federation/pulsar/_federation.py
  python/fate_arch/federation/rabbitmq/_federation.py
Labels: arch

#4061 fix selective back propagation of hetero_nn, issue #4007
  python/federatedml/nn/hetero_nn/backend/hetero_nn_model.py
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
  python/federatedml/nn/hetero_nn/model/interactive_layer.py
  python/federatedml/secureprotol/paillier_tensor.py
Labels: bug

#4084 fix: correct summary["num_local_features"]
  python/federatedml/statistic/correlation/hetero_pearson.py
Labels: bug

#4080 edit data split
  python/federatedml/model_selection/data_split/data_split.py
  python/federatedml/model_selection/data_split/hetero_data_split.py
  python/federatedml/model_selection/data_split/homo_data_split.py
Labels: enhancement, federatedml

#4104 Feature 1.9.0 anonymous header
  python/federatedml/feature/binning/bin_inner_param.py
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  python/federatedml/feature/one_hot_encoder.py
  python/federatedml/model_base.py
  python/federatedml/param/data_transform_param.py
  python/federatedml/protobuf/generated/data_transform_param_pb2.py
  python/federatedml/protobuf/model_migrate/converter/binning_model_converter.py
  python/federatedml/protobuf/model_migrate/converter/converter_base.py
  python/federatedml/protobuf/model_migrate/converter/data_transform_converter.py
  python/federatedml/protobuf/model_migrate/converter/pearson_model_converter.py
  python/federatedml/protobuf/model_migrate/converter_factory.py
  python/federatedml/protobuf/proto/data-transform-param.proto
  python/federatedml/statistic/data_overview.py
  python/federatedml/util/anonymous_generator_util.py
  python/federatedml/util/data_format_preprocess.py
  python/federatedml/util/data_transform.py
  python/federatedml/util/test/anonymous_generator_test.py
Labels: enhancement, federatedml

#4106 fix binning
  python/federatedml/feature/binning/base_binning.py
  python/federatedml/feature/binning/bucket_binning.py
  python/federatedml/feature/binning/optimal_binning/optimal_binning.py
  python/federatedml/feature/binning/quantile_binning.py
Labels: bug

#4095 feat: Curve25519 supports none args (#3859)
  rust/fate_crypto/fate_crypto/psi/__init__.pyi
  rust/fate_crypto/src/psi/curve25519.rs
Labels: enhancement

#4109 Feature 1.9.0 homo sbt init fix
  python/federatedml/ensemble/boosting/homo_boosting.py
Labels: bug, federatedml

#4110 fix optimal binning anonymous header using
  python/federatedml/feature/binning/optimal_binning/optimal_binning.py
Labels: bug

#4111 fix homo onehot
  python/federatedml/feature/homo_onehot/homo_ohe_arbiter.py
  python/federatedml/feature/homo_onehot/homo_ohe_base.py
Labels: bug

#4092 update doc
  deploy/cluster-deploy/doc/fate_on_eggroll/fate-allinone_deployment_guide.md
  deploy/cluster-deploy/doc/fate_on_eggroll/fate-allinone_deployment_guide.zh.md
Labels: deploy

#4117 disabled dataio, #4116
  python/federatedml/util/data_io.py
Labels: federatedml

#4119 edit examples(#4081)
  doc/federatedml_component/feature_selection.md
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_iv_selection_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_iv_top_k_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_local_only_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_multi_host_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_multi_iso_conf.json
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-iv-selection.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-iv-top-k.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-local-only.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-multi-host.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-multi-iso.py
  examples/pipeline/multi_model/pipeline-hetero-multi-model.py
Labels: document, examples

#4120 Feature 1.9 examples update
  examples/dsl/v2/feldman_verifiable_sum/test_feldman_verifiable_sum_conf.json
  examples/dsl/v2/hetero_feature_selection/README.md
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_homo_sbt_conf.json
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_testsuite.json
  examples/dsl/v2/hetero_feature_selection/pipeline-hetero-feature-selection-homo-sbt_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_cv_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_validate_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sample_weights_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_cv_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_validate_conf.json
  examples/dsl/v2/homo_logistic_regression/homo-lr-normal-predict-conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_cv_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_eval_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_multi_host_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_one_vs_all_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_one_vs_all_encrypted_host_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_conf.json
  examples/dsl/v2/homo_logistic_regression/homo_lr_train_eval_conf.json
  examples/dsl/v2/label_transform/label_transform_conf.json
  examples/dsl/v2/label_transform/label_transform_encoder_conf.json
  examples/dsl/v2/label_transform/label_transform_encoder_without_label_list_conf.json
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-anonymous-manually-left.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-anonymous-manually.py
Labels: document, examples

#4115 feat: pearson adapt anonymous header (#3860)
  python/fate_arch/abc/_federation.py
  python/federatedml/statistic/correlation/hetero_pearson.py
Labels: federatedml

#4121 Feature 1.9.0 nn sbt bug fix
  python/federatedml/ensemble/boosting/boosting.py
  python/federatedml/ensemble/boosting/hetero_boosting.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
  python/federatedml/feature/feature_selection/model_adapter/tree_adapter.py
  python/federatedml/nn/hetero_nn/model/hetero_nn_model.py
Labels: bug, federatedml

#4122 fix fate client import
  python/fate_client/pipeline/__init__.py
Labels: bug, federatedml

#4126 compatiblity for training data_transform in older version, but predict in v1.9
  python/federatedml/util/abnormal_detection.py
  python/federatedml/util/data_transform.py
Labels: federatedml

#4129 fix: fix merge error
  python/federatedml/statistic/correlation/hetero_pearson.py
Labels: bug

#4132 fix ce loss
  python/federatedml/nn/hetero_nn/protection_enhance/coae.py
Labels: federatedml

#4131 Feature 1.9 examples update
  doc/federatedml_component/feature_selection.md
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_pearson_conf.json
  examples/dsl/v2/intersect/test_intersect_job_ecdh_w_preprocess_conf.json
  examples/dsl/v2/label_transform/label_transform_conf.json
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-pearson.py
  examples/pipeline/intersect/pipeline-intersect-ecdh-w-preprocess.py
  examples/pipeline/label_transform/pipeline-label-transform.py
  python/federatedml/statistic/data_overview.py
Labels: enhancement, federatedml, examples

#4137 Feature 1.9.0 nn fix
  python/federatedml/nn/hetero_nn/backend/pytorch/pytorch_nn_model.py
  python/federatedml/nn/hetero_nn/model/hetero_nn_top_model.py
  python/federatedml/nn/hetero_nn/protection_enhance/coae.py
Labels: bug, federatedml

#4138 add torch examples
  examples/data/movie_lens_hetero_guest.csv
  examples/data/movie_lens_hetero_host.csv
  examples/pipeline/hetero_nn/hetero_nn_testsuite.json
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-coae.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-multi-host.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-recommend-task.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-torch.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-multi-torch.py
Labels: federatedml

#4141 add __del__ for session
  python/fate_arch/relation_ship.py
  python/fate_arch/session/_session.py
  python/fate_arch/tests/test_arch_api.py
Labels: arch

#4150 Feature 1.9.0 optimize pipeline
  examples/benchmark_quality/hetero_fast_sbt/fate-fast-sbt.py
  examples/benchmark_quality/hetero_linear_regression/fate-linr.py
  examples/benchmark_quality/hetero_lr/pipeline-lr-binary.py
  examples/benchmark_quality/hetero_lr/pipeline-lr-multi.py
  examples/benchmark_quality/hetero_lr/pipeline-sshe-lr-binary.py
  examples/benchmark_quality/hetero_lr/pipeline-sshe-lr-multi.py
  examples/benchmark_quality/hetero_nn/fate-hetero_nn.py
  examples/benchmark_quality/hetero_sbt/fate-sbt.py
  examples/benchmark_quality/homo_lr/pipeline-lr-binary.py
  examples/benchmark_quality/homo_lr/pipeline-lr-multi.py
  examples/benchmark_quality/homo_nn/fate-homo_nn.py
  examples/benchmark_quality/homo_sbt/fate-sbt.py
  python/fate_client/pipeline/backend/config.py
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/backend/task_info.py
  python/fate_client/pipeline/utils/invoker/job_submitter.py
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
  python/fate_test/fate_test/utils.py
  python/fate_test/pyproject.toml
  python/fate_test/setup.py
Labels: federatedml, examples

#4148 fix bug
  python/fate_client/pipeline/component/nn/backend/fate_torch/init.py
  python/federatedml/nn/backend/fate_torch/init.py
  python/federatedml/nn/backend/fate_torch/serialization.py
  python/federatedml/nn/hetero_nn/model/hetero_nn_model.py
  python/federatedml/nn/hetero_nn/model/interactive_layer.py
Labels: bug, federatedml

#4157 update benchmark
  examples/benchmark_quality/homo_sbt/fate_sbt_regression.yaml
  examples/benchmark_quality/homo_sbt/gbdt-regression.py
Labels: examples

#4156 fix bias update
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
Labels: bug

#4155 replace predict detail type(#4154)
  python/federatedml/evaluation/evaluation.py
  python/federatedml/model_base.py
  python/federatedml/statistic/data_overview.py
  python/federatedml/util/label_transform.py
Labels: federatedml

#4166 fix bug
  python/federatedml/nn/hetero_nn/backend/tf_keras/interactive/dense_model.py
Labels: bug, federatedml
