Repository FederatedAI/FATE, pull requests merged in 2022-01, with the labels that each got.

#3577 Fix example doc
  examples/README.zh.md
Labels: document

#3583 Bugfix/1.7.1/multiple get
  python/fate_arch/abc/_computing.py
  python/fate_arch/computing/eggroll/_table.py
  python/fate_arch/computing/spark/_table.py
  python/fate_arch/computing/standalone/_table.py
  python/federatedml/secureprotol/spdz/tensor/fixedpoint_numpy.py
  python/federatedml/secureprotol/spdz/tensor/fixedpoint_table.py
Labels: bug

#3590 add driver profile info
  python/fate_arch/common/profile.py
Labels: CI

#3606 add cache to `count`
  python/fate_arch/computing/eggroll/_table.py
  python/fate_arch/computing/spark/_table.py
  python/fate_arch/computing/standalone/_table.py
Labels: enhancement

#3582 fix quantime summary object compress data error, and do not ignore ab…
  python/federatedml/feature/binning/quantile_summaries.py
Labels: bug

#3588 speed up onehot encoder, and don't transform instance inplace, optimi…
  python/federatedml/feature/instance.py
  python/federatedml/feature/one_hot_encoder.py
Labels: bug, enhancement

#3591 speed up statistics
  doc/tutorial/README.zh.md
  python/federatedml/feature/feature_selection/correlation_filter.py
  python/federatedml/feature/feature_selection/filter_base.py
  python/federatedml/feature/feature_selection/filter_factory.py
  python/federatedml/feature/feature_selection/iso_model_filter.py
  python/federatedml/feature/feature_selection/iv_filter.py
  python/federatedml/feature/feature_selection/manually_filter.py
  python/federatedml/feature/feature_selection/model_adapter/binning_adapter.py
  python/federatedml/feature/feature_selection/model_adapter/isometric_model.py
  python/federatedml/feature/feature_selection/model_adapter/pearson_adapter.py
  python/federatedml/feature/feature_selection/selection_properties.py
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/feature/hetero_feature_selection/base_feature_selection.py
  python/federatedml/feature/test/test_new_binning/__init__.py
  python/federatedml/feature/test/test_new_binning/hetero_feature_binning_guest_test.py
  python/federatedml/feature/test/test_new_binning/hetero_feature_binning_host_test.py
  python/federatedml/feature/test/test_new_binning/kill.sh
  python/federatedml/feature/test/test_new_binning/start_test.sh
  python/federatedml/feature/test/test_new_feature_selection/__init__.py
  python/federatedml/feature/test/test_new_feature_selection/hetero_feature_selection_guest_test.py
  python/federatedml/feature/test/test_new_feature_selection/hetero_feature_selection_host_test.py
  python/federatedml/feature/test/test_new_feature_selection/kill.sh
  python/federatedml/feature/test/test_new_feature_selection/start_test.sh
  python/federatedml/framework/hetero/sync/selection_info_sync.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/homo_logistic_regression/homo_lr_host.py
  python/federatedml/linear_model/poisson_regression/hetero_poisson_regression/hetero_poisson_guest.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  python/federatedml/statistic/statics.py
Labels: federatedml

#3600 Feature 1.7.1 remove affine
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/ensemble.md
  doc/federatedml_component/secureprotol.md
  doc/tutorial/pipeline/pipeline_tutorial_hetero_sbt.ipynb
  doc/tutorial/pipeline/pipeline_tutorial_match_id.ipynb
  examples/dsl/v2/hetero_feature_selection/hetero_feature_selection_fast_sbt_conf.json
  examples/dsl/v2/hetero_secureboost/README.md
  examples/dsl/v2/sbt_feature_transformer/test_sbt_feat_transformer_conf_0.json
  examples/dsl/v2/sbt_feature_transformer/test_sbt_feat_transformer_conf_1.json
  examples/dsl/v2/sbt_feature_transformer/test_sbt_feat_transformer_conf_2.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_manually_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_union_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_manually_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_one_hot_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_pearson_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_test_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_union_sbt.py
  examples/min_test_task/config/test_secureboost_train_binary_conf.json
  examples/pipeline/demo/pipeline-quick-demo.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-fast-sbt.py
  examples/pipeline/sbt_feature_transformer/pipeline-sbt-transformer-fast-sbt.py
  examples/pipeline/sbt_feature_transformer/pipeline-sbt-transformer-multi.py
  examples/pipeline/sbt_feature_transformer/pipeline-sbt-transformer.py
  python/federatedml/cipher_compressor/test/packing_tensor_test.py
  python/federatedml/ensemble/test/gh_packing_compressing_test.py
  python/federatedml/secureprotol/__init__.py
  python/federatedml/secureprotol/affine.py
  python/federatedml/secureprotol/affine_encoder.py
  python/federatedml/secureprotol/encrypt.py
  python/federatedml/secureprotol/encrypt_mode.py
  python/federatedml/secureprotol/iterative_affine.py
  python/federatedml/secureprotol/test/affine_test.py
  python/federatedml/secureprotol/test/iterative_affine_test.py
  python/federatedml/util/consts.py
Labels: federatedml

#3612 Pipeline Component Should Add Provider Info
  python/fate_client/pipeline/backend/pipeline.py
  python/fate_client/pipeline/component/cache_loader.py
  python/fate_client/pipeline/component/column_expand.py
  python/fate_client/pipeline/component/component_base.py
  python/fate_client/pipeline/component/data_statistics.py
  python/fate_client/pipeline/component/data_transform.py
  python/fate_client/pipeline/component/dataio.py
  python/fate_client/pipeline/component/evaluation.py
  python/fate_client/pipeline/component/feature_imputation.py
  python/fate_client/pipeline/component/feldman_verifiable_sum.py
  python/fate_client/pipeline/component/hetero_data_split.py
  python/fate_client/pipeline/component/hetero_fast_secureboost.py
  python/fate_client/pipeline/component/hetero_feature_binning.py
  python/fate_client/pipeline/component/hetero_feature_selection.py
  python/fate_client/pipeline/component/hetero_ftl.py
  python/fate_client/pipeline/component/hetero_kmeans.py
  python/fate_client/pipeline/component/hetero_linr.py
  python/fate_client/pipeline/component/hetero_lr.py
  python/fate_client/pipeline/component/hetero_nn.py
  python/fate_client/pipeline/component/hetero_pearson.py
  python/fate_client/pipeline/component/hetero_poisson.py
  python/fate_client/pipeline/component/hetero_secureboost.py
  python/fate_client/pipeline/component/hetero_sshe_lr.py
  python/fate_client/pipeline/component/homo_data_split.py
  python/fate_client/pipeline/component/homo_feature_binning.py
  python/fate_client/pipeline/component/homo_lr.py
  python/fate_client/pipeline/component/homo_nn.py
  python/fate_client/pipeline/component/homo_onehot.py
  python/fate_client/pipeline/component/homo_secureboost.py
  python/fate_client/pipeline/component/intersection.py
  python/fate_client/pipeline/component/label_transform.py
  python/fate_client/pipeline/component/local_baseline.py
  python/fate_client/pipeline/component/model_loader.py
  python/fate_client/pipeline/component/one_hot_encoder.py
  python/fate_client/pipeline/component/psi.py
  python/fate_client/pipeline/component/reader.py
  python/fate_client/pipeline/component/sample_weight.py
  python/fate_client/pipeline/component/sampler.py
  python/fate_client/pipeline/component/sbt_feature_transformer.py
  python/fate_client/pipeline/component/scale.py
  python/fate_client/pipeline/component/scorecard.py
  python/fate_client/pipeline/component/secure_information_retrieval.py
  python/fate_client/pipeline/component/union.py
  python/fate_client/pipeline/constant.py
  python/federatedml/feature/instance.py
  python/federatedml/statistic/statics.py
Labels: bug, federatedml

#3614 edit selection
  python/federatedml/feature/feature_selection/selection_properties.py
Labels: enhancement, federatedml

#3616 ignore hidden files from hdfs file reading
  python/fate_arch/storage/localfs/_table.py
Labels: bug

#3617 edit examples config
  examples/config.yaml
  python/federatedml/statistic/statics.py
Labels: examples

#3637 Feature 1.7.1 predict inplace fix
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_fast_secureboost_host.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_guest.py
  python/federatedml/ensemble/boosting/hetero/hetero_secureboost_host.py
Labels: enhancement

#3631 add stats example
  examples/dsl/v2/data_statistics/data_statistics_partial_column_missing_conf.json
  examples/dsl/v2/data_statistics/data_statistics_partial_column_missing_dsl.json
  examples/dsl/v2/data_statistics/data_statistics_testsuite.json
  examples/pipeline/data_statistics/data_statistics_pipeline_testsuite.json
  examples/pipeline/data_statistics/pipeline-data-statistics-partial-column-missing.py
Labels: examples

#3623 Recover Affine Keyword For Compatibility
  python/fate_client/pipeline/backend/pipeline.py
  python/federatedml/statistic/statics.py
  python/federatedml/util/consts.py
Labels: bug

#3649 Feature-1.6.2 enhance
  examples/benchmark_quality/hetero_fast_sbt/fate-fast-sbt.py
  examples/benchmark_quality/hetero_sbt/fate-sbt.py
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_sample_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_select_job_conf.json
  examples/experiment_template/dsl/v1/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_manually_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_one_hot_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_pearson_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_union_job_conf.json
  examples/experiment_template/dsl/v2/hetero_secureboost/test_hetero_secureboost_train_verify_job_conf.json
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_manually_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_one_hot_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_pearson_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_test_sbt.py
  examples/experiment_template/pipeline/hetero_secureboost/pipeline_train_union_sbt.py
  examples/pipeline/hetero_feature_selection/pipeline-hetero-feature-selection-fast-sbt.py
  python/federatedml/README.rst
  python/federatedml/README_zh.rst
  python/federatedml/secureprotol/README.rst
  python/federatedml/secureprotol/__init__.py
  python/federatedml/secureprotol/affine.py
  python/federatedml/secureprotol/affine_encoder.py
  python/federatedml/secureprotol/encrypt.py
  python/federatedml/secureprotol/iterative_affine.py
  python/federatedml/secureprotol/test/affine_test.py
  python/federatedml/secureprotol/test/iterative_affine_test.py
Labels: enhancement, federatedml, examples

#3575 edit dh intersect
  python/federatedml/statistic/intersect/base_intersect.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_base.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_guest.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_host.py
Labels: enhancement, federatedml

#3670 update glm
  python/federatedml/linear_model/coordinated_linear_model/linear_regression/base_linear_regression.py
  python/federatedml/linear_model/coordinated_linear_model/linear_regression/hetero_linear_regression/hetero_linr_base.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  python/federatedml/linear_model/coordinated_linear_model/poisson_regression/base_poisson_regression.py
Labels: federatedml

#3676 add task_cores to standalone mode
  python/fate_arch/_standalone.py
  python/fate_arch/computing/standalone/_csession.py
  python/fate_arch/session/_session.py
Labels: enhancement, arch

#3682 fix code format of federatedml, delete some unused code
  fate.env
  python/fate_client/pipeline/param/boosting_param.py
  python/fate_client/pipeline/param/evaluation_param.py
  python/fate_client/pipeline/param/feldman_verifiable_sum_param.py
  python/fate_client/pipeline/runtime/entity.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
  python/federatedml/feature/test/test_new_binning/__init__.py
  python/federatedml/feature/test/test_new_binning/hetero_feature_binning_guest_test.py
  python/federatedml/feature/test/test_new_binning/hetero_feature_binning_host_test.py
  python/federatedml/feature/test/test_new_binning/kill.sh
  python/federatedml/feature/test/test_new_binning/start_test.sh
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/__init__.py
  python/federatedml/loss/__init__.py
  python/federatedml/loss/regression_loss.py
  python/federatedml/param/feldman_verifiable_sum_param.py
  python/federatedml/util/anonymous_generator.py
Labels: federatedml

#3401 homo-lr one-vs-rest
  examples/pipeline/homo_logistic_regression/homo_logistic_regression_pipeline_testsuite.json
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-one-vs-all-encrypted-host.py
  examples/pipeline/homo_logistic_regression/pipeline-homo-lr-one-vs-all.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/base_logistic_regression.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/homo_logistic_regression/homo_lr_arbiter.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/homo_logistic_regression/homo_lr_base.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/homo_logistic_regression/homo_lr_guest.py
  python/federatedml/linear_model/coordinated_linear_model/logistic_regression/homo_logistic_regression/homo_lr_host.py
  python/federatedml/one_vs_rest/one_vs_rest.py
Labels: federatedml
