Repository FederatedAI/FATE, pull requests merged in 2022-11, with the labels that each got.

#4395 Feature 1.10 sampler
  doc/federatedml_component/sample.md
  examples/dsl/v2/sample_weight/sample_weight_name_job_conf.json
  examples/dsl/v2/sample_weight/sample_weight_name_job_dsl.json
  examples/dsl/v2/sample_weight/sample_weight_testsuite.json
  examples/pipeline/sample_weight/pipeline-sample-weight-name.py
  examples/pipeline/sample_weight/sample_weight_testsuite.json
  python/fate_client/pipeline/param/sample_param.py
  python/federatedml/feature/sampler.py
  python/federatedml/param/sample_param.py
Labels: enhancement, federatedml, document, examples

#4379 Feature 1.10 ecdh mpsi
  examples/dsl/v2/intersect/README.md
  examples/dsl/v2/intersect/intersect_testsuite.json
  examples/dsl/v2/intersect/test_intersect_job_dh_multi_exact_cardinality_conf.json
  examples/dsl/v2/intersect/test_intersect_job_ecdh_multi_conf.json
  examples/dsl/v2/intersect/test_intersect_job_ecdh_multi_exact_cardinality_conf.json
  examples/pipeline/intersect/README.md
  examples/pipeline/intersect/intersect_testsuite.json
  examples/pipeline/intersect/pipeline-intersect-dh-multi-exact-cardinality.py
  examples/pipeline/intersect/pipeline-intersect-ecdh-multi-exact-cardinality.py
  examples/pipeline/intersect/pipeline-intersect-ecdh-multi.py
  python/federatedml/statistic/intersect/base_intersect.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_base.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_guest.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_host.py
  python/federatedml/statistic/intersect/ecdh_intersect/ecdh_intersect_base.py
  python/federatedml/statistic/intersect/ecdh_intersect/ecdh_intersect_guest.py
  python/federatedml/statistic/intersect/ecdh_intersect/ecdh_intersect_host.py
  python/federatedml/statistic/intersect/intersect_model.py
Labels: enhancement, federatedml, document, examples

#4443 Feature 1.10 ecdh mpsi
  python/federatedml/secure_information_retrieval/secure_information_retrieval_guest.py
  python/federatedml/statistic/intersect/dh_intersect/dh_intersect_guest.py
Labels: federatedml

#4447 Feature 1.10.0 nn
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_drop_out_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_floating_point_precision_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_selective_bp_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_check_point_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_check_point_dsl.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_early_stop_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_early_stop_dsl.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_warm_start_conf.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_binary_with_warm_start_dsl.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_dsl.json
  examples/dsl/v2/hetero_nn/test_hetero_nn_multi_conf.json
  examples/dsl/v2/homo_nn/homo_nn_dsl.json
  examples/dsl/v2/homo_nn/homo_nn_testsuite.json
  examples/dsl/v2/homo_nn/keras_homo_dnn_multi_label.json
  examples/dsl/v2/homo_nn/keras_homo_dnn_multi_layer.json
  examples/dsl/v2/homo_nn/keras_homo_dnn_multi_layer_predict.json
  examples/dsl/v2/homo_nn/keras_homo_dnn_single_layer.json
  examples/dsl/v2/homo_nn/keras_homo_nn_testsuite.json
  examples/dsl/v2/homo_nn/mnist_demo/README.md
  examples/dsl/v2/homo_nn/mnist_demo/bind_local_path.json
  examples/dsl/v2/homo_nn/mnist_demo/mnist_conf.json
  examples/dsl/v2/homo_nn/mnist_demo/mnist_dsl.json
  examples/dsl/v2/homo_nn/mnist_demo/mnist_nn_testsuite.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_aggregate_n_epoch_conf.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_aggregate_n_epoch_dsl.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_binary_conf.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_binary_dsl.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_multi_conf.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_multi_dsl.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_regression_conf.json
  examples/dsl/v2/homo_nn/pipeline_homo_nn_train_regression_dsl.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_multi_label.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_multi_layer.json
  examples/dsl/v2/homo_nn/pytorch_homo_dnn_single_layer.json
  examples/dsl/v2/homo_nn/pytorch_homo_nn_testsuite.json
  examples/pipeline/homo_nn/pipeline_homo_nn_aggregate_n_epoch.py
  examples/pipeline/homo_nn/pipeline_homo_nn_multi_label.py
  examples/pipeline/homo_nn/pipeline_homo_nn_multi_layer.py
  examples/pipeline/homo_nn/pipeline_homo_nn_single_layer.py
  examples/pipeline/homo_nn/pipeline_homo_nn_train_binary.py
  examples/pipeline/homo_nn/pipeline_homo_nn_train_multi.py
  examples/pipeline/homo_nn/pipeline_homo_nn_train_regression.py
  python/federatedml/framework/homo/aggregator/agg_base.py
  python/federatedml/framework/homo/aggregator/secure_aggregator.py
  python/federatedml/nn/homo/client.py
  python/federatedml/nn/homo/trainer/fedavg_trainer.py
Labels: federatedml

#4450 fix pipeline setup & dsl conf
  examples/dsl/v2/homo_nn/homo_nn_aggregate_n_epoch_conf.json
  examples/dsl/v2/homo_nn/homo_nn_aggregate_n_epoch_dsl.json
  examples/dsl/v2/homo_nn/homo_nn_train_binary_conf.json
  examples/dsl/v2/homo_nn/homo_nn_train_binary_dsl.json
  examples/dsl/v2/homo_nn/homo_nn_train_multi_conf.json
  examples/dsl/v2/homo_nn/homo_nn_train_multi_dsl.json
  examples/dsl/v2/homo_nn/homo_nn_train_regression_conf.json
  examples/dsl/v2/homo_nn/homo_nn_train_regression_dsl.json
  examples/pipeline/hetero_nn/hetero_nn_testsuite.json
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-floating_point_precision.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-recommend-task.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-binary-torch.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-multi-torch.py
  python/fate_client/pipeline/component/nn/backend/torch/cust_model.py
  python/fate_client/setup.py
  python/federatedml/nn/backend/torch/cust_model.py
Labels: federatedml

#4454 Featuren 1.10.0 nn conflicts
  python/federatedml/protobuf/generated/nn_model_meta_pb2.py
  python/federatedml/protobuf/generated/nn_model_param_pb2.py
  python/federatedml/protobuf/proto/nn-model-meta.proto
  python/federatedml/protobuf/proto/nn-model-param.proto
Labels: federatedml

#4453 remove old nn proto
  python/federatedml/protobuf/generated/nn_model_meta_pb2.py
  python/federatedml/protobuf/generated/nn_model_param_pb2.py
  python/federatedml/protobuf/proto/nn-model-meta.proto
  python/federatedml/protobuf/proto/nn-model-param.proto
Labels: federatedml

#4459 pep8 fix
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/g_h_optim.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/loss/regression_loss.py
  python/federatedml/ensemble/boosting/boosting.py
  python/federatedml/feature/binning/iv_calculator.py
Labels: federatedml

#4465 update doc
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/feature_binning.md
  doc/federatedml_component/intersect.md
  examples/data/README.md
  examples/data/citeulike_a_eval.csv
  examples/data/citeulike_a_guest.csv
  examples/data/citeulike_a_host.csv
  examples/data/citeulike_svd_guest_1000.csv
  examples/data/citeulike_svd_host_1000.csv
  examples/data/movie_lens_hetero_guest.csv
  examples/data/movie_lens_hetero_host.csv
  python/federatedml/secureprotol/iterative_affine.py
Labels: document, examples

#4470 fix doc
  doc/federatedml_component/feature_binning.md
Labels: document

#4478 add metric type
  examples/pipeline/positive_unlabeled/pipeline-positive-unlabeled-sshe-lr.py
  python/federatedml/semi_supervised_learning/positive_unlabeled/positive_unlabeled_transformer.py
Labels: enhancement, federatedml, examples

#4467 Feature 1.10 binning
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  python/federatedml/param/feature_binning_param.py
Labels: enhancement, federatedml

#4437 Feature 1.10 pipeline sdk
  python/fate_client/pipeline/backend/pipeline.py
Labels: enhancement

#4485 edit doc
  README.md
  doc/api/fate_client/pipeline.md
Labels: document, examples

#4486 Feature 1.10 nn fix
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-multi.py
  examples/pipeline/hetero_nn/pipeline-hetero-nn-train-with-check-point.py
  python/fate_client/pipeline/__init__.py
  python/federatedml/nn/hetero/base.py
  python/federatedml/nn/hetero/guest.py
  python/federatedml/nn/hetero/host.py
  python/federatedml/nn/hetero/interactive/base.py
  python/federatedml/nn/hetero/interactive/he_interactive_layer.py
  python/federatedml/nn/hetero/interactive/utils/numpy_layer.py
  python/federatedml/nn/hetero/model.py
  python/federatedml/nn/hetero/nn_component/bottom_model.py
  python/federatedml/nn/hetero/nn_component/top_model.py
  python/federatedml/nn/hetero/nn_component/torch_model.py
  python/federatedml/nn/hetero/protection_enhance/coae.py
  python/federatedml/nn/homo/trainer/fedavg_trainer.py
  python/federatedml/nn/homo/trainer/trainer_base.py
Labels: bug, federatedml
