Repository FederatedAI/FATE, pull requests merged in 2022-06, with the labels that each got.

#4025 add upgrade sql
  deploy/upgrade/sql/1.6.0-1.6.1.sql
  deploy/upgrade/sql/1.6.1-1.7.0.sql
  deploy/upgrade/sql/1.7.0-1.7.1.sql
  deploy/upgrade/sql/1.7.1-1.7.2.sql
  deploy/upgrade/sql/1.7.2-1.8.0.sql
  python/fate_arch/metastore/base_model.py
Labels: deploy

#4028 Feature 1.9 interoperability
  python/fate_arch/_standalone.py
  python/fate_arch/abc/_computing.py
  python/fate_arch/common/_parties.py
  python/fate_arch/common/_types.py
  python/fate_arch/computing/eggroll/_table.py
  python/fate_arch/computing/spark/_table.py
  python/fate_arch/computing/standalone/_table.py
  python/fate_arch/federation/__init__.py
  python/fate_arch/federation/_federation.py
  python/fate_arch/federation/_gc.py
  python/fate_arch/federation/_nretry.py
  python/fate_arch/federation/_type.py
  python/fate_arch/federation/pulsar/_federation.py
  python/fate_arch/federation/pulsar/_mq_channel.py
  python/fate_arch/federation/pulsar/_pulsar_manager.py
  python/fate_arch/federation/rabbitmq/_federation.py
  python/fate_arch/federation/rabbitmq/_mq_channel.py
  python/fate_arch/federation/rabbitmq/_rabbit_manager.py
  python/fate_arch/federation/transfer_variable.py
  python/fate_arch/relation_ship.py
  python/fate_arch/session/__init__.py
  python/fate_arch/session/_parties.py
  python/fate_arch/session/_session.py
Labels: arch

#4013 wrap Python api from Rust implement of curve25519
  .github/workflows/build_wheel.yml
  .gitignore
  rust/fate_crypto/Cargo.lock
  rust/fate_crypto/Cargo.toml
  rust/fate_crypto/fate_crypto/__init__.py
  rust/fate_crypto/fate_crypto/hash/__init__.py
  rust/fate_crypto/fate_crypto/hash/__init__.pyi
  rust/fate_crypto/fate_crypto/psi/__init__.py
  rust/fate_crypto/fate_crypto/psi/__init__.pyi
  rust/fate_crypto/pyproject.toml
  rust/fate_crypto/src/hash/mod.rs
  rust/fate_crypto/src/hash/sm3.rs
  rust/fate_crypto/src/lib.rs
  rust/fate_crypto/src/psi/curve25519.rs
  rust/fate_crypto/src/psi/mod.rs
  rust/fate_crypto/tests/test_psi_ecdh.py
  rust/fate_crypto/tests/test_sm3_hash.py
Labels: federatedml

#4056 refact: purge large-object-split code (#4055)
  python/fate_arch/federation/__init__.py
  python/fate_arch/federation/_split.py
  python/fate_arch/federation/eggroll/_federation.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/splitter.py
  python/federatedml/framework/weights.py
Labels: arch

#4052 optim _receive_obj func memory for federation (#3866)
  python/fate_arch/federation/_federation.py
Labels: bug, arch

#4029 Feature 1.9 data split display
  examples/dsl/v2/feature_imputation/feature_imputation_method_job_dsl.json
  examples/dsl/v2/feature_imputation/feature_imputation_testsuite.json
  examples/dsl/v2/label_transform/README.md
  examples/dsl/v2/label_transform/label_transform_encoder_wo_label_list_conf.json
  examples/dsl/v2/label_transform/label_transform_testsuite.json
  examples/pipeline/feature_imputation/pipeline-feature-imputation-method.py
  examples/pipeline/label_transform/README.md
  examples/pipeline/label_transform/pipeline-label-transform-encoder-wo-label-list.py
  python/fate_client/pipeline/param/feature_imputation_param.py
  python/fate_client/pipeline/param/label_transform_param.py
  python/federatedml/feature/fate_element_type.py
  python/federatedml/feature/feature_imputation.py
  python/federatedml/feature/imputer.py
  python/federatedml/model_selection/data_split/data_split.py
  python/federatedml/model_selection/data_split/hetero_data_split.py
  python/federatedml/model_selection/data_split/homo_data_split.py
  python/federatedml/param/feature_imputation_param.py
  python/federatedml/param/label_transform_param.py
  python/federatedml/util/label_transform.py
Labels: bug, enhancement, federatedml

#4059 fixed bug for optim _receive_obj func memory for federation (#3866)
  python/fate_arch/federation/_federation.py
Labels: bug

#4062 fix parameter init problem, #4032
  python/federatedml/param/callback_param.py
  python/federatedml/param/column_expand_param.py
  python/federatedml/param/feldman_verifiable_sum_param.py
  python/federatedml/param/homo_onehot_encoder_param.py
  python/federatedml/param/pearson_param.py
  python/federatedml/param/sir_param.py
  python/federatedml/param/statistics_param.py
Labels: bug

#4060 Feature 1.9.0 feature engineering optimize
  python/federatedml/feature/binning/base_binning.py
  python/federatedml/feature/binning/bin_inner_param.py
  python/federatedml/feature/binning/iv_calculator.py
  python/federatedml/feature/feature_scale/base_scale.py
  python/federatedml/feature/feature_scale/min_max_scale.py
  python/federatedml/feature/feature_scale/standard_scale.py
  python/federatedml/feature/feature_selection/iso_model_filter.py
  python/federatedml/feature/feature_selection/manually_filter.py
  python/federatedml/feature/feature_selection/selection_properties.py
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_host.py
  python/federatedml/feature/one_hot_encoder.py
  python/federatedml/feature/scale.py
  python/federatedml/protobuf/generated/feature_binning_param_pb2.py
  python/federatedml/protobuf/proto/feature-binning-param.proto
  python/federatedml/statistic/data_statistics.py
  python/federatedml/transfer_variable/transfer_class/hetero_feature_binning_transfer_variable.py
Labels: federatedml

#4002 fix correlation filter (#3936)
  python/federatedml/feature/feature_selection/correlation_filter.py
Labels: bug, federatedml
