Repository FederatedAI/FATE, pull requests merged in 2022-02, with the labels that each got.

#3692 fixed default q_filed for spdz
  python/federatedml/secureprotol/spdz/spdz.py
Labels: bug

#3694 clean examples
  doc/api/fate_test.md
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/poisson_regression.md
  examples/dsl/v2/hetero_sshe_poisson/README.md
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_conf.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_cv_conf.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_cv_dsl.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_dsl.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_predict_conf.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_predict_dsl.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_validate_conf.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_validate_dsl.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_warm_start_conf.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_poisson_warm_start_dsl.json
  examples/dsl/v2/hetero_sshe_poisson/hetero_sshe_poisson_testsuite.json
  examples/pipeline/hetero_sshe_poisson/README.md
  examples/pipeline/hetero_sshe_poisson/__init__.py
  examples/pipeline/hetero_sshe_poisson/hetero_sshe_poisson_testsuite.json
  examples/pipeline/hetero_sshe_poisson/pipeline-hetero-poisson-cv.py
  examples/pipeline/hetero_sshe_poisson/pipeline-hetero-poisson-validate.py
  examples/pipeline/hetero_sshe_poisson/pipeline-hetero-poisson-warm-start.py
  examples/pipeline/hetero_sshe_poisson/pipeline-hetero-poisson.py
  python/fate_client/pipeline/component/__init__.py
  python/fate_client/pipeline/component/hetero_sshe_poisson.py
  python/fate_client/pipeline/param/__init__.py
  python/fate_client/pipeline/param/hetero_sshe_poisson_param.py
  python/federatedml/components/hetero_sshe_poisson.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_model.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_regression/hetero_linr_guest.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_linear_regression/hetero_linr_host.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_logistic_regression/hetero_lr_host.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_poisson_regression/__init__.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_poisson_regression/hetero_poisson_guest.py
  python/federatedml/linear_model/bilateral_linear_model/hetero_sshe_poisson_regression/hetero_poisson_host.py
  python/federatedml/param/hetero_sshe_poisson_param.py
Labels: federatedml, examples

#3706 Feature 1.7.2 lr
  python/fate_client/pipeline/param/logistic_regression_param.py
  python/federatedml/framework/hetero/procedure/batch_generator.py
  python/federatedml/linear_model/linear_model_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/model_selection/indices.py
  python/federatedml/model_selection/mini_batch.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
  python/federatedml/param/logistic_regression_param.py
  python/federatedml/util/data_transform.py
Labels: enhancement, federatedml

#3708 fix sqn compute gradient parameter
  python/federatedml/optim/gradient/hetero_sqn_gradient.py
Labels: bug

#3709 Feature 1.7.2 dy lr
  doc/federatedml_component/sir.md
  doc/images/sshe-lr_forward.png
  python/federatedml/linear_model/logistic_regression/hetero_sshe_logistic_regression/hetero_lr_base.py
  python/federatedml/linear_model/logistic_regression/hetero_sshe_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_sshe_logistic_regression/hetero_lr_host.py
Labels: bug

#3711 optimize mini batch generator logic and hetero-lr batch logic
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/model_selection/mini_batch.py
  python/federatedml/optim/gradient/hetero_linear_model_gradient.py
  python/federatedml/optim/gradient/hetero_lr_gradient_and_loss.py
Labels: bug, federatedml

#3713 enhance encrypt_mode tool
  python/fate_client/pipeline/param/hetero_nn_param.py
  python/federatedml/param/encrypted_mode_calculation_param.py
  python/federatedml/param/hetero_nn_param.py
  python/federatedml/secureprotol/encrypt_mode.py
Labels: enhancement, federatedml

#3721 Feature 1.7.2 lr
  python/federatedml/framework/hetero/procedure/batch_generator.py
  python/federatedml/framework/hetero/sync/batch_info_sync.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_guest.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_host.py
  python/federatedml/model_selection/mini_batch.py
  python/federatedml/secureprotol/encrypt_mode.py
  python/federatedml/transfer_variable/transfer_class/hetero_lr_transfer_variable.py
Labels: federatedml

#3724 modify fate-client\test's version
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
  python/fate_test/pyproject.toml
  python/fate_test/setup.py
Labels: enhancement

#3726 remove tensorflow-keras and pytorch dependencies of fate-client
  python/fate_client/pipeline/component/__init__.py
  python/fate_client/pipeline/component/nn/backend/keras/model_builder.py
  python/fate_client/pipeline/component/nn/backend/pytorch/model_builder.py
  python/fate_client/pipeline/component/nn/models/sequantial.py
  python/fate_client/pyproject.toml
  python/fate_client/setup.py
Labels: enhancement

#3732 fixed benchmarck_performance training dsl
  examples/benchmark_performance/hetero_lr/test_hetero_lr_train_job_dsl.json
  examples/benchmark_performance/hetero_sbt/test_hetero_secureboost_train_job_dsl.json
Labels: bug

#3731 remove doc
  RELEASE.md
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/logistic_regression.md
  doc/federatedml_component/sbt_feature_transformer.md
  fate.env
Labels: federatedml, document

#3734 Feature 1.7.2 suite update
  examples/dsl/v2/hetero_secureboost/hetero_secureboost_testsuite.json
  examples/dsl/v2/hetero_secureboost/test_EINI_predict_conf.json
  examples/dsl/v2/hetero_secureboost/test_secureboost_EINI_with_ramdom_mask_conf.json
  examples/pipeline/hetero_sbt/hetero_secureboost_testsuite.json
  examples/pipeline/hetero_sbt/pipeline-hetero-sbt-EINI-with-random-mask.py
Labels: federatedml

#3735 update examples of hetero-linr
  doc/federatedml_component/logistic_regression.md
  examples/dsl/v2/hetero_linear_regression/hetero_linr_testsuite.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_cv_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_multi_host_cv_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_multi_host_predict_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_multi_host_train_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sample_weight_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sparse_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sparse_sqn_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sparse_sqn_job_dsl.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sqn_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_train_sqn_job_dsl.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_validate_job_conf.json
  examples/dsl/v2/hetero_linear_regression/test_hetero_linr_warm_start_job_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_logistic_regression_testsuite.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_ovr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sparse_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_conf.json
  examples/dsl/v2/hetero_logistic_regression/hetero_lr_sqn_dsl.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_cv_job_conf.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_train_sparse_job_conf.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_validate_job_conf.json
  examples/dsl/v2/hetero_poisson_regression/test_hetero_poisson_warm_start_job_conf.json
  examples/dsl/v2/hetero_stepwise/test_hetero_stepwise_linr_conf.json
  examples/dsl/v2/hetero_stepwise/test_hetero_stepwise_lr_conf.json
  examples/dsl/v2/hetero_stepwise/test_hetero_stepwise_poisson_conf.json
  examples/pipeline/hetero_linear_regression/hetero_linr_testsuite.json
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-cv.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-multi-host-cv.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-multi-host.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-sparse-sqn.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-sparse.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-sqn.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-validate.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr-warm-start.py
  examples/pipeline/hetero_linear_regression/pipeline-hetero-linr.py
  examples/pipeline/hetero_logistic_regression/hetero_logistic_regression_pipeline_testsuite.json
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-ovr-sqn.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sparse-sqn.py
  examples/pipeline/hetero_logistic_regression/pipeline-hetero-lr-sqn.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-cv.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-sparse.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-validate.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson-warm-start.py
  examples/pipeline/hetero_poisson/pipeline-hetero-poisson.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-linr.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-lr.py
  examples/pipeline/hetero_stepwise/pipeline-stepwise-poisson.py
  python/fate_client/pipeline/param/logistic_regression_param.py
  python/federatedml/linear_model/linear_model_weight.py
  python/federatedml/linear_model/linear_regression/hetero_linear_regression/hetero_linr_base.py
  python/federatedml/linear_model/logistic_regression/hetero_logistic_regression/hetero_lr_base.py
  python/federatedml/optim/gradient/hetero_linr_gradient_and_loss.py
  python/federatedml/optim/gradient/hetero_sqn_gradient.py
  python/federatedml/param/logistic_regression_param.py
Labels: federatedml, examples

#3737 pep8 format for linear_model_weight
  python/federatedml/linear_model/linear_model_weight.py
Labels: federatedml
