Repository FederatedAI/FATE, pull requests merged in 2023-03, with the labels that each got.

#4675 fix(arch): fix lmdb bug
  python/fate/arch/_standalone.py
Labels: bug

#4690 update dataframe: code clean, some bug-fix, support vstack and hstack
  python/fate/arch/dataframe/_dataframe.py
  python/fate/arch/dataframe/_frame_reader.py
  python/fate/arch/dataframe/io/_json_serialization.py
  python/fate/arch/dataframe/manager/block_manager.py
  python/fate/arch/dataframe/manager/schema_manager.py
  python/fate/arch/dataframe/ops/__init__.py
  python/fate/arch/dataframe/ops/_arithmetic.py
  python/fate/arch/dataframe/ops/_cmp.py
  python/fate/arch/dataframe/ops/_compress_block.py
  python/fate/arch/dataframe/ops/_indexer.py
  python/fate/arch/dataframe/ops/_predict_result_transformaton.py
  python/fate/arch/dataframe/ops/_secure_boost_ops.py
  python/fate/arch/dataframe/ops/_set_item.py
  python/fate/arch/dataframe/ops/_stack.py
Labels: enhancement, arch

#4701 Feature 2.0.0 beta dataframe update
  python/fate/arch/dataframe/_dataframe.py
  python/fate/arch/dataframe/io/_json_serialization.py
  python/fate/arch/dataframe/manager/block_manager.py
  python/fate/arch/dataframe/manager/data_manager.py
  python/fate/arch/dataframe/ops/__init__.py
  python/fate/arch/dataframe/ops/_arithmetic.py
  python/fate/arch/dataframe/ops/_stat.py
  python/fate/arch/dataframe/ops/_transformer.py
  python/fate/arch/dataframe/ops/utils/__init__.py
  python/fate/arch/dataframe/ops/utils/series_align.py
Labels: enhancement, arch

#4674 fix(arch): fix lmdb error
  python/fate_arch/_standalone.py
Labels: bug

#4725 Feature 1.11.0 fate flow
  conf/service_conf.yaml
  python/fate_arch/common/conf_utils.py
  python/fate_arch/common/encrypt_utils.py
Labels: arch

#4728 fix exactly_sample for spark (#4721)
  python/fate_arch/computing/spark/_table.py
Labels: bug

#4712 fix bin num(#4711)
  python/federatedml/feature/binning/base_binning.py
  python/federatedml/feature/binning/bin_result.py
  python/federatedml/feature/hetero_feature_binning/base_feature_binning.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_guest.py
  python/federatedml/feature/hetero_feature_binning/hetero_binning_host.py
Labels: bug, federatedml

#4726 Feature 1.11.0 exclusive type bug fix
  python/federatedml/util/data_transform.py
  python/federatedml/util/fixpoint_solver.py
Labels: bug
