Repository FederatedAI/FATE, pull requests merged in 2023-05, with the labels that each got.

#4856 Feature 1.11.2 complete secure update
  python/fate_client/pipeline/component/hetero_ftl.py
  python/fate_client/pipeline/param/boosting_param.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/tree_plan.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
  python/federatedml/param/boosting_param.py
Labels: bug, enhancement, federatedml

#4869 Support FATE-LLM 1.1 And Support DeepSpeed
  python/fate_client/pipeline/component/homo_nn.py
  python/fate_client/pipeline/param/homo_nn_param.py
  python/federatedml/nn/backend/torch/cust.py
  python/federatedml/nn/backend/utils/common.py
  python/federatedml/nn/backend/utils/deepspeed_util.py
  python/federatedml/nn/backend/utils/distributed_util.py
  python/federatedml/nn/dataset/base.py
  python/federatedml/nn/dataset/nlp_tokenizer.py
  python/federatedml/nn/homo/client.py
  python/federatedml/nn/homo/trainer/fedavg_trainer.py
  python/federatedml/nn/homo/trainer/trainer_base.py
  python/federatedml/nn/model_zoo/pellm/albert.py
  python/federatedml/nn/model_zoo/pellm/bart.py
  python/federatedml/nn/model_zoo/pellm/bert.py
  python/federatedml/nn/model_zoo/pellm/deberta.py
  python/federatedml/nn/model_zoo/pellm/distillbert.py
  python/federatedml/nn/model_zoo/pellm/gpt2.py
  python/federatedml/nn/model_zoo/pellm/parameter_efficient_llm.py
  python/federatedml/nn/model_zoo/pellm/roberta.py
  python/federatedml/param/homo_nn_param.py
  python/federatedml/util/consts.py
  python/requirements-fate-llm.txt
  python/requirements.txt
Labels: bug, enhancement, federatedml

#4871 update fate_llm requirements
  python/requirements-fate-llm.txt
Labels: dependencies

#4872 Feature 1.11.2 complete secure fix
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/loss/cross_entropy.py
  python/federatedml/ensemble/basic_algorithms/decision_tree/tree_core/tree_plan.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_guest.py
  python/federatedml/ensemble/secureboost/hetero_secoreboost/hetero_secureboost_host.py
Labels: federatedml

#4834 fix doc
  doc/tutorial/fate_llm/GPT2-multi-task.ipynb
Labels: document

#4881 update doc of fate-v1.11.2
  README.md
  README_zh.md
  deploy/cluster-deploy/doc/fate_on_spark/fate_on_spark_deployment_guide.zh.md
  deploy/standalone-deploy/README.md
  deploy/standalone-deploy/README.zh.md
  doc/federatedml_component/README.md
  doc/federatedml_component/README.zh.md
  doc/federatedml_component/fate_llm.md
  doc/images/gpt-2_training_time_improvement.png
  doc/images/llm_model_parameter_amount.png
  doc/images/parameter_efficient_of_gpt-2.png
  doc/tutorial/fate_llm/GPT2-example.ipynb
  doc/tutorial/fate_llm/GPT2-multi-task.ipynb
  doc/tutorial/fate_llm/README.md
Labels: document
